[2020-12-18 20:53] BrianN92 commented on #261
Hi @michaeltryby the path is same for each call. One thing you do remind me is after each time I run the script, I always got many warnings. See the screenshot below. Could this be a reason of the error?
I have never seen this before in the Windows OS. However, I have to run pyswmm in Linux now due to my project requirements.

![image](https://user-images.githubusercontent.com/21299740/102660234-b

[2020-12-18 21:40] michaeltryby commented on #261
@BrianN92 I think what is happening is that the OS is lagging when it releases the binary file. Then when you try to make your next run it can't open the file because it hasn't been released yet. So what you need to do is make the path to the binary file unique for each subprocess call you make. This is usually done by creating a folder with a unique name in the temp files directory, copying the i

[2020-12-18 21:59] michaeltryby commented on #261
@BrianN92 Another quick question for you . Are you building SWMM yourself or are you using pyswmm from pypi?

[2020-12-20 02:17] BrianN92 commented on #261
@michaeltryby Thank you, I think I get your points.

Btw, I install the pyswmm on Linux from pypi. Could be some default settings come alone with the installation, but I have no idea where to modify them. One thing to note is I got those warnings when executing scripts in command line. However, when I run scripts in Spyder, those warnings were just disappeared...

[2020-12-20 02:29] Jiadalee commented on #261
@BrianN92 Which linux environment do you use? would you mind posting some sample codes so that I can help you test in my side? I used to run pyswmm simulations in my university Linux high-performance node. Hope I can be helpful.

[2020-12-22 01:23] BrianN92 commented on #261
@Jiadalee Thanks for your kindness but I am afraid I cannot share my code.

[2020-12-22 01:25] BrianN92 commented on #261
@michaeltryby I tried your way, but still got the same error. It cannot open the binary result file after 4 mins each time... Very strange thing.

[2020-12-22 02:05] michaeltryby commented on #261
@BrianN92 how many simulations do you figure you are running in 4 minutes?

[2020-12-22 14:26] michaeltryby commented on #261
@BrianN92 Thinking about this more ... It's likely that ERROR 307 is a side effect of the bug rather than the bug itself. Since the file fails to open after 4 minutes, perhaps there is a time out associated with the subprocess that is expiring?

[2020-12-22 19:47] BrianN92 commented on #261
@michaeltryby There are around 210 simulations has been run in 4 minutes. Sorry, but I am not quite getting the "time out" you mentioned.

[2020-12-22 20:10] michaeltryby commented on #261
@BrianN92 The OS may have a limit on the maximum number of open files allowed at one time. Are you sure that the binary files are getting closed properly?

A time out is a maximum time allowed for an operation before it is considered failed. Many system functions have them. So perhaps Python subprocesses have them too. Just trying to think out of the box.

[2020-12-29 19:54] BrianN92 commented on #261
Thanks @michaeltryby ! I get your point. So I guess my question is: Is there a way to manually close the binary files using pyswmm?

[2021-01-03 05:28] BrianN92 commented on #261
So I finally fixed this issue. Turns out the Linux OS have a default limit on the maximum number of open files as 1024. I set the number inside the "limit.config" to a large enough threshold as well as added the` sim.close()`. Now the code is able to run without errors. Huge thanks to @michaeltryby and @bemcdonnell !

[2021-01-03 05:28] #261 closed

[2021-01-05 18:50] jennwuu opened #263 "Deprecate DLL selector function"
PySWMM v1.0 refactors swmm5 module to use [swmm-toolkit](https://github.com/OpenWaterAnalytics/swmm-python) to interact with model data from [SWMM API](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model).

Due to this change, the ability to select different .dll, dylib, and .so is removed after version 1.0.

[2021-01-05 18:52] jennwuu opened #264 "Refactor PySWMM to use swmm-toolkit package"
Refactor pyswmm swmm5 module to use [swmm-toolkit](https://github.com/OpenWaterAnalytics/swmm-python) package to interact with model data from [SWMM API](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model) instead of using ctypes and .dll.

[2021-01-05 18:55] jennwuu opened #265 "Repository clean up"
Clean up PySWMM repository by deleting unused files:
- travisCI.yml (not necessary with swmm-toolkit replacement)
- .ciocheck
- .coveragerc
- setup.cfg
- .dll files and references
- requirements-test.txt
- requirements-travis.txt

[2021-01-08 08:46] xie-kun opened #266 "The <conduit_statistics> and <Pump_statistics >can't use: 'Conduit' object has no attribute 'statistics'"
Could you tell me how to use <conduit_statistics>and <Pump_statistics > ? I want to get the <total_volume>, but I can't get the result by the function<link.Pump_statistics>,my code as follow:

    with Simulation('new.inp') as sim:
        link_oj = Links(sim)
        node_oj = Nodes(sim)
        J56 = node_oj['J56']
        pump18 = link_oj['18']
        orif15 = link_oj['15']
        orif17 = li

[2021-01-08 14:49] jennwuu commented on #266
are you looking for (conduit statistics)[https://pyswmm.readthedocs.io/en/latest/reference/links.html#pyswmm.links.Conduit]?

[2021-01-08 15:20] jennwuu commented on #266
maybe you can try something like this?

[code]

[2021-01-09 01:06] xie-kun commented on #266
Yes!

[2021-01-09 01:16] xie-kun commented on #266
I try it, but the compiler still report errors. My Python version is 3.7 on Windows 10 ，and the Integrated development tooling is Pycharm.

from pyswmm import Simulation, Links, Nodes

    with Simulation('new.inp') as sim:
        link_oj = Links(sim)
        node_oj = Nodes(sim)
        J56 = node_oj['J56']
        pump18 = link_oj['18']
        orif15 = link_oj['15']
        orif17 = link_oj['1

[2021-01-09 01:41] jennwuu commented on #266
What kind of errors are you getting? Do you mind sharing the model .inp file?

[2021-01-09 02:02] xie-kun commented on #266
The errors as following:

  File "E:\Python3\install\lib\site-packages\pyswmm\links.py", line 984, in conduit_statistics
    return self._model.conduit_statistics(self.linkid)
  File "E:\Python3\install\lib\site-packages\pyswmm\swmm5.py", line 1785, in conduit_statistics
    self._error_check(errcode)
  File "E:\Python3\install\lib\site-packages\pyswmm\swmm5.py", line 165, in _error_check
    rais

[2021-01-09 02:05] jennwuu commented on #266
ahh, I think statistics is only available at the end of the simulation. Are you trying to calculate the total volume at each simulation time step?

[2021-01-09 02:05] xie-kun commented on #266
How can I sharing the inp file to you ?

[2021-01-09 02:05] #266 closed

[2021-01-09 02:11] jennwuu commented on #266
@xie-kun

Maybe you can try something like this?

[code]

[2021-01-09 02:14] xie-kun commented on #266
I really want to get the volume at each time step ，and I have some confuse the total volume just represent the volume at each time step？or the volume  of the entire simulation？

[2021-01-09 02:23] xie-kun commented on #266
And I can't use the conduit_statistics in any way ，include the volume at the end of simulation. When I write the code about conduit_statistics , the code  will display errors. I'm really  confused .

[2021-01-09 02:36] jennwuu commented on #266
Did you try the code snippet I provided in the post above? The one with dictionary?

[2021-01-09 02:37] xie-kun commented on #266
Thank you very much！when I try it in this way I can get the result , but I still can't understand why I can't use the conduit_statistics directly?

[2021-01-09 03:00] jennwuu commented on #266
conduits function is only available at the end of a simulation

[2021-01-09 03:59] xie-kun commented on #266
Like the code you provided above ? But I still can't execute it.

with Simulation('new.inp') as sim:
    link_oj = Links(sim)
    node_oj = Nodes(sim)
    J56 = node_oj['J56']
    pump18 = link_oj['18']
    orif15 = link_oj['15']
    orif17 = link_oj['17']
    for link in link_oj:
        i=i+1
        if link.is_conduit():
            link.conduit_statistics
        elif link.is_pump():

[2021-01-09 04:00] jennwuu commented on #266
Yeah, ignore this example. I made a mistake. If the other example is usable, then I think we can close this issue. :D

[2021-01-12 15:09] #263 closed

[2021-01-12 15:09] #264 closed

[2021-01-12 15:09] #265 closed

[2021-01-12 15:09] #218 closed

[2021-01-13 17:34] jennwuu opened #267 "Add swmm-toolkit package as an install_require in setup.py"

[2021-01-13 17:36] #267 closed

[2021-01-14 00:31] michaeltryby opened #268 "readthedocs build is broken"
[code]

[2021-01-29 00:11] bdb3m opened #269 "Report fails to write with time series"
I'm getting SWMM error 309: error writing to binary results file, when writing long time series and am not sure if it's an OS error or a pyswmm error. The report writes correctly if I don't specify any node or link time series, but hangs on an incomplete line and doesn't write the summaries if time series are included:
![image](https://user-images.githubusercontent.com/22157448/106213395-9524b200-

[2021-02-01 04:47] jlonghku opened #270 "Failed installation for the latest version"
**Describe the bug**
Hi, I tried to install the newest verison 1.0.1 with pip (also tried pip3), but it failed.
I am working with ubuntu 18.04 and run the command pip install pyswmm as the guide said
Here is the log I got:
[code]
Is it a bug or anyone can help fix the problem?

[2021-02-01 07:22] #270 closed

[2021-02-01 15:23] jennwuu commented on #270
@jlonghku pyswmm installation for linux is an known issue for swmm-python:
https://github.com/OpenWaterAnalytics/swmm-python/issues/59

I would suggest using v0.6.3 for now. Thanks!

[2021-02-01 18:33] michaeltryby commented on #270
@jlonghku from the build log it appears that it is trying to build swmm-toolkit from source but SWIG dependency is missing. Install SWIG "sudo apt install swig" and the build should work for you.

[2021-02-02 04:45] jlonghku commented on #270
Thanks so much! I will try it.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Michael Tryby <notifications@github.com>
Sent: Tuesday, February 2, 2021 2:34:05 AM
To: OpenWaterAnalytics/pyswmm <pyswmm@noreply.github.com>
Cc: jlonghku <jlong@connect.hku.hk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenWaterAnalytics/pyswmm] Failed installation for t

[2021-02-12 16:04] Rellis883 opened #271 "Pyswmm Installation failed to Build "swmm-toolkit""
Trying to Install Pyswmm-1.0.1
Note: Have already tried installing Visual Studio (current and 2017 version), but pip did not register it

C:\Users\andre>pip install pyswmm
Collecting pyswmm
  Using cached pyswmm-1.0.1-py3-none-any.whl (88 kB)
Collecting swmm-toolkit>=0.8.1
  Using cached swmm-toolkit-0.8.1.zip (644 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel

[2021-02-12 16:18] jennwuu commented on #271
@Rellis883 Can you try reinstalling with python 64 bit? 32-bit is not supported in pyswmm v1.0.0+

[2021-02-12 19:25] michaeltryby commented on #271
Need to pin down aenum dependency to v2.2.6. SWMM-toolkit does not work with v3.0.0.

[2021-02-12 21:41] Rellis883 commented on #271
@jennwuu I reinstalled with 64 bit and still got the same error

[2021-02-12 21:52] Rellis883 commented on #271
@michaeltryby I installed aenum-2.2.6 and still got same error

Collecting pyswmm
  Using cached pyswmm-1.0.1-py3-none-any.whl (88 kB)
Collecting swmm-toolkit>=0.8.1
  Using cached swmm-toolkit-0.8.1.zip (644 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: aenum in d:\python program\lib

[2021-02-12 22:26] jennwuu commented on #271
Hmmm, it shouldn't be trying to build swmm-toolkit. It should be downloading from a whl file instead. @michaeltryby

[2021-02-12 23:07] Rellis883 commented on #271
@jennwuu

C:\Users\andre>pip install pyswmm --no-cache-dir
Collecting pyswmm
  Downloading pyswmm-1.0.1-py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 2.0 MB/s
Collecting swmm-toolkit>=0.8.1
  Downloading swmm-toolkit-0.8.1.zip (644 kB)
     |████████████████████████████████| 644 kB 6.8 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ...

[2021-02-13 06:18] jennwuu commented on #271
@Rellis883 Can you double check to see if your pip is using python 64-bit?

[2021-02-13 06:21] jennwuu commented on #271
@Rellis883 you can also try to installing swmm-toolkit using the .whl files from https://pypi.org/project/swmm-toolkit/0.8.1/#files

[2021-02-13 10:20] kevincasipillai commented on #271
I got the exact same error.
im using windows 10, python 3.9 x64 and the latest version of pip trying to install pyswmm.

[2021-02-13 11:04] kevincasipillai commented on #271
this is the message i get:

C:\Users\KevinCasipillai>pip install pyswmm
Collecting pyswmm
  Using cached pyswmm-1.0.1-py3-none-any.whl (88 kB)
Collecting swmm-toolkit>=0.8.1
  Using cached swmm-toolkit-0.8.1.zip (644 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: aenum in c:\users\kevi

[2021-02-13 16:20] jennwuu commented on #271
@kevincasipillai thanks. I'm not sure why swmm-toolkit installation is being built instead of installation from .whl files. @michaeltryby thoughts what could be the issue?

[2021-02-13 16:27] jennwuu commented on #271
@kevincasipillai Oh I see. @michaeltryby We don't have a .whl file for python 3.9 which is causing swmm-toolkit installation to go through build instead of installation from .whl https://pypi.org/project/swmm-toolkit/0.8.1/#files

@michaeltryby Can we add .whl for swmm-toolkit for python 3.9?

@kevincasipillai swmm-toolkit should install for Python versions 3.6 to 3.8 64-bit. Can you try with anot

[2021-02-13 16:28] jennwuu commented on #271
@Rellis883 swmm-toolkit should install for Python versions 3.6 to 3.8 64-bit. Can you try with another python installation? Thank you for your patience!

[2021-02-13 17:35] kevincasipillai commented on #271
@jennwuu im sorry Im not too Good at Python and have had issues Running my scripts after changing from Python 3.6 to 3.9 so maybe i Think i Will wait until it works with Python 3.9 - Thank you Very Much for the Quick responsen :-)

[2021-02-13 17:40] Rellis883 commented on #271
@jennwuu @michaeltryby I got PySWMM to successfully install after changing Python to version 3.8 64 Bit and having aenum 2.2.6. Thank you so much for your help and quick responses!

[2021-02-13 17:40] #271 closed

[2021-02-20 15:10] attilabibok opened #272 "name 'US' is not defined - enumeration bug"
Hi,

I get the "name 'US' is not defined" NameError message during importing any module from the pyswmm package.

  File "C:\Users\Bibok Attila\AppData\Local\Programs\Python\Python38\lib\site-packages\pyswmm\__init__.py", line 11, in <module>
    from pyswmm.links import Link, Links
  File "C:\Users\Bibok Attila\AppData\Local\Programs\Python\Python38\lib\site-packages\pyswmm\links.py", line 9, in

[2021-02-20 15:15] jennwuu commented on #272
Thank you for catching this error. It will be addressed in the next release.

In the meantime, can you use instead?
[code]

[2021-02-20 15:22] jennwuu commented on #272
@attilabibok I looked into the error further. This error is caused by aenum. Can you downgrade aenum to v2.2.6?

SWMM-toolkit does not work with v3.0.0.

[2021-02-20 16:49] attilabibok commented on #272
Thank you for the workaround. The downgrading worked.

[2021-02-21 15:37] attilabibok opened #273 "Opening project using external timeseries files"
Hi,

I was running some project of mine using the toolkit and the toolkit gives me the following error when I try to open a project with external time-series files:

The problem can be reproduced easily. Just add an external time-series to the model with a relative path. Put them in the same folder with the project, giving just the filename of the text file containing the series as the path.

If y

[2021-02-22 13:42] #273 closed

[2021-02-22 16:04] jennwuu commented on #273
@attilabibok Can you share the error you are seeing in the .rpt file? Also, can you share the relative path within the inp file?

[2021-02-24 17:19] jennwuu opened #274 "Port SWMM output functions into PySWMM from swmm-python"
Port SWMM output functions into PySWMM from swmm-python

[2021-02-26 16:01] tamaddun commented on #246
@yangdong963 Are you aware of any update on this?

[2021-02-26 16:42] jennwuu commented on #246
@tamaddun I am still working on this feature. It's more complex than I originally thought and that's why it is delayed.

[2021-02-26 17:09] tamaddun commented on #246
@jennwuu Thank you. Rooting for you!

[2021-03-10 20:33] jennwuu commented on #269
@bdb3m Can you share code where you used pyswmm?

[2021-03-10 22:33] jennwuu commented on #269
@bdb3m

I ran your code with my own model .inp file successfully. I used pyswmm==1.0.1.

Reviewing the code you shared, I noticed one minor thing:

[code]

Note that you do not need to close Simulation object when you use context manager. `with` will close your simulation object once you're done with it.

----

I tested again with pyswmm v0.6.0, and I saw the error as described. Can you try your c

[2021-03-10 23:41] bdb3m commented on #269
I am using pyswmm v0.6.0; I'll try with v1.0.1. Seems like that will fix my issue, but I will let you know if not.

Thanks for your help and sharing the Output module PR! Looks like a great addition!

[2021-03-11 21:29] bdb3m commented on #269
@jennwuu I had a chance to upgrade to pyswmm 1.0.1 and the report wrote correctly and we can close this issue. Thanks again for your help!!

Out of curiousity, do you have any ideas why 0.6.0 had that issue?

[2021-03-11 22:24] jennwuu commented on #269
I think in v0.6.0, swmm_end() cannot be called after swmm_report(). This does not seem to be an issue with pyswmm v1.0.1.

[2021-03-11 22:25] #269 closed

[2021-03-18 19:21] Nils-TalTech opened #276 "version 1.0.1 cannot read inp files with "õ, ä, ö, ü" in the name or path"
**Describe the bug**
When opening input files where letters "õ", "ä", "ö" or "ü" are in the name of the file or in the path (catalogue) pyswmm returns error message "ERROR 303: cannot open input file."

The issue was solved when I downgraded back to version 0.6.2

**To Reproduce**
For example file name "Söderhamn.inp" resulted that error message while "Soderhamn.inp" resulted expected behaviour (n

[2021-03-18 19:27] bemcdonnell commented on #276
@Nils-TalTech, I believe this is actually a problem with SWMM, not PySWMM.  I am going to move this issue to SWMM's project.

[2021-03-25 20:51] mrustl commented on #107
Would be happy to see v1.0.1 on conda as I have problems installing the latest version using `pip` ....

[2021-03-26 13:12] michaeltryby commented on #107
What problem are you having? Are you running pyswmm on Linux?

[2021-04-09 14:28] Zeeck972 opened #277 "Subcatchment percent impervious can't be set"
The documentation mentions that  the subcatchment percent impervious can be set to another value, but in the latest version it is not valid.

![subcatchment](https://user-images.githubusercontent.com/82164554/114193027-b5ce6c80-9980-11eb-9ea6-bfa055d75afe.png)

It is also invalid in version 0.6.2,but the function is work in v0.5.0.I'm not sure in which recent version this bug occurred.

I also wan

[2021-04-09 14:46] jennwuu commented on #277
This is an known bug in previous versions of pyswmm. It is documented here: https://github.com/OpenWaterAnalytics/pyswmm/issues/246

[2021-04-09 16:31] Zeeck972 commented on #277
Thank you for your reply. Maybe I can use the history version first.Could you tell me about Infiltration Model and CN value setting?

[2021-04-09 16:38] jennwuu commented on #277
@Zeeck972 I don't think impervious fraction works in previous versions of pyswmm. Although pyswmm setters were set up, I don't think the variables were updating in the swmm model. Please test if you do go through with previous version of pyswmm.

You can check out docs for subcatchment object here: https://pyswmm.readthedocs.io/en/latest/reference/subcatchments.html#pyswmm.subcatchments.Subcatchme

[2021-04-09 16:52] openSourcerer9000 opened #278 "DELETING MY SWMM RESULTS. This library is a virus"
I installed pyswmm to see if it was a better alternative for grabbing time series data than PCSWMM's pcpy package. Big mistake. I tried out the recipe for getting depth timeseries of a single node.

[code]

And it hangs. Oh boy does it hang. In fact it still is, 30 min later. "Retrieving project data" it says. Well let's see how all that project data is doing...

![image](https://user-images.githu

[2021-04-09 17:03] bemcdonnell commented on #278
@openSourcerer9000, have you ever considered the possibility that you just don't know how to use this package?

[2021-04-09 17:03] #278 closed

[2021-04-09 17:08] bemcdonnell commented on #278
@openSourcerer9000, why don't you try this:

[code]

Next time you want to write rude comments on a community open source project, maybe read the documentation first.  Lots of people have come together to make this project happen.

[2021-04-09 17:16] jennwuu commented on #278
If you're trying to read .out file from an existing model result, do not iterate your simulation object:

[code]

This will re-run your model because the code will iterate your simulation object per routing time step.  If you're trying to access your model output result for an existing model run, you need to check out (swmm-python)[https://github.com/OpenWaterAnalytics/swmm-python] or wait for the

[2021-04-09 17:22] michaeltryby commented on #278
@openSourcerer9000 I'm sorry that you are experiencing problems with pyswmm and are frustrated. It is not acceptable to post belligerent  comments on the issue boards. I know all too well; I've made the same mistake many times myself.

Take the time to cool down and then we will try to help you and make pyswmm better.

[2021-04-09 17:25] bemcdonnell commented on #278
@openSourcerer9000, here is a link to our Code of Conduct:

https://github.com/OpenWaterAnalytics/pyswmm/wiki/Contributor-Covenant-Code-of-Conduct

[2021-04-09 19:23] michaeltryby commented on #278
If I understand this issue. I think the user wants to pull time series out of an existing binary output file. So the most straight forward approach would be to use the output API.

[2021-04-09 19:45] jennwuu commented on #278
This feature should be helpful with this request: https://github.com/OpenWaterAnalytics/pyswmm/pull/275

[2021-04-09 20:08] bemcdonnell commented on #278
@michaeltryby Yes, that was my observation too.  What I suppose we should do is clearly spell that out in the ReadTheDocs when we get the auto-build working again.

[2021-04-12 14:44] michaeltryby opened #279 "Provide warning when existing files may be over written"
pyswmm should throw a warning when calling a function causes an existing file -- a binary output file or report file -- to be over written.

[2021-04-12 14:47] lrntct commented on #279
Maybe provide an overwrite flag to the relevant functions?

[2021-04-12 14:47] michaeltryby opened #280 "Provide indicator that the simulation is running"
When running long simulations or large models using pyswmm from the command line long periods of no activity give the user the impression that the software is "hanging".

Pyswmm should provide an indicator when it is running.

[2021-04-12 14:50] michaeltryby opened #281 "Improve documentation and examples as part of bringing Output API into simulation module"
See PR #275

[2021-04-12 15:18] jennwuu commented on #279
Should the overwrite flag be set to True as default to maintain previous behaviour?

[2021-04-12 16:11] michaeltryby commented on #279
@jennwuu I would say no it shouldn't because the previous over writing behavior was considered a bug.

[2021-04-17 03:19] xie-kun opened #282 "How to get the statistics information for pump?"
Is there any way to get the switching times of the pump station by statistical function in PYSWMM ?
 This function（'number_startup'） is available on the official website, as follows,  but I don't know how to use this function to get the number of pump switch.

Statistical function in PYSWMM:
classpyswmm.links.Pump[source]
Bases: pyswmm.links.Link
--
min_flowrate
average_flowrate
max_flowrate
total

[2021-04-21 06:31] KrushilM opened #283 "Lidunits"
I was trying to access lid units. the tutorial example posted has shown lidgroups example. can anyone help me with these?

[2021-04-21 11:56] jennwuu commented on #283
Hey @KrushilM, check out this example for accessing lid units.

https://github.com/OpenWaterAnalytics/pyswmm/blob/f6edd28f97a52b67018981f64f311d7a005e23e7/pyswmm/tests/test_lid.py#L39-L51

[2021-04-23 08:05] xie-kun opened #284 "Abnormal termination during the loop simulation with PYSWMM"
**Describe the bug**
In the process of invoking the model simulation for several times, an error will be reported suddenly. However, what is strange is that the error will not be reported when the number of cycles is small, and the first runs can be normal. But once the number of cycles increases, the error will be happen and interrupted around the 10th cycle. (the errors as following)

**To Repro

[2021-04-23 10:09] xie-kun commented on #284
I found the problem was that the report file was not generated, but I don't know the reason, why the first few simulations can generate a report but the later ones can't.

[2021-04-23 13:15] jennwuu commented on #284
@xie-kun, interesting bug. It looks like there is a lock on the input file after several iterations. Is it possible that you are running the models in parallel with the same input file?

sim.execute should open, run, and close simulation.

One thing you could try is to run simulation using a context manager which will close your Simulation for you.

[code]

[2021-04-23 13:27] xie-kun commented on #284
Thank you very much.
I'm not doing parallel computation.
I will try it.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "OpenWaterAnalytics/pyswmm"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月23日(

[2021-04-23 16:03] bemcdonnell commented on #284
@xie-kun, can you look at the *RPT file that SWMM outputs to see a list of reasons the simulation failed?

[2021-04-23 16:08] michaeltryby commented on #284
@bemcdonnell The simulation failed with Error: 305 Unable to open report file. Is `Simulation.execute()` a good citizen that cleans up after itself by closing all open files?

[2021-04-23 16:24] bemcdonnell commented on #284
@michaeltryby it's entirely possible that it isn't closing things properly.  Not many people have used the `execute` feature.  I think it calls a low-level swmm entry point.  Needs to be investigated for sure.

@xie-kun, did the workaround that @jennwuu proposed work okay for you?

[2021-04-24 02:44] xie-kun commented on #284
I didn't try that, because that approach was too slow, need too much running time, and wasn't very friendly for 1000 iterations

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "OpenWaterAnalytics/pyswmm"

[2021-04-24 02:52] xie-kun commented on #284
Yes, there are short of&nbsp; statistics information in the report file.
&nbsp;&nbsp;
&nbsp; *********************************************************
&nbsp; NOTE: The summary statistics displayed in this report are
&nbsp; based on results found at every computational time step,&nbsp;&nbsp;
&nbsp; not just on results from each reporting time step.
&nbsp; *******************************************

[2021-04-24 03:04] xie-kun commented on #284
I found that the main reason is the output file is not generated resulting in a lack of information in the RPT. When I've looped 126 times, it has jumped to 127 times to generate the required 127.inp.&nbsp;
(Please check the attachment）

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-04-24 12:35] michaeltryby commented on #284
@xie-kun It’s just a hunch, but I think this is a OS latency issue as opposed to a bug in pyswmm. There is a delay releasing the files from the previous run that is why they aren’t being written. I would try changing up how you are staging the files for each run to make it more robust. The simplest way to do this would be to generate a unique filename for each task.

[2021-04-24 13:22] xie-kun commented on #284
But my inp filename is different in each loop, and the error pattern is that it must occur after the loop has reached 126 times

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "OpenWaterAnalytics/pyswmm"

[2021-04-24 18:38] michaeltryby commented on #284
Every time SWMM gets executed in the example the file name is ‘new.inp’. Generate a unique filename each time SWMM gets called.

[2021-04-24 18:47] michaeltryby commented on #284
Is it possible that the SWMM simulation fails because it is getting invalid arguments? In which case you can make your execution code more robust by handling failed jobs more gracefully

[2021-04-25 00:59] xie-kun commented on #284
I think there should be no invalid arguments, because I changed the loop to run from the start of the interrupt this time with the same inp ('new126.inp'), it will be normal.&nbsp; If I exit the loop and run the error inp separately, it will work normally.
&nbsp;The problem is that I cannot loop more than 126 times in a row.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-04-25 01:18] jennwuu commented on #284
@xie-kun can you share the python script and model input file? I would like to try and recreate this issue on my machine. Thanks!

[2021-05-10 07:59] KrushilM commented on #283
Thank you @jennwuu

[2021-05-10 07:59] #283 closed

[2021-05-16 14:16] Zeeck972 commented on #225
Hi, can you tell me how to get these values?

[2021-05-16 21:09] Jiadalee commented on #225
@Zeeck972 Pls try these codes  below:
`sys_flooding_volume = [ ]  # create an empty list for flooding volume`
`sys_flooding_volume. append(system_routing.routing_stats['flooding'])  #store flooding volume to the list`
`print(sys_flooding_volume)  #print the data`

Doing the same for accessing the accumulative system inflow. Pls note this only gives you the accumulative system flooding volume or in

[2021-05-19 06:21] Leslay-wang commented on #257
Hello,is it convenient to consult some questions? I am a student in university and recently,I am conducting a research on detention ponds with SWMM and pyswmm.

[2021-05-19 07:27] Leslay-wang opened #285 "pyswmm——FileNotFoundError: [WinError 2]"
**Describe the bug**
When running the "print_runoff" example case，FileNotFoundError: [WinError 2] 系统找不到指定的文件。
: 'E:\\AppData\\Anaconda3\\lib\\site-packages\\swmm_toolkit-0.8.1-py3.8-win-amd64.egg\\swmm\\toolkit\\../../../../bin'

  File "E:\AppData\Anaconda3\lib\site-packages\pyswmm-1.0.1-py3.8.egg\pyswmm\__init__.py", line 11, in <module>
    from pyswmm.links import Link, Links

  File "E:\AppDa

[2021-05-19 13:18] michaeltryby commented on #285
@Leslay-wang did you build SWMM-toolkit package yourself from the source distribution?  It looks like it’s installed as an egg but it needs to be installed as a wheel. Eggs aren’t supported. Wheels for Windows are available on pypi.

[2021-05-19 14:07] Leslay-wang commented on #285
I installed pyswmm through setup.py first . Then I uninstalled it and later installed it as a wheel on pypi——pyswmm-1.0.1-py3-none-any.whl. But in these two cases, I met the same problem as mentioned above.

[2021-05-19 14:17] jennwuu commented on #285
@Leslay-wang Are you using python 32-bit or 64-bit?

[2021-05-19 14:20] michaeltryby commented on #285
pyswmm / swmm-toolkit are 64 bit only. We no longer support 32 bit.

[2021-05-19 14:24] Leslay-wang commented on #285
@jennwuu python 64-bit. Any problem?

[2021-05-19 14:25] Leslay-wang commented on #285
@michaeltryby I use python 64 bit.

[2021-05-19 14:28] jennwuu commented on #285
@Leslay-wang It is very odd that it is asking you to build pyswmm when you're using python 64 bit. Can you try `pip install pyswmm` as suggested by Michael?

[2021-05-19 14:48] jennwuu commented on #285
@Leslay-wang If you use pip to download from python pypi, I would expect to see the following message:

`pip install pyswmm`

[code]

[2021-05-19 14:56] michaeltryby commented on #285
The problem is it’s building the sdist and installing as egg. It needs to be installed  from the wheel.

[2021-05-19 15:03] michaeltryby commented on #285
What command are you using to install it now?

[2021-05-19 15:04] Leslay-wang commented on #285
python setup.py build
python setup.py install

[2021-05-19 15:06] michaeltryby commented on #285
Try this instead
pip install pyswmm

[2021-05-19 15:06] Leslay-wang commented on #285
@michaeltryby  Does it mean "from the wheel"? the following

(base) C:\Users\静怡>pip install wheel
Requirement already satisfied: wheel in e:\appdata\anaconda3\lib\site-packages (0.35.1)

(base) C:\Users\静怡>cd E:\AppData\Anaconda3\Scripts

(base) C:\Users\静怡>pip install C:\Users\静怡\Desktop\python\pyswmm\pyswmm-1.0.1-py3-none-any.whl
Processing c:\users\静怡\desktop\python\pyswmm\pyswmm-1.0.1-py3-none

[2021-05-19 15:19] jennwuu commented on #285
@Leslay-wang

Write exactly this into command:

`pip install pyswmm`

[2021-05-19 15:20] jennwuu commented on #285
Actually this works too. Are you able to run pyswmm now?

[2021-05-19 15:42] Leslay-wang commented on #285
@jennwuu there are still errors. Many names are not defined in shared_enum.py

  File "C:\Users\静怡\Desktop\python\GitHub\pyswmm-master\pyswmm-master\docs\source\examples\print_runoff.py", line 3, in <module>
    from pyswmm import Simulation, Subcatchments

  File "E:\AppData\Anaconda3\lib\site-packages\pyswmm\__init__.py", line 11, in <module>
    from pyswmm.links import Link, Links

  File "E:\

[2021-05-19 15:48] jennwuu commented on #285
please downgrade your aenum package to 2.2.6 as discussed in here: https://github.com/OpenWaterAnalytics/pyswmm/issues/272

copy this exact command:
`pip install aenum==2.2.6`

[2021-05-19 15:49] michaeltryby commented on #285
Maybe we could update the readme to give users "Quick Start" information then direct to more detailed sources of info.

To me a Quick Start provides the following:
1) How do I install the pyswmm?
2) How do I confirm my install is working?
3) What import statement should I use with pyswmm?
4) Where can I get more information?

[2021-05-19 15:53] Leslay-wang commented on #285
@jennwuu Thank you so much. I will try it tomorrow. It's too late at night. If any problem, I will contact you later, thanks!

[2021-05-19 15:59] jennwuu commented on #285
I agree with that although the installation instructions do exist in readmedocs as well.
https://pyswmm.readthedocs.io/en/stable/install.html

@michaeltryby I think we should probably release an immediate version of swmm-toolkit that is compatible with recent version of aenum as well or lock it to aenum==2.2.6 to avoid issues like this.

[2021-05-19 16:01] michaeltryby commented on #285
My thought is to make quick start the first thing seen on the readme after the badges. Make it impossible to miss.

[2021-05-20 01:22] Leslay-wang commented on #285
@michaeltryby @jennwuu  I reinstalled the pyswmm using pip install pyswmm and aenum2.2.6. Previous questions are solved and there are new problem.

  File "E:\AppData\Anaconda3\lib\site-packages\pyswmm\__init__.py", line 11, in <module>
    from pyswmm.links import Link, Links

  File "E:\AppData\Anaconda3\lib\site-packages\pyswmm\links.py", line 12, in <module>
    from pyswmm.swmm5 import PYSWMM

[2021-05-20 01:28] jennwuu commented on #285
This is really odd error. I think you get that error if it is unable to locate swmm5.dll.
Can you confirm that you see `swmm5.dll` in the following folder?
E:\AppData\Anaconda3\bin\

[2021-05-20 01:34] Leslay-wang commented on #285
@jennwuu  I can see swmm5.dll in the folder. And I reinstall everything, but the same problem.

[2021-05-20 01:49] jennwuu commented on #285
@Leslay-wang

I was able to replicate your error using anaconda3

[code]

@michaeltryby any idea why this would happen with anaconda python?

@Leslay-wang In the meantime, the only solution is to install pyswmm using regular python. We will have to look into this issue further for Anaconda python.

[2021-05-20 02:34] jennwuu commented on #285
@Leslay-wang I was able to fix the issue by adding the python library path to PATH in user variables.

For your installation of anaconda3, try adding:
[code]
in your system path variable under System Environment variable.

[2021-05-20 02:54] michaeltryby commented on #285
As part of patch I will relocate swmm5.lib to site packages folder and set up path to fix this issue.

[2021-05-20 02:54] Leslay-wang commented on #285
@jennwuu Thanks, I added the path. But there are still many problems in the solver.py.

  File "C:\Users\静怡\Desktop\python\GitHub\pyswmm-master\pyswmm-master\docs\source\examples\print_runoff.py", line 5, in <module>
    with Simulation('swmm_example.inp') as sim:

  File "E:\AppData\Anaconda3\lib\site-packages\pyswmm\simulation.py", line 69, in __init__
    self._model.swmm_open()

  File "E:\App

[2021-05-20 02:57] michaeltryby commented on #285
Probably because of Unicode characters in the path.

[2021-05-20 03:02] michaeltryby commented on #285
@Leslay-wang sorry you are having so much trouble with the software. It is getting late here. I started a patch to address the bugs you are encountering. Should be able to finish it tomorrow.

[2021-05-20 03:03] Leslay-wang commented on #285
@michaeltryby @jennwuu  Thank you so much. Good night!

[2021-05-20 03:04] michaeltryby commented on #285
@jennwuu will need to patch pyswmm for the Unicode support issue until we figure out how to handle it in the swig wrap

[2021-05-20 04:15] jennwuu commented on #285
@Leslay-wang In the meantime, can you move your model .inp into E drive? `静怡` in `C:\Users\静怡\` is causing errors within pyswmm.

[2021-05-20 04:55] Leslay-wang commented on #285
@jennwuu yes, get it.

[2021-05-20 12:41] Leslay-wang commented on #285
@michaeltryby @jennwuu  Thanks a lot！The problem has been solved.
When installing pyswmm using regular python or Pycharm, I am able to run pyswmm and the example runs successfully. Sorry to disturb you so much time, maybe the issue is related to Anaconda. If I have other problem, contact you later! Thanks.

[2021-05-20 12:47] michaeltryby commented on #285
Ok so let’s break this down and cover the issues identified.

[2021-07-28 02:39] tianmaxingkong12 opened #286 "The runoff of the simulation result is all zero"
Hello, I run my code with pyswmm, but the runoff of the simulation result is all zero, while when I use SWMM software,I can get right result.

**Desktop (please complete the following information):**
 - Windows
 - Python 3.7
 - PySWMM Version 1.0.1

[2021-07-28 02:49] jennwuu commented on #286
@tianmaxingkong12 Can you share your model inp file and the code snippet?

[2021-07-28 02:53] tianmaxingkong12 commented on #286
[TITLE]
;;Project Title/Notes

[OPTIONS]
;;Option             Value
FLOW_UNITS           LPS
INFILTRATION         HORTON
FLOW_ROUTING         DYNWAVE
LINK_OFFSETS         DEPTH
MIN_SLOPE            0
ALLOW_PONDING        YES
SKIP_STEADY_STATE    YES

START_DATE           07/04/2017
START_TIME           00:00:00
REPORT_START_DATE    07/04/2017
REPORT_START_TIME    00:00:00
END_DATE             07/0

[2021-07-28 02:54] tianmaxingkong12 commented on #286
from pyswmm import Simulation,LidControls,Subcatchments
with Simulation('7.4_2.inp') as sim:
    SC1 = Subcatchments(sim)["1"]
    print(SC1.area)
    sim.step_advance(60)
    print(SC1.runoff)
    print(SC1.slope)
    print(SC1.area)
    for step in sim:
        # runoff = SC1.runoff*60/(SC1.area)
        print(sim.current_time,SC1.rainfall,SC1.runoff)
        # print(runoff)

[2021-07-28 02:55] tianmaxingkong12 commented on #286
That's my model and code

[2021-07-28 03:07] jennwuu commented on #286
Interesting. There is no runoff from the subcatchment because all the flow goes to the green roof (occupies 100% of the subcatchment).

In the .rpt file, the peak flow for Subcatchment 1 is also 0 L/s. I wonder if the .out file is storing run off data from the green roof.

[2021-07-28 03:15] tianmaxingkong12 commented on #286
But if I use SWMM software, I can get right result. Some runoff are not zero

[2021-07-28 03:24] tianmaxingkong12 commented on #286
![image](https://user-images.githubusercontent.com/29156524/127258732-7d4ea5c7-4913-4fbb-871f-766aaf2f3e67.png)

[2021-07-28 03:40] jennwuu commented on #286
@tianmaxingkong12 you are probably seeing subcatchment runoff = green roof storage drain

You can get the same values using pyswmm using the following code snippet.

[code]

[2021-07-28 03:46] tianmaxingkong12 commented on #286
Thank you very much

[2021-07-28 17:15] jennwuu commented on #285
@michaeltryby these issues should be addressed with the latest version of swmm-toolkit

[2021-07-28 18:56] michaeltryby commented on #285
@jennwuu The above area known issues. So shouldn't be too hard to get them covered in the next release.

[2021-07-30 04:28] tianmaxingkong12 opened #287 "Can the source of raingage be changed by pyswmm"
**Describe the bug**
I have many timeseries. I want to choose one timeserie by pyswmm in my application. Can the source of raingage be changed by pyswmm?

**Screenshots**
![image](https://user-images.githubusercontent.com/29156524/127600043-e2da6672-b9c8-4502-844d-d6af29352e7b.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Python Version Python 3.6-x86
 - PySWMM V

[2021-08-08 19:53] azzahrasfs opened #288 "ERROR 403: project not open or last run not ended explanation"
Hi everyone!

I am quite new to pyswmm and python as well. For study purposes, I am supposed to use pyswmm to optimize my sewer network. However, I encountered this Error 403, and I could not find any explanation of how can I fix this error or even what happened. All I know is that my function does not work because it can't run the model. I already tested the model on the SWMM application, and it

[2021-08-08 20:38] jennwuu commented on #288
Hello!

Can you share your model and code snippet? It will help to debug.

[2021-08-17 14:24] floriandorre commented on #287
Hi,

It would also be great to be able to load a Raingage file using pyswmm to avoid an error if the path is not fount

[2021-08-17 14:28] jennwuu commented on #287
Hello! This feature is not available yet. However, you can adjust the rainfall within the simulation.

https://pyswmm.readthedocs.io/en/latest/reference/raingages.html

[2021-08-18 02:36] dokyno opened #289 "Can pyswmm use external time series data?"
Can pyswmm use external time series data?
If possible. How would it be?

[2021-08-18 05:59] bemcdonnell commented on #289
@dokyno, what are you hoping to accomplish? Are you asking if pyswmm can run a model with an external timeseries file references in the INP or if your script can read the timeseries file?

[2021-08-18 06:08] dokyno commented on #289
When running a simulation, is it possible to load and apply the time series data without inputting the time series to the INP file?

[2021-08-18 06:08] dokyno commented on #289
When running a simulation, is it possible to load and apply the time series data without inputting the time series to the INP file?

[2021-08-18 06:09] dokyno commented on #289
I want to check inflow using real-time data, so I'm looking for a way.

[2021-08-19 02:44] jennwuu commented on #289
@dokyno Are you comparing model inflow versus measured flow during model simulation? Can you store model flow result and compare to measured data after?

[2021-08-19 04:02] dokyno commented on #289
The first plan was to measure the inflow through pyswmm with real-time rainfall data stored in the db. But I wonder if it is possible to put external data into pyswmm.

[2021-08-19 14:10] jennwuu commented on #289
@dokyno Please share some code snippet and example data and we can work through the code together to see if we can get what you need.

[2021-08-19 14:12] floriandorre commented on #289
What you can for sure do is setting the RainGage total_precipitation using pyswmm, then your value can come from anywhere.

[2021-08-19 21:33] openSourcerer9000 opened #290 "Problem with SWMM5 engine selector"
So I need to use SWMM v5.1.014, as this 5.3dev engine is giving me wildly different results. I created a new folder called windows and copied the swmm5.dll straight from C:\Program Files (x86)\EPA SWMM 5.1.014 into it  C:\Users\openSourcerer\anaconda3\envs\swmmenv\Lib\site-packages\pyswmm\lib\windows, renaming the DLL as swmm5.1.dll. Then tried to set it as my SWMM version with the imports in this

[2021-08-19 21:40] jennwuu commented on #290
Hey @openSourcerer9000, thanks for checking out pyswmm. Pyswmm does not support regular swmm.dll. PySWMM uses SWMM from OWA-SWMM repo: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model which has API features.

[2021-08-19 21:41] #290 closed

[2021-08-19 21:47] michaeltryby commented on #290
@openSourcerer9000 You could use pyswmm dev. I think that is using SWMM v5.1.14.

[2021-08-19 22:02] dickinsonre commented on #290
Will PySWMM dev use SWMM 5.1.15 soon?

[2021-08-19 22:08] bemcdonnell commented on #290
@michaeltryby is SWMM5.1.14 x86 or x86-64?  @openSourcerer9000 is using 64bit python making me think that it's the 32 vs 64bit swmm issue.

[2021-08-20 03:16] michaeltryby commented on #290
@bemcdonnell OWA/SWMM is exclusively 64bit.

[2021-08-20 04:11] bemcdonnell commented on #290
@michaeltryby it Hasn’t been throughout our history. It is now. This user is on 0.6.2. But the user pulled it from Conda. Back then, we were not supporting 64bit. I think @goanpeca built that wheel before. No one had ported swmm to 64 but until recently. @michaeltryby #historylesson 🤣🤣🤣

[2021-08-20 15:24] michaeltryby commented on #290
@bemcdonnell I see.  Last Call: Is there anyone out there who wants to maintain the conda package?

Given that we have limited development resources and we don't maintain it, perhaps we should deprecate the Conda version?  That would help to eliminate a source of confusion for our users.

[2021-08-20 17:27] bemcdonnell commented on #290
@goanpeca, do you mind if I delete those old engines from conda?  I just check and I still have access.  I think we bumped into the problem of maintainability which is why they were never updated. :)

[2021-08-20 18:04] bemcdonnell commented on #290
@dickinsonre, I believe the dev team is hoping to learn from all the bugs from the PySWMM-v1.x release before performing an engine update.  OWA-SWMM is currently based on USEPA-SWMM-v5.1.14, I believe.

[2021-08-20 18:14] dickinsonre commented on #290
Thanks, a wise approach.

[2021-08-21 00:30] goanpeca commented on #290
Sounds good!

[2021-08-23 01:41] dokyno commented on #289
thx for reply,
Isn't the value derived based on the time series data already in the inp file?

![swmm](https://user-images.githubusercontent.com/76770604/130378665-aac09044-aa21-42e6-ae82-83bd2810c911.png)

If I have only terrain data in the inp file, is there a way to apply the time series as above?

[2021-08-23 17:18] AbtinShH opened #291 "pyswmm execute - callback"
Is there a way to readout data (e.g. node outfall statistics, cumulative inflow) after the simulation ends using the sim.execute? or the only way to read the data is while simulation is running (for step in sim)?
The issue is that I don't need to readout the data for each step and only need the final values at the outlet. Also I don't want to use the report function to create a report and then rea

[2021-08-27 13:10] BenoitMFr opened #292 "Get flooding nodes results from model using interface file"
I'm trying to get flooding results for every nodes in model which using an interface file (for injecting results from french runoff method).
Python console return
_Exception:
ERROR 351: cannot open routing interface file %s._

Is there a trick or other method to make it work ?

[2021-08-30 16:19] AbtinShH commented on #291
Yes, I tried it. It worked beautifully! The computation time was reduced by
180 seconds.
Thank you, I greatly appreciate your help.

On Fri, Aug 27, 2021 at 3:12 PM Bryant E. McDonnell <
***@***.***> wrote:

--

*Abtin Shahrokh HamedaniGraduate Research Assistant*

*Department of Civil and Environmental Engineering*

*University of Texas at San Antonio*

[2021-08-30 16:49] bemcdonnell commented on #291
@AbtinShH no prob! thanks for using pyswmm!

[2021-08-30 16:49] #291 closed

[2021-09-02 08:34] dokyno commented on #289
with Simulation(inp_file) as sim:
        sim.step_advance(60) #simulate per 1 minute
        nodes = [node for node in Nodes(sim) if node.is_outfall()]
         for index,step in enumerate(sim):
            inflow.append(compute_inflow(nodes))

def compute_inflow(nodes):
    inflow = 0.0
    for node in nodes:
        inflow += node.total_inflow * 60
    else:
        return inflow

Currently I n

[2021-09-03 22:42] cbuahin opened #293 "Add Citation file"
Add citation file using the CITATION.cff convention to direct users on how to cite pyswmm in publications.

[2021-09-11 08:05] #289 closed

[2021-09-13 09:43] dokyno opened #295 "Is there a way to convert the total_precip value of rainingage?"
https://github.com/OpenWaterAnalytics/pyswmm/blob/f6edd28f97a52b67018981f64f311d7a005e23e7/pyswmm/raingages.py#L170-L199

The percip value of rainage seems to be intensity.
If the value I have is cumulative rainfall data, is there any way to turn it into intensity?

[2021-09-13 09:46] floriandorre commented on #295
You can either use Intensity or millimeters the setting of it can be done on the raingage itself

[2021-09-13 09:56] dokyno commented on #295
...     rg1 = RainGages(sim)["Gage1"]
        ...     print(rg1.total_precip)
        ...     rg1.total_precip = 0.2
        ...     print(rg1.total_precip)

When I set the value of raingage as above, isn't the value going into intensity?

[2021-09-13 09:56] dokyno commented on #295
...     rg1 = RainGages(sim)["Gage1"]
    ...     print(rg1.total_precip)
    ...     rg1.total_precip = 0.2
    ...     print(rg1.total_precip)

When I set the value of raingage as above, isn't the value going into intensity?

[2021-09-13 10:03] floriandorre commented on #295
I think this is done automatically by looking at what is set on the raingage object.

[2021-09-15 02:16] Husnain2244 opened #296 "Pyswmm simulation error: ImportError: DLL load failed while importing _solver: %1 is not a valid Win32 application."
Hi everyone,

I am new to Python and Pyswmm. I am trying to simulate a test model in Spyder (Python 3.8, 64-bit) on a  64-bit  system.  Please find below error and let me know where I am wrong. I would really appreciate your suggestions. Many Thanks

runfile('E:/VARS_Research/pyswmm_master/pyswmm_master/pyswmm/tests/data/Test_code.py', wdir='E:/VARS_Research/pyswmm_master/pyswmm_master/pyswmm/test

[2021-09-15 05:01] jennwuu commented on #296
Hello @Husnain2244, this is a known issue with anaconda. This should be fixed in the next release.

In the meantime, you can only use pyswmm with regular Python 64 bit.

thanks,
Jenn

[2021-09-15 07:54] Husnain2244 commented on #296
Dear @jennwuu, Thanks for your prompt response. You saved my time and effort.

[2021-09-15 07:54] #296 closed

[2021-09-15 11:23] michaeltryby commented on #296
Hey @jennwuu I this is different than the Anaconda issue we encountered before.

[2021-09-15 13:18] jennwuu commented on #296
@michaeltryby oh you’re right. For the previous anaconda, it says DLL failed to import. This is saying that it is invalid 32 application. @michaeltryby is it caused by 32bit python?

https://github.com/OpenWaterAnalytics/swmm-python/issues/79

@Husnain2244 can you confirm your anaconda python version?

[2021-09-15 13:47] jennwuu commented on #289
You can check out this function to add inflow manually per timestep: https://pyswmm.readthedocs.io/en/stable/reference/nodes.html#pyswmm.nodes.Node.generated_inflow

[2021-09-16 07:55] #295 closed

[2021-09-16 18:41] jennwuu opened #297 "Update List for Projects using PySWMM"
Update projects using PySWMM in documentation: https://pyswmm.readthedocs.io/en/stable/cite.html#projects-using-pyswmm

Please comment on this issue if you want like to include your project in this list.

[2021-09-22 02:35] philip928lin opened #298 "ImportError: DLL load failed while importing _solver: The specified module could not be found."
I am using python 3.9.7 through spyder 5.1.5.
I successfully installed the pyswmm. However, when I try to import it by
"from pyswmm import Simulation"
I got the following errors

from pyswmm import Simulation
Traceback (most recent call last):

  File "C:\Users\AppData\Local\Temp/ipykernel_12088/3138147840.py", line 1, in <module>
    from pyswmm import Simulation

  File "C:\Users\anaconda3\envs\

[2021-09-22 02:50] jennwuu commented on #298
Hey @philip928lin,

Thanks for using pyswmm. This error was identified in swmm-python when using pyswmm and anaconda: https://github.com/OpenWaterAnalytics/swmm-python/issues/79 where solver cannot be found. This should be addressed in the next release.

In the meantime, can you try pyswmm with regular Python?

Thanks,
Jenn

CC: @michaeltryby - I think this is related to the issue identified in sw

[2021-09-22 12:46] michaeltryby commented on #298
@philip928lin sorry you are having problems. What version of pyswmm are you using?

[2021-09-22 13:01] philip928lin commented on #298
I use this version
pyswmm                    1.1.0.dev0               pypi_0    pypi
swmm-toolkit              0.8.2                    pypi_0    pypi

Let me know if there is any way that I can manually add environment paths to fix this issue.
For example what paths are needed.
Thank you a lot for your prompt reply.

[2021-09-22 13:27] Husnain2244 opened #299 "Why dataframe exports only last value of iteration to csv?"
Hi,
I am trying to export results from dataframe to csv, but the below-mentioned code only exports the last values of the iteration. Please check my code and let me know, where I am doing wrong. Thank you for your support.

[code]

[2021-09-22 13:33] floriandorre commented on #299
Hi,

This is more a python issue from what i see you are creating a CSV file at each simulation step but you are always writing the same file so that's why you only have the last step in your CSV.

What you could do is adding data to your CSV on each step and outside of the for loop write your dataframe into a CSV file. However I suggest you to have a look at https://github.com/timcera/swmmtoolbox

[2021-09-22 13:49] jennwuu commented on #299
you can try something this

[code]

[2021-09-22 13:55] floriandorre commented on #299
I think this need to be more like this since in your case @jennwuu the results dict will be empty all the time no ?

[code]

[2021-09-22 13:59] jennwuu commented on #299
@floriandorre oh yeah, good catch! Thanks for correcting!

[2021-09-22 15:11] mattyd100 opened #300 "Node coordinates"
Is it possible to access the x, y coordinates of the nodes?

I saw a post from a few years ago related to this topic, but was not able to determine if this feature was incorporated.

[2021-09-22 15:52] Husnain2244 commented on #299
@floriandorre @jennwuu Many thanks for great help!

[2021-09-22 15:52] #299 closed

[2021-09-22 17:21] michaeltryby commented on #298
@philip928lin if you set this environment variable in the shell prior to launching Python and the wheel should work properly.

CONDA_DLL_SEARCH_MODIFICATION_ENABLE=1

[2021-09-22 17:25] jennwuu commented on #300
If you're looking to access X,Y coordinates from model input file, you should check out [swmmio](https://github.com/aerispaha/swmmio). Super cool project where you can edit model .inp data easily before starting the simulation.

[2021-09-24 14:44] philip928lin commented on #298
Thank you.
The code can run smoothly if adding
`import os
os.environ['CONDA_DLL_SEARCH_MODIFICATION_ENABLE']="1" `
at the top of the script.

[2021-09-24 14:44] #298 closed

[2021-09-27 18:12] jennwuu opened #301 "enum subclasses that duplicate swmm-toolkit/shared_enum.py"

[2021-09-27 18:15] jennwuu commented on #301
Hey @michaeltryby, I started a new issue where we can discuss in detail for how we want to remove/replace the duplicate enum subclasses in pyswmm.

[2021-09-28 08:49] MortenGrum opened #302 "Wrong sign on flow (compared to SWMM5 definition)"
**Issue**
In SWMM5 flow is positive if it flows in the direction that the link is defined and negative if it flows against the direction that the link is defined. In pyswmm this does not seem to be the case.

**To Reproduce It**
Run the attached *.inp file in SWMM5 and the same setup via pyswmm as follows:
[code]

**Expected flow in link 2 (SWMM5 GUI)**
As expected, the flow in link 2 is negative

[2021-09-28 12:44] bemcdonnell commented on #302
@MortenGrum great bug report. Agree. This is a bug.

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/8e4610611ae3d61edac53518dc65d67108b400f3/src/solver/toolkit.c#L2007 Is supposed to be multiplied by a link flow direction variable. To the best of my knowledge, this was happening in a previous version of pyswmm/owa-swmm. @jennwuu @michaeltryby, we have a link direction metho

[2021-09-28 13:25] bemcdonnell commented on #302
@MortenGrum Ok, I've done a little more research into this.  The reason we are seeing positive values is due to the solver.  When the model is loaded, based on the slope of the pipes, a link is reversed inside SWMM to keep a positive slope between the nodes.  As a result, swmm solves flows with the link reversed and when we output to the OUT/RPT files, the flows are multipled by -1 for those rever

[2021-09-28 14:37] jennwuu commented on #302
Thank you for looking into this @bemcdonnell!

Should we create an issue for this in OWA/SWMM or should we correct the output in pyswmm?

CC: @michaeltryby

[2021-09-28 14:40] bemcdonnell commented on #302
@jennwuu, this is a SWMM issue so let’s raise it there. It’s API

[2021-09-28 14:43] jennwuu commented on #302
Ok, issue created and will be addressed in OWA/SWMM: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/353

[2021-09-28 15:09] MortenGrum commented on #302
Thanks @bemcdonnell and @jennwuu!!

For now that's clarification enough for me. I've now created a rule base on link's invert levels of input and output nodes.

Should this get changed in the API (and so pyswmm too) I will probably notice.

[2021-09-28 15:16] bemcdonnell commented on #302
@MortenGrum, let me know if my code suggestion works.  That should avoid any extra coding for you!

[code]

[2021-09-28 15:16] jennwuu commented on #302
Hi @MortenGrum, I will keep this issue open until it has been resolved. Thanks for identifying this bug. The report is super helpful.

[2021-09-30 18:30] jennwuu opened #303 "Deprecate swmm_lib_path in Simulation"
Since updating pyswmm to use swmm-python, swmm_lib_path is not useful.

[2021-09-30 18:42] bemcdonnell commented on #303
RIP

[2021-11-13 12:06] DINBOR opened #304 "Is it possible to define "LID USAGE" in the pyswmm itself ?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.  Good to place code here with support files.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [

[2021-11-16 17:41] dickinsonre commented on #304
It might be interesting to add new LID Coverage during a run if you are running many runs.  Sort of like a quasi Sustain run - how is my LID flow and water quality changing as you add move units or mix of units.

[2021-11-16 18:12] jennwuu commented on #304
@dickinsonre You might be able to do what you are describing by changing lid unit number after defining lid usage.

[2021-11-25 17:14] jennwuu commented on #297
Oberascher, M., Kinzel, C., Kastlunger, U., Kleidorfer, M., Zingerle, C., Rauch, W., Sitzenfrei, R., 2021. Integrated urban water management with micro storages developed as an IoT-based solution – the smart rain barrel. Environmental Modelling & Software, 105028. https://doi.org/10.1016/j.envsoft.2021.105028.

[2021-11-25 18:14] dickinsonre commented on #297
Nice paper with a lot of PySWMM! The download is free as well.

[2021-11-29 01:25] HorbinXx opened #305 "Can't run after pyinstaller"
**Describe the bug**
I can't run .exe after pack my code with pyinstaller

**To Reproduce**
I simplely download the code in document named "print_runoff.py".
(https://pyswmm.readthedocs.io/en/stable/examples/examples.html)
And it works well by using "python print_runoff.py".
After "pyinstaller -F print_runoff.py", like:
[code]
I can't run the "print_runoff.exe", like:
[code]
I think the problem is

[2021-11-29 13:46] HorbinXx commented on #305
Yes, it works well. Thanks for your reply. And I think there may be a better way to avoid change __init__.py, but I can't capture it.

[2021-11-29 13:54] michaeltryby commented on #305
It’s ok to change init.py. Path contains multiple places where the system looks for the libraries.

[2021-11-29 14:05] michaeltryby commented on #305
So we can close this issue?

[2021-11-29 14:10] #305 closed

[2021-12-02 03:27] dark957 opened #306 "problem about lib module"
When I tried to set the SWMM5 DLL,  I followed the steps in https://pyswmm.readthedocs.io/en/latest/reference/lib.html.
However, the system reported that module 'pyswmm' has no attribute 'lib'.
I wonder how to change the SWMM5 DLL.

[2021-12-13 16:56] jennwuu commented on #306
Hello @dark957, this is a deprecated feature after release of version 1.0+

[2021-12-22 02:18] RayLTL opened #307 "Why the output file size is less than output file of swmm5.exe"
I use Example1.inp to simulate，here is my code ：
[code]
after run this code , I get the output file  Example1.out **（size:2.8KB）**

But when I use _swmm5.exe_ and run this inpfile
I get the output file Example1.out **（size:44.2KB）**

[2021-12-22 02:26] RayLTL commented on #307
@jennwuu Can u help me？

[2021-12-22 02:29] jennwuu commented on #307
Hello @RayLTL,

Thanks for using pyswmm. What version of swmm5.exe are you using?

Can you try the following code snippet instead?

[code]

Alternatively, you can try following this tutorial: https://medium.com/@wuu.jennifer/pyswmm-tutorial-how-to-install-and-to-start-using-pyswmm-2fddb99ee327

[2021-12-22 02:58] RayLTL commented on #307
@jennwuu Thanks for ur reply，The version of  swmm5.exe is 5.1.012.
I tried ur code and get the same result.
I want to get output file and use **_swmmtoolbox_** read the result
But when I read the output of pyswmm , there is no "**subcatchment、node、link**"

Here is my code :

[code]

The results type_dict:

The result of pyswmm outfile:

The sesult of swmm5.exe outfile

[2021-12-22 03:01] jennwuu commented on #307
@RayLTL Can you share the text output when you try the code snippet above? Can you confirm your pyswmm and swm-toolkit version as well?

[2021-12-22 03:08] RayLTL commented on #307
@jennwuu
**version:**
swmmtoolbox==3.3.5
pyswmm==1.0.1
**Files:**
[Example1.zip](https://github.com/OpenWaterAnalytics/pyswmm/files/7759697/Example1.zip)

[2021-12-22 03:09] jennwuu commented on #307
@RayLTL Can you share the Example1.inp as well. I would like to test locally.

[2021-12-22 03:10] RayLTL commented on #307
@jennwuu
[Example1_inp.zip](https://github.com/OpenWaterAnalytics/pyswmm/files/7759713/Example1_inp.zip)

[2021-12-22 03:36] jennwuu commented on #307
@RayLTL

This seems to work for me. What results are you expecting with swmmtoolbox?

[code]

[2021-12-22 03:46] RayLTL commented on #307
@jennwuu can u show ur result of  **f_pyswmm.names** , I dont why there is no "subcatchment、node、link".
I want to use swmmtoolbox to analysis，for example , use machine learning to predict the trend of the data.
Just an idea.
First , need the data of results.

[2021-12-22 03:56] jennwuu commented on #307
@RayLTL I tried opening the .inp file you provided in PCSWMM and I can't seem to open the file. Can you confirm if you are able to open it in EPASWMM?

[2021-12-22 04:02] jennwuu commented on #307
For example, if you try the code snippet above using a different .inp file you will get swmm object names. See the attached .inp file.
[model_pollutants.zip](https://github.com/OpenWaterAnalytics/pyswmm/files/7759901/model_pollutants.zip)

[2021-12-22 04:14] RayLTL commented on #307
Can u send me ur example inp file in ur  PCSWMM？
The .rpt file of pyswmm contains "subcatchment、node、link" summary, but .out file not have. There is something strange.

[2021-12-22 04:22] jennwuu commented on #307
@RayLTL See the attached model from the previous post.

Can you try to run Example1.inp with swmm engine 5.1.015?

[2021-12-22 05:53] RayLTL commented on #307
@jennwuu I use ur **model_pollutants.inp** by pyswmm and swmm.exe . I get the same results and the size of .out file is both 40.1KB.
[code]
[model_pollutants_output.zip](https://github.com/OpenWaterAnalytics/pyswmm/files/7760296/model_pollutants_output.zip)

[2021-12-22 06:26] jennwuu commented on #307
Example1.inp might be limited to swmm 5.1.012  due to formatting issues in
the .inp file.

On Wed, Dec 22, 2021 at 12:53 AM RayLTL ***@***.***> wrote:

[2021-12-22 06:32] RayLTL commented on #307
@jennwuu I use **EPA SWMM 5.1.015** run Example1.inp，here is result：
[Example1_out_EPA SWMM 5.1.015.zip](https://github.com/OpenWaterAnalytics/pyswmm/files/7760469/Example1_out_EPA.SWMM.5.1.015.zip)
[code]
The results is same as **swmm 5.1.012**

[2021-12-22 06:37] RayLTL commented on #307
@jennwuu   https://www.epa.gov/water-research/storm-water-management-model-swmm
If ur free , maybe u can download the  EPA SWMM 5.1.015 to run Example1.inp

[2021-12-22 15:58] jennwuu commented on #307
Hi @RayLTL I tried running Example1.inp provided with SWMM 5.1.015.exe and I run into errors.

[code]

[2021-12-22 19:25] dickinsonre commented on #307
I will note that the example1.inp as distributed by the EPA does run in any version of EPA SWMM

  EPA STORM WATER MANAGEMENT MODEL - VERSION 5.1 (Build 5.1.015)
  ---------------------------------------------------------------------

  Example 1

  *********************************************************
  NOTE: The summary statistics displayed in this report are
  based on results found at ever

[2021-12-22 19:28] jennwuu commented on #307
@dickinsonre Thank you for checking. I wonder why I can't get swmm.exe or pyswmm to run for example1.inp.

[2021-12-22 23:01] jennwuu commented on #307
Hi @RayLTL

You need to include the following parameters in your **[REPORT]** section in your .inp file to export timeseries to .out file.

[code]

Once you have these parameters, your .out should be the same size as swmm engine. Let me know if it still doesn't work.

Also if you're looking for timeseries from model objects, I would recommend getting the data directly from pyswmm. There is an exam

[2021-12-23 02:24] RayLTL commented on #307
@jennwuu
I add parameters you provide, and it works! Thanks, but do you know why ?
I know pyswmm can get the data, but if I dont know the names of the Subcatchaments、Nodes、Links, it will be   inconvenient for me . That's why I use  swmmtoolbox. I'm not major in Hydroinformatics, just a fresh man.If there are something  misunderstanding, you can point out.

[2021-12-23 02:30] jennwuu commented on #307
Hi @RayLTL glad it works. The parameters indicate that you are saving results for subcatchments, nodes, and links.

![image](https://user-images.githubusercontent.com/28812156/147178551-cae19b44-fc86-4ed5-bf92-3125a9118997.png)

See the screenshot from regarding report section from SWMM manual above: https://www.epa.gov/sites/default/files/2019-02/documents/epaswmm5_1_manual_master_8-2-15.pdf

[2021-12-23 02:39] RayLTL commented on #307
@jennwuu
Why it  provide all results after simulation by swmm5.exe or EPA SWMM 5.1.015 without these parameters?

[2021-12-23 02:41] jennwuu commented on #307
Hmmm, I'm not sure about that. Any ideas @dickinsonre or @michaeltryby?

[2022-01-07 18:15] KrushilM opened #308 "Add parameters in subcatch"
How to add more parameters such as saturated hydraulic conductivity or initial moisture deficiet to subcatch.param class, so it can be called while running simulation ?

Thanks in advance.

[2022-01-09 02:53] bemcdonnell commented on #268
Closed by #309

[2022-01-09 02:53] #268 closed

[2022-01-09 03:03] bemcdonnell commented on #303
@jennwuu has this been closed yet?

[2022-01-09 03:22] #293 closed

[2022-01-09 03:46] bemcdonnell commented on #308
@KrushilM from SWMM, can you clarify the numbers you're interested in? I think you're asking for GW/Aquifer values:

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/76b8ae7e39f07a659b51284effafe668394d7f29/src/solver/objects.h#L223-L284

[2022-01-09 03:54] KrushilM commented on #308
Thank you for your prompt reply. I am interested in adding above mentioned parameters as callable quantities for sub-catchment the Green-Ampt method.

[2022-01-09 04:38] #297 closed

[2022-01-09 20:35] #274 closed

[2022-01-10 19:19] jennwuu commented on #303
@bemcdonnell No not yet, oops

[2022-01-11 11:25] magoorden opened #312 "Pip install pyswmm does not install julian"
**Describe the bug**
When running ```pip install pyswmm```, the julian package is not installed.

**To Reproduce**
Make sure to have a clean (virtual) environment to reproduce the bug.
1. Execute ```pip install pyswmm```.
2. Check that it is installing version 1.1.0 of pyswmm.
3. Try to run a python script using pyswmm.
4. Observe that it will throw an error:
[code]

**Expected behavior**
The juli

[2022-01-11 14:12] bemcdonnell commented on #312
@magoorden sorry about that! Thanks for the bug report.  I’ll spin up and Ubuntu instance today to check what is going on with the install process. For now, did you simply run ‘pip install julian’ to get it working?

[2022-01-11 14:13] magoorden commented on #312
Yes, manually installing julian does solve the problem. So that is my workaround for now (hopefully I don't forget to do that when I need to install pyswmm again).

[2022-01-11 15:37] bemcdonnell commented on #306
@dark957 based on the newer direction of the project, we have chosen a python-to-C strategy that is much more developer-friendly (we do not need CTypes anymore).  This is much faster.   Unfortunately, this came at the cost of no longer supporting the old linking process to a SWMM.DLL.   If you need this functionality, it will be best to revert back to PySWMM-v0.6

[2022-01-11 15:37] #306 closed

[2022-01-11 22:54] #312 closed

[2022-01-20 14:43] MortenGrum commented on #222
I know this is old but seeing it's open:

I just ran two test. Multiprocessing worked fine with pyswmm (using this api https://docs.python.org/3/library/multiprocessing.html) but multithreading with python's thread api did not work.

[2022-01-20 14:58] bemcdonnell commented on #222
@MortenGrum, can you share the code for these two tests?  We have been successful running multiple models in parallel using python's `subprocess` combined with `threading` packages.

[2022-01-20 15:11] MortenGrum commented on #222
Sure. I will need to simplify compared to the code I have now (which is mixed with other stuff). I'll try share it in the weekend.

[2022-01-20 15:32] bemcdonnell commented on #222
@MortenGrum, that would be awesome.  I will put them in some examples for PySWMM so that it will help others out.

[2022-01-24 10:14] floriandorre opened #314 "Possibility to set report_step using the Simulation class"
Hi,

Would it be possible to add the possibility to set the report_step value using the Simulation class ?

In my case I use step_advance but if the step_advance value is not the same as the initial report_step from the INP then I will not have the values expected in the OUT file.

For now the only way to do it is to update the INP file before loading it right ?

Thanks in advance for your help

[2022-02-12 21:52] FarisCS commented on #222
Did you get around to sharing the test? I am attempting a similar task and that would be very helpful.

[2022-02-13 09:57] MortenGrum commented on #222
Yes @FarisCS, I finally did and here it is:

Using a pipe to return data from subprocesses to the main process:

[code]

If you don't need to return anything from the sub-processes it gets even simpler:

[code]

This is tested with python version 3.8.6 and pyswmm 1.1.0 on Windows 10.

Note that there are differences between processes on different operating systems, so it may need some adjusting to

[2022-02-13 14:29] bemcdonnell commented on #222
@MortenGrum, nice example. This is quite similar to how we do it at Xylem.  I can work with the team to persist this into some examples. Thanks!

[2022-02-14 15:46] Dinho4 opened #319 "Initializing the Model in PySWMM"
The following is what view whenever I try to Initialize simulation, and don't know how to proceed.

from pyswmm import Simulation, Links, Subcatchments, Nodes, SystemStats

root = 'C:/Users/Malesela/Downloads/'
inpSWMM = 'CIV5000W Simulation Project.inp'

sim = Simulation(root + inpSWMM)

Cannot open input file C:/Users/Malesela/Downloads/CIV5000W Simulation Project.inpTraceback (most recent call

[2022-02-14 16:28] jennwuu commented on #319
You are seeing this error because pyswmm cannot find the inp file that you provided in the path.

Can you confirm if path (root + inpSWMM) is correct or if pyswmm installation has access to it?

[2022-02-15 01:46] vww-wrc opened #321 "Obtaining runoff results from all subcatchments in "for step in sim""
**Describe the bug**
I am running into problems of getting pyswmm to produce the result of all subcatchments in a simulation run by stepping through timesteps. Basically I am trying to loop through a list of new LID parameter values to explore how subcatchment runoff changes due to these LID new values. I was able to set the new LID values, but failing to 1) obtain results of all subcatchments' ru

[2022-02-15 03:21] jennwuu commented on #321
Hello Vivian,

Thanks for using pyswmm.

1. Yes, it is possible to instantiate all subcatchments for a loop. I think you are doing that in the example provided. Let me know if I misunderstood your question.

[code]

2. You can track each flow rate and sum up the data during simulation iteration. Or you can use [statistics](https://pyswmm.readthedocs.io/en/stable/reference/subcatchments.html#pyswmm

[2022-02-15 14:11] #304 closed

[2022-02-17 13:19] floriandorre commented on #224
Just fount out that this was possible by putting the results ini value to 1.

Steps:
- open the inp used for the pyswmm simulation
- save it with the GUI
- edit the ini generated
Replace those settings
[code]
by those ones
[code]
- re-open the inp

Then the GUI detects the results

[2022-02-18 12:42] zhaoguohan2021 commented on #298
I also run into the same problem, since I install the pyswmm in anaconda env.
The solution works for me is to go to this directory below:
C:\Users\QM03JZ\Anaconda3\envs\pyswmm\Lib\site-packages\swmm\toolkit

and **edit _init_.py** by adding **os.environ['CONDA_DLL_SEARCH_MODIFICATION_ENABLE']="1"**

if platform.system() == "Windows":
    libdir = os.path.join(os.path.dirname(__file__), "../../swmm

[2022-03-07 02:18] juanaherran commented on #157
Hello!

I would like to know if the latest version of pyswmm allows to change the roughness of the pipes.

Thanks to lot.

[2022-03-18 16:08] #224 closed

[2022-04-04 14:48] zxyzmbc1030 opened #334 "What is the unit of total_periods for outfall statistics?"

[2022-04-06 09:16] FeiZiGe commented on #284
I'm wondering if the bug is fixed. Because this time it terminates at the 254th iteration.

[2022-04-06 12:57] bemcdonnell commented on #284
@FeiZiGe can you please post your code so we can try to see what is going on?

[2022-04-06 13:07] FeiZiGe commented on #284
@bemcdonnell Thank you!  I have figured it out. If I use the expression sim.execute(), it will actually terminate in the 254th iteration, but if I change the expression, such as
[code]
and then there are no more abnormal termination and the calculation speed will also increase.

[2022-04-07 06:57] zxyzmbc1030 commented on #334
@jennwuu thank you for the answer. What is the minimum flow value? Is it equal to 0 by default? I refer to the codes and line 556 there is a variable called "MIN_RUNOFF_FLOW" but it is not defined in "stats.c".

[2022-04-07 09:28] dickinsonre commented on #334
MIN_RUNOFF_FLOW is used in the subcatchment runoff to define surface runoff - if the runoff is less than MIN_RUNOFF_FLOW the it is reported as zero (these are internal SWMM 5 engine changes)  - not PySWMM.

[2022-04-07 14:06] jennwuu commented on #334
Like @dickinsonre explained `MIN_RUNOFF_FLOW` is an internal value in the SWMM C engine. You can find the value here: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/025337c026dc2b6d493fb23ab05016329f7547cb/src/solver/consts.h#L47

[2022-04-07 14:32] zxyzmbc1030 commented on #334
Thank you. But I still don't understand the meaning of total_periods for outfall. If it is compared to minimum flow value (or MIN_RUNOFF_FLOW), then does total_periods denote the duration when outfall has inflow? To say, can I multiply total_periods with time step to calculate outfall inflow duration?

[2022-04-08 19:40] jennwuu commented on #334
Correct, I think it is fair to interpret `total_periods` as the duration when outfall has inflow. `total_periods` is only incremented when flow exceeds MIN_RUNOFF_FLOW.

[2022-05-06 02:04] aiwei169 opened #337 "Q.A."

[2022-05-06 02:05] aiwei169 opened #338 "q.a."

[2022-05-06 02:08] aiwei169 commented on #337
Hi guys, I think you were doing a very great job in this project. It is very meaningful to the water Analytics career. PySWMM has helped me a lot.
I got some problems that, do you guys have some real-data to prove or test the result from this python package?

[2022-05-06 02:12] #338 closed

[2022-05-24 17:07] bemcdonnell commented on #337
@aiwei169 can you clarify what you are asking for? Do you want to see regression testing information to prove that our results are the same as USEPA SWMM?

[2022-05-24 17:46] dickinsonre commented on #337
Maybe he means calibration data?  Also an issue with EPA SWMM?

[2022-06-02 05:41] kweisshahn opened #341 "Questions Regarding Engine"
I am hoping to become a new user and I have been looking at utilizing PySWMM on some projects as an XPSWMM or PCSWMM replacement. I have been reading across the other issues and am having a hard time understanding if the engine is swappable by the user.

This is my current understanding:
1. EPA SWMM engine is "updated" with some API to the OWA version here: [https://github.com/OpenWaterAnalytics/S

[2022-06-02 07:05] lujiayou123 opened #342 "System module storage"
![image](https://user-images.githubusercontent.com/25896865/171571797-c5bdaa46-04c4-4ece-83ee-969ca7bd9ee7.png)
![image](https://user-images.githubusercontent.com/25896865/171571747-436130cb-45e5-45d7-938d-4c5b8ddaca19.png)

Excuse me, How to implement the function in the above image by pyswmm?

[2022-06-02 07:49] floriandorre commented on #342
Hi, you will probably find it using the output parser : https://pyswmm.readthedocs.io/en/latest/reference/output.html#pyswmm.output.Output.system_result

[2022-06-02 13:28] Alex199449 opened #346 "How to run Pyswmm with a different swmm5.dll?"
I want to use a different SWMM called SWMM-UrbanEVA in PySWMM. The SWMM Code is modified by EPA SWMM.
For doing that I need to build up PySWMM on the different swmm5.dll.
I have the git version of the SWMM-UrbanEVA, but how are the steps to reproduce PySWMM based on the different SWMM.

 - OS:  Windows,

[2022-06-02 13:53] #346 closed, assigned to nobody

[2022-06-13 09:33] Lwiss-dotmon opened #348 "ImportError: DLL load failed while importing _solver : Couldn't find the specified model"
the error occured after "import pyswmm".
what can i do to  solve this problem?
![image](https://user-images.githubusercontent.com/56637046/173324138-fe1165a3-47ed-48cd-bb4b-ffb09ff179e0.png)

[2022-06-13 09:42] #348 closed

[2022-07-04 09:28] shizhiman opened #350 "ERROR 403: project not open or last run not ended"
Hi everyone!
I am quite new to pyswmm. For study purposes, I am supposed to use pyswmm to test multi-threaded simulation.
However, I encountered this Error 403:project not open or last run not ended.I use two method,using step,it not work.
so I want to know: when multi-threaded simulation using step,it not work? How to multi-threaded simulation?
Thank you very much in advance!

The development env

[2022-07-04 13:27] #350 closed, assigned to nobody

[2022-07-29 06:49] rhc123123 opened #353 "Simulation can't simuluate more than 254 inp files.ERROR 305"
Hello!

I needed to run multiple INP files using Simulation of PYSWMM, but I found the following error when I ran the 254th number of files:

Exception:
  ERROR 305: cannot open report file.

mycode:
for newpath in newpath_list:
            sim = Simulation(newfilepath)
            sim.execute()

I'm sure there's nothing wrong with the path to the file because this is the file that I generated in

[2022-08-18 09:31] abhiramm7 commented on #230
Addressed in https://github.com/OpenWaterAnalytics/pyswmm/pull/357

[2022-08-18 09:31] #230 closed

[2022-08-18 09:32] abhiramm7 commented on #334
@zxyzmbc1030 closing this issue for now. Let us know if you have any additional questions.

[2022-08-18 09:32] #334 closed

[2022-08-18 09:38] abhiramm7 commented on #314
Hi @floriandorre, Sorry for the delay - it was just seven months 😅. Yes, right now, you would have to do it via input file. As far as I know, we would have to update the SWMM source code to expose the `report step` as a variable. Let us know if you are interested in working on it. We can guide you through it, and I promise it will not take seven months to get back to you :).

[2022-08-18 09:40] abhiramm7 commented on #307
Closing due to inactivity.

[2022-08-18 09:40] #307 closed

[2022-08-18 09:42] abhiramm7 commented on #303
Done and dusted. Kudos @jennwuu

[2022-08-18 09:42] #303 closed

[2022-08-18 09:43] #302 closed

[2022-08-18 09:45] #300 closed

[2022-08-18 09:45] abhiramm7 commented on #292
Closing due to inactively.

[2022-08-18 09:47] abhiramm7 commented on #292
Seems like this is an issue with how the file is defined in ink file. Closing it for now.

[2022-08-18 09:47] #292 closed

[2022-08-18 09:48] abhiramm7 commented on #288
Closing due to inactivity. @azzahrasfs please reopen if necessary.

[2022-08-18 09:48] #288 closed

[2022-08-18 09:50] #286 closed

[2022-08-18 09:52] abhiramm7 commented on #285
Addressed.

[2022-08-18 09:52] #285 closed

[2022-08-18 09:53] #284 closed

[2022-08-18 09:55] #14 closed

[2022-08-18 09:55] #34 closed

[2022-08-18 09:56] #51 closed

[2022-08-18 10:24] #104 closed

[2022-08-18 10:25] #107 closed

[2022-08-18 10:32] abhiramm7 commented on #118
I am closing this issue due to inactivity.

[2022-08-18 10:32] #118 closed

[2022-08-18 10:33] abhiramm7 commented on #134
@rudyvandrie just wanted to circle back on this conversation. Are you still interested in working on the integration?

[2022-08-18 10:35] abhiramm7 commented on #179
Closed due to inactivity.

[2022-08-18 10:35] #179 closed

[2022-08-18 10:36] #186 closed

[2022-08-18 10:37] #188 closed

[2022-08-18 10:38] #213 closed

[2022-08-18 10:39] #225 closed

[2022-08-18 10:40] #228 closed

[2022-08-18 10:42] #238 closed

[2022-08-18 10:42] #239 closed

[2022-08-18 10:43] #272 closed

[2022-08-18 10:44] #260 closed

[2022-08-18 10:45] #257 closed

[2022-08-18 10:46] #240 closed

[2022-08-18 10:47] abhiramm7 commented on #282
Closed due to inactivity. @xie-kun let us know if you still want this answered.

[2022-08-18 10:47] #282 closed

[2022-08-18 11:36] floriandorre commented on #314
Hi @abhiramm7 thanks for the reply and no problem for the delay it was not an emergency at all :). I will pass the information to my colleagues since i'm no longer working on SWMM projects. (@georges-schutz)

[2022-08-18 11:38] rudyvandrie commented on #134
Absolutely....

Regards Rudy

On Thu, 18 Aug 2022, 18:33 Abhiram, ***@***.***> wrote:

[2022-08-23 03:33] abhiramm7 commented on #134
@rudyvandrie awesome, please fo let me know if you anything from our end to get this going :)

[2022-08-30 10:12] jlonghku opened #360 "Can not access to the hrt of a node?"
It does not work when I try to access the hydraulic residence time of a node. That might be caused by the name changes of features of NodeResults (hrt).  It works after I changed the  code in node.py `return self._model.getNodeResult(self._nodeid, NodeResults.hrt.value)` to `return self._model.getNodeResult(self._nodeid, NodeResults.hyd_res_time.value)`. Is it a suitable way to fix it or any other

[2022-08-30 10:22] #360 closed

[2022-08-30 10:23] jlonghku opened #361 "Can not access to the hrt of a node?"
It does not work when I try to access the hydraulic residence time of a node. That might be caused by the name changes of features of NodeResults (hrt).  It works after I changed the  code in node.py `return self._model.getNodeResult(self._nodeid, NodeResults.hrt.value)` to `return self._model.getNodeResult(self._nodeid, NodeResults.hyd_res_time.value)`. Is it a suitable way to fix it or any other

[2022-09-07 02:54] abhiramm7 commented on #361
Hi @jlonghku, thanks for raising this issue ! :). Should be a quick patch.

[2022-09-12 10:45] bemcdonnell commented on #174
@Husnain2244, as of this moment, the `Conduit` information has not been exposed in the OWASWMM-API.  My suggestion is that your work around is

1. Open INP file with python `swmmio`
2. Edit the Conduit Length
3. Save the INP file
4. Open With PySWMM
5. Run `simulation`
6.  ... your analysis.

We are currently roadmapping some of the future features of pyswmm and this is one thing we have in mind!

[2022-09-14 09:53] Husnain2244 commented on #257
@bemcdonnell @s154024
Hi, Thanks for your above discussion. I also read previous posts related to getting/setting storage node parameters. Please let me know if the current version of pyswmm can access/modify the storage unit's parameters (especially its storage volume) by pyswmm. Or If there is any other tool that can be used for this purpose. Thank you!

[2022-09-15 19:14] rpachaly commented on #280
Hello! I'm new to open source projects and I would like to help in this issue. I used to run large models and I missed a feature like this.

[2022-09-15 20:06] bemcdonnell commented on #280
Here is an example of how to print the progress if you want!

[code]

[2022-09-15 23:21] dickinsonre commented on #280
Decades of staring at computer screens makes be love this.  I would suggest a slight variation/ also tell the user an estimate of the time left in the simulation.  I mean clock time based on total duration and clock time used,

[2022-09-17 15:05] abhiramm7 commented on #361
Addressed in https://github.com/OpenWaterAnalytics/pyswmm/tree/develop

[2022-10-09 12:52] Dr-Guoge opened #367 "How do I run the model iteratively after modifying the model's lid parameters?"
hello, I want to know how to run the model again at a certain time step after modifying lid parameters with pyswmm tool? Thank you

[2022-10-10 00:47] dokzai commented on #367
Hello @Dr-Guoge

Are you trying to modify LID parameters **during** the simulation? Note that it is only possible to modify the LID drain coefficient during a simulation.

Source: https://pyswmm.readthedocs.io/en/stable/reference/lidlayers.html

[2022-10-10 01:35] Dr-Guoge commented on #367
Hello @dokzai
I want to modify the lid unit's number in one of sub-catchment and run the model again. With multiple iterations, I hope to find the optimal number of lid unit.

[2022-10-10 20:37] dokzai commented on #367
Hello @Dr-Guoge

Check out the documentation and tutorial from https://pyswmm.readthedocs.io/en/stable/tutorial/tutorial.html#lid-controls

You can probably set the `number` which determines the number of Lid Units per subcatchment before running the simulation.

[2022-10-25 09:25] KillDragon opened #368 "AttributeError: 'LidGroup' object has no attribute 'WaterBalance'"
** WAIT!!! WAIT!!! Is this an ISSUE or DISCUSSION??**
If you need help with a problem, ask a question in our discussion board! if you are getting bad/wrong data or you are experiencing a bug due to pyswmm, raise an issue.

When I use the official sample code, I get the following error message：
![image](https://user-images.githubusercontent.com/15921876/197736748-9eb18729-5eaa-4143-b70d-caed492b1dd

[2022-10-31 17:16] karosc commented on #280
I was thinking about adding a [tqdm](https://github.com/tqdm/tqdm) bar to the Simulation class.

I'd add it as an optional argument to the object constructor so you could disable it if desired, but would like to have it enabled by default.

Any opposed to this idea? It would add another dependency to the project, but would create a clean looking progress bar. If there isn't interest, maybe we can

[2022-11-01 00:13] bemcdonnell commented on #280
@karosc i like the idea but not if it requires a new dependency. Any ideas on a native python implementation?

[2022-11-02 13:39] BuczynskiRafal commented on #246
Okay, I see what the problem is.
The validation in question is planned to be on the PySWMM side? I might be able to implement this?

[code]

[2022-11-02 14:25] bemcdonnell commented on #246
@BuczynskiRafal, if you scroll down to the bottom of this page it will show you the links to the various repositories and how the project is architected.

https://www.pyswmm.org/

I’m going to convert the issue to a discussion until we find units of work to work on

[2022-11-07 13:07] Dr-Guoge commented on #367
Hello @dokzai
Thank you very much. I can modify the lid unit's number in one of sub-catchment and run the model again. But I found the results don't change when I modify the lid category and change its number in one of sub-catchment. This is the part of my code.
`lid_on_sub = {}
            for i in range(60):
                lid_on_sub[i + 1] = LidGroups(sim)[str(i + 1)]
                for k in

[2022-11-07 13:18] bemcdonnell opened #382 "Add global state manager"
As our user-base grows, I think it would be valuable for us to incorporate a global simulation system manager. Since you cannot run two simulations simultaneously within one instance of Python (a limitation of SWMM, not pyswmm), I think we should start tracking if an instance is open.

[2022-11-09 13:52] #159 closed

[2022-11-10 20:49] ruilee16 opened #384 "Change the timeseries value before simulation"
Hi, is there a way to change the timeseries values before the simulation starts?

[2022-11-13 11:27] theafromhust commented on #157
Hi, I wonder if the latest version of pyswmm allows to change the roughness or the diameter of the pipes.

Thanks a lot