[2015-02-19 02:35] ghost opened #5 "Implement swmmtoolbox into this repo"
https://bitbucket.org/timcera/swmmtoolbox/

[2015-11-17 23:32] bemcdonnell commented on #5
I just noticed this message.. My apologies. I will study the swmmtoolbox and see if there are elements that are in line with the goals of pyswmm. Conceptually we are hoping to have few dependencies. Furthermore, we are forecasting a newer SWMM API to more quickly parse and output files.

[2016-05-12 01:46] #5 closed

[2016-08-14 16:57] goanpeca opened #6 "Packaging and Distribution"
Great initiative, what I meant by this, was if at any time it has been given thought to provide an interface to swmm that is more pythonic on top of what swmm provides.

This can go from simple thing as naming conventions (SWMMSomething vs swmm_something) to higher level abstractions, that would appeal more to python developers (and possible contributors) and users.

[2016-08-15 13:01] bemcdonnell commented on #6
@goanpeca Thank you for your interest in this tool.  Can you be a little more specific on what you are suggesting?

[2016-08-15 15:30] goanpeca commented on #6
Disclaimer, I have not used this library yet, but I have used [this other wrapper](https://pypi.python.org/pypi/SWMM5) and based my comments with that in mind, however..

---

Something like what a python user would expect when working with python

[code]

You see what I mean?

[2016-08-15 16:03] bemcdonnell commented on #6
@goanpeca The library you referenced provides a nice interface with SWMM and is maybe ahead of our lib at least at the user end.  While the functionality is great, I have experienced a few limitations especially with respect to speed when parsing out large output files.  Likely, pyswmm (this repository) will be joined with another lib we are working on that can be found in my repositories  "bemcdo

[2016-08-15 16:25] goanpeca commented on #6
Not sure I understand

Agree it should :-)

Is this a problem for cross platform work?

Yep, that is what I meant also with the pythonic interface... a python complete model for SWMM for setting input and getting output and running simulations.

---
I would like to help :-), Is there any roadmap or place where this work is described discussed?

[2016-08-15 16:27] goanpeca commented on #6
On a separate topic, are you familiar with conda and anaconda?

I am creating packages for [open-epanet](https://github.com/OpenWaterAnalytics/EPANET) when I get some feedback, maybe you can provide some :-p

[2016-08-15 16:55] bemcdonnell commented on #6
Great! Well lets get started!

The input API issue has been raised under the SWMM Repo:

Check out OpenWaterAnalytics/Stormwater-Management-Model#2

[2016-08-15 17:03] goanpeca commented on #6
Cool, reading now, need to brush up my C, I am almost a python dev these days :-p.

---

No comment on conda? :-p?

[2016-08-15 17:54] bemcdonnell commented on #6
I certainly have no opposition to someone helping this project get on board with conda. However, I think there are quite a few steps that need to be taken beforehand before pyswmm is more useful to a large audience

[2016-08-15 18:51] goanpeca commented on #6
@bemcdonnell I guess what I meant was more in line with, having SWMM and epanet as conda packages and then pyswmm use dlls from those packages, hence, pyswmm and epanet-python would depend on those packages compiled for the specific platforms, instead of providing this dlls within this package.

[2016-08-15 21:47] michaeltryby commented on #6
@goanpeca Python package management is something I'm just now coming up to speed on. How is conda different than say setup? What sort of build system does conda use to compile the dll's?

[2016-08-15 22:35] goanpeca commented on #6
Well python packaging its a loooooooong history, but [this post](http://technicaldiscovery.blogspot.com.co/2013/12/why-i-promote-conda.html) on this topic that gives a broad summary on the why of conda

I am assuming by setup, you mean setup.py (pip install something?), anyway setup.py only handles python dependencies whereas conda handles any type of package (python, R, C, C++, etc...). Conda als

[2016-08-16 15:41] michaeltryby commented on #6
One thing we are wrestling with is packaging, deployment, and installation of our desktop applications now that we are transitioning to Python. What if anything does conda provide in that department?

[2016-08-16 15:49] goanpeca commented on #6
Hi @michaeltryby,

Well the toolchain would be:
1. **conda-recipes** are use with **conda-build** to build a conda package (conda packages are binaries essentially with some metadata) using a continuous integrations system (Travis: OSX, Circle-CI: Linux and Appveyor: Windows)

Some high level commands that are executed:
- `conda build conda.recipe`

2. Upload built packages to https://anaconda.org

[2016-11-09 21:37] bemcdonnell opened #7 "Support for Linux"
@abhiramm7 @mehmetbercan @aerispaha, Would any of you be up for the challenge?

[2016-11-10 07:15] mehmetbercan commented on #7
I can do the support for Python 3.

Mehmet

[2016-11-11 02:48] bemcdonnell commented on #7
@mehmetbercan Awesome! Do you want set some milestone goals?

The best approach is if you fork the repo, and branch off of the dev branch.

[2016-11-11 05:18] mehmetbercan commented on #7
Have heard about "https://travis-ci.org/? It tests the Github projects for every version of a programing language.

[2016-11-11 12:23] bemcdonnell commented on #7
Indeed.  I started setting this up last night.
[travis.yml](https://github.com/OpenWaterAnalytics/pyswmm/blob/InputAPIEnhancements/.travis.yml)

If you would like to take over and finish setting this up, that would be great too!

[2016-11-11 20:39] aerispaha commented on #7
I'm interested in helping too! I've hobby-managed a handful of linux web servers which may be a starting point for me. I'm interested finding ways to put access swmm in a webapp - if that is somewhat along the lines of what you're looking for, I'd like to get involved.

[2016-11-11 21:09] bemcdonnell commented on #7
@aerispaha, pyswmm will be a great foundation for a web application.  Support for Linux (and OSX) means we need to do a couple of things:

1. We need to build SWMM5 with the toolkitapi in Linux https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/tree/toolkitapi
2. Place that '*.dylib' or shared object (*.so) library into the pyswmm repo in here https://github.com/OpenWaterAnalytics/p

[2016-11-11 21:16] aerispaha commented on #7
This sounds great. After I wrap my head around the structure these projects, I'd be happy to work on this.

[2016-11-11 21:21] bemcdonnell commented on #6
@goanpeca, I'd like to keep an open mind to your conda idea.  We've made a lot of progress recently on pyswmm and the SWMM5 toolkit api.  Would you still be interested in helping this come to life?

[2016-11-11 23:10] goanpeca commented on #6
Sure @bemcdonnell what can I do :-) ?

[2016-11-11 23:37] bemcdonnell commented on #6
@goanpeca You previously mentioned that pyswmm could depend on SWMM as a conda package.

I have been making some major improvements to the SWMM Toolkit API.  Perhaps this issue is better raised in the SWMM Repo/branch:

OpenWaterAnalytics/Stormwater-Management-Model/tree/toolkitapi

I'm mostly interested in what the best practice would be for setting this framework up such that I would not need to

[2016-11-16 14:32] bemcdonnell opened #8 "Test Models"
@abhiramm7 In response to your email, I have been adding a couple test models to the [InputAPIEnhancements branch](/OpenWaterAnalytics/pyswmm/tree/InputAPIEnhancements/test).  So far there are a couple very simple models that can be used to test the basic functionality (pulling data and adjust link settings).  I have a more complicated model that I will add after running some more controls tests.

[2016-11-16 16:12] abhiramm7 commented on #8
Thanks @bemcdonnell for the reply. I was thinking of couple of test cases, which not only demonstrate how SWMM can be used for simulation of control cases, but can act as a common test cases for people to test their control algorithms on. I am thinking in the lines of  (https://gym.openai.com/) for water systems control. May be we need have a discussion on  whether these test cases would be  part

[2016-11-16 16:48] bemcdonnell commented on #8
@abhiramm7, yes, I understand what you are looking to do. I agree that we need a collection of "standard models" for control cases. I don't think we have a good common place for these models to exist today. moreover, I don't think these really need to live with pyswmm.

I am envisioning a controls wrapper that uses pyswmm as a dependency. This would be a good place for these models to live. What a

[2016-11-16 17:26] bemcdonnell commented on #8
I just looked at  https://gym.openai.com/ .  It looks pretty cool, actually!

[2016-12-08 19:02] bemcdonnell commented on #6
@goanpeca, I am looking to push this project to Python Package Index and I ran into a problem:

https://pypi.python.org/pypi/pyswmm/0.1.0

It looks like you have registered the pyswmm project name.  Do you have plans to submit a pyswmm to PyPI? If not, would you mind removing it so then this pyswmm project could live there? I really appreciate it!

[2016-12-09 12:17] bemcdonnell opened #9 "PyPI"
@goanpeca, I am looking to push this project to Python Package Index and I ran into a problem:

https://pypi.python.org/pypi/pyswmm/0.1.0

It looks like you have registered the pyswmm project name. Do you have plans to submit a pyswmm to PyPI? If not, would you mind removing it so then this pyswmm project could live there? I really appreciate it!

[2016-12-09 19:05] #9 closed

[2016-12-10 02:18] goanpeca commented on #6
Hi @bemcdonnell, yes I registered the name a loooong time ago... just give me your pypi username so I can add you as a maintainer. No problem wth that. I think it is easier to do that that deleting and creating etc....

I would be very happy to help improve the package also :-) (My main gripe so far has been that packages out there dont feel pythonic) . I dont have time right now, but I will next

[2016-12-10 20:35] bemcdonnell commented on #6
Here are my concerns and general thoughts.  You are absolutely entitled to keeping the name pyswmm in the pypi; I missed our chance to secure it while we were in beta testing.  My loss.

My concerns are that, while this could be a good thing overall since it appears you have thousands of lines of code experience behind you, you may steer this into a direction that is not agreeable from the perspec

[2016-12-10 20:42] goanpeca commented on #6
Lets have a hangout. you have my email right?

[2016-12-10 20:48] #6 closed

[2016-12-10 20:56] bemcdonnell commented on #6
@goanpeca, Thanks!  We really appreciate it. I will follow up with an email to setup a time for a Google Hangout.

[2017-01-30 05:30] goanpeca commented on #7
@bemcdonnell I have experience wih travis ci, appveyor and cirlcle ci for testing osx, win and linux respectively. I am happy to help on that front.

[2017-01-30 06:06] goanpeca opened #10 "Use pytest for testing"
Hi @bemcdonnell for python testing we have choices, unittest which is part of standard python and py.test, which is a third party module. I prefer the latter as it is more modern, in constant development, and makes testing a breeze.

I can help moving the current test into more proper unit testing convention (with pytest)

Thoughts?

[2017-01-30 14:53] bemcdonnell commented on #10
@goanpeca I think pytest is the best option for us to move forward with. If you want to make help with that, it would be awesome

[2017-01-30 14:58] goanpeca commented on #10
@bemcdonnell which branch should I make the PRs against?

[2017-01-30 15:01] goanpeca opened #11 "Release process / Workflow"
I will be devoting some time to this project starting this week, so I propose some workflow to organize the work and give information to future developers.

I have some info from other projects I work on, and I can start adding that to the wiki, but I would need some access for that.

@bemcdonnell do you want to schedule a hangout/skype to go over the workflow and what you think?

[2017-01-30 15:08] bemcdonnell commented on #10
@goanpeca how many more steps would it take to update the Appveyor CI?  FYI, as of today, the only platform we have full support on is Windows.  There is a *.dylib in the repo for OS but It only has simple interfacing functions.   I will have a Linux version of SWMM5 compiled and functioning very very soon.

Please submit a PR to the pythonic feature branch :-)

[2017-01-30 15:15] goanpeca commented on #10
For testing stuff on CI we (I ?) are normally using conda as the environment for bootstrapping the build process (if needed) and the environment process. So I would prefer to have the conda packages for use with this. If you have the build stuff ready for linux (which should be almost the same if not the same for OSX) then I can make those packages this week.

Once that is ready I would need to co

[2017-01-30 15:18] bemcdonnell commented on #11
@goanpeca I added you as a collaborator to the project

[2017-01-31 12:17] bemcdonnell commented on #10
@goanpeca, I have a few changes to make to swmm before it will *happily* compile on Linux. we can talk about workflows, milestones, and strategy tomorrow evening on the call.

[2017-02-02 02:22] goanpeca opened #12 "Add CI Integration"

[2017-02-02 02:23] goanpeca opened #13 "Add release instructions"

[2017-02-02 02:24] goanpeca opened #14 "Add coverage with coveralls"

[2017-02-02 02:24] goanpeca opened #15 "Add automatic checks (ciocheck?)"

[2017-02-03 01:53] goanpeca opened #16 "Add scrutinizer and quantified code"
@bemcdonnell could I have admin access to start activating the CI services plus other things things like https://www.quantifiedcode.com/app/project/new and scrutinizer?

[2017-02-16 02:19] bemcdonnell opened #18 "Add Nodes Module"

[2017-02-16 02:20] bemcdonnell opened #19 "Add Subcatchment Module"

[2017-02-16 02:23] bemcdonnell opened #20 "Add Tutorial to Docs"
@rkertesz,would you be interested in working on a Tutorial for PySWMM?

[2017-02-16 02:49] goanpeca opened #21 "Add copyright to files"

[2017-02-16 02:50] goanpeca opened #22 "Add RELEASE.md"

[2017-02-16 02:50] goanpeca opened #23 "Add MANIFEST.in"

[2017-02-16 02:59] #21 closed

[2017-02-16 03:03] goanpeca opened #25 "Add CHANGELOG"

[2017-02-16 03:03] goanpeca opened #26 "Add gitattributes to ensure correct line ending"

[2017-02-16 03:07] bemcdonnell opened #27 "Enhancements to pyswmm.Simulation base classes"

[2017-02-16 03:40] bemcdonnell commented on #16
@goanpeca This issue has been completed, right?

[2017-02-16 03:58] goanpeca commented on #16
@bemcdonnell could you add quantifiedcode.com ?

I could not do it as the organization openwater analytics is not listed. Maybe you can?

[2017-02-16 03:58] #26 closed

[2017-02-16 03:59] #23 closed

[2017-02-16 04:10] goanpeca opened #31 "Add setup.cfg for package build"
Since we are shipping dll and so files, this is acting as a universal wheel package.

[2017-02-16 04:14] rkertesz commented on #20
Absolutely
________________________________
From: Bryant McDonnell <notifications@github.com>
Sent: Wednesday, February 15, 2017 9:23:38 PM
To: OpenWaterAnalytics/pyswmm
Cc: Ruben Kertesz; Mention
Subject: [OpenWaterAnalytics/pyswmm] Add Tutorial to Docs (#20)

@rkertesz<https://github.com/rkertesz>,would you be interested in working on a Tutorial for PySWMM?

—
You are receiving this because you

[2017-02-16 04:17] goanpeca opened #32 "Use ENUMs for the constants"
It is better to use enums (py34 and greater)

https://github.com/OpenWaterAnalytics/pyswmm/blob/master/pyswmm/toolkitapi.py

[2017-02-16 12:16] bemcdonnell commented on #31
Just so you know... the *.so has not seen a new compilation since maybe 2014. It has minimum functionality. I have someone lined up to help with this

[2017-02-16 14:12] #27 closed

[2017-02-16 14:12] #16 closed

[2017-02-16 14:37] bemcdonnell opened #33 "Incorporate binary output file reader"
This module will need significant work. However, once the feature are incorporated into pyswmm, there will be a nicer interface to reading results.

Planning on adding a class to pyswmm.py:

`pyswmm.BinaryReader`

https://github.com/bemcdonnell/SWMMOutputAPI

[2017-02-16 14:49] goanpeca commented on #16
awesome thanks :-)

[2017-02-16 14:50] bemcdonnell commented on #16
Should I be adding you as a maintainer to all these third-party tools?

[2017-02-16 14:51] goanpeca commented on #16
sure

[2017-02-16 14:53] bemcdonnell commented on #16
Done done

[2017-02-16 15:46] goanpeca opened #34 "Add plot helpers"
It would be super cool to have some plot subroutines based on matplotlib (optional dependency) and get ready to use plots with not so much work.

Thoughts @bemcdonnell?

[2017-02-16 15:48] goanpeca opened #35 "Start creating the abstract model"
We currently have the simulation class, but in order to create a model from scratch (without and input file) it makes more sense to have perhaps a Network class

[code]

[2017-02-16 16:53] bemcdonnell commented on #35
Yes I agree.... but.....  This is going to require a lot of enhancements within the SWMM API.  I have some ideas for sure... As far as milestones, Why don't we push this issue to milestone 0.4.  We're talking lots of planning and lots of testing on the SWMM side before this is possible.

[2017-02-16 17:08] bemcdonnell commented on #34
I think passing a plot / axis handle with be very useful. One important first step is open of the functions in the SWMM5-API to pull the coordinates from an Input file.

[2017-02-16 17:10] bemcdonnell commented on #34
that is... Assuming you meant maps and not hydraulic results. We could easily plot results now.  Could you pose a few ideas on layout?

[2017-02-16 17:41] goanpeca commented on #34
Maps, results all :-p

[2017-02-16 17:42] goanpeca commented on #35
Sure, the idea is making an issue about every single thing we think of.

[2017-02-18 13:00] bemcdonnell opened #36 "Links modules build out"
Several more API functions have been exposed that support links. Need to finish building out the links module

[2017-02-20 00:58] bemcdonnell commented on #36
Has been built out based on the API functionality to-date

[2017-02-20 00:58] #36 closed

[2017-02-20 00:59] #18 closed

[2017-02-20 21:26] bemcdonnell opened #40 "incorporate SWMMOutputAPI (Binary Reader)"

[2017-02-20 22:32] #40 closed

[2017-02-21 00:45] goanpeca commented on #34
For ideas I dont know.. if we have the `Network` object we could do soemhting like

[code]

And that would plot the network with some base labels identifying stuff. That would be very handy :-), don't you think?

We need access to the coordinates!

[2017-02-21 00:47] goanpeca opened #42 "Clean up code"

[2017-02-21 01:40] bemcdonnell commented on #34
Whatever we decide to do, I feel that passing axis handles will be the best approach. Then we leave customization up to the user. Thoughts? Both?

[2017-02-21 02:07] goanpeca commented on #34
you mean returning axes? sure sounds good

[2017-02-21 02:17] #42 closed

[2017-02-21 02:17] #32 closed

[2017-02-21 02:33] bemcdonnell commented on #34
For example https://networkx.github.io/documentation/networkx-1.10/reference/generated/networkx.drawing.nx_pylab.draw_networkx_nodes.html#networkx.drawing.nx_pylab.draw_networkx_nodes

Pass an axis object to the function

[2017-02-21 02:35] goanpeca commented on #34
Sure, but thats optional...

[2017-02-21 05:32] goanpeca opened #44 "Fix enum34 if on circle ci"

[2017-02-21 05:43] #13 closed

[2017-02-21 05:43] #11 closed

[2017-02-21 06:06] goanpeca opened #46 "Move tests inside pyswmm folder"
It is a nice practice to keep tests close to the code they test and also to ship the tests within the python module. This way users can run the tests if needed.

[2017-02-21 06:07] goanpeca opened #47 "Update README"
Include badges and change the super long and boring abstract to something more useful.

[2017-02-21 13:13] bemcdonnell commented on #47
Let me know what badges need to be added. I will pull this together

[2017-02-21 13:15] bemcdonnell commented on #46
@goanpeca, I think we can distill these tears down to a few at this point. 1 test per module?

[2017-02-21 14:09] bemcdonnell opened #48 "Fix Docs"
@goanpeca looks like they're broken now

[2017-02-21 14:41] bemcdonnell opened #50 "All dev on dev"
@goanpeca, Once we fix all the issues, from now on lets work off of a `dev` branch instead of master.

[2017-02-21 14:53] goanpeca commented on #50
@bemcdonnell why?

We can leave master as dev.. if we need to keep track of the current version we make a branch when we make the release...

So we have master and v0.3.x

[2017-02-21 15:33] #12 closed

[2017-02-21 15:33] #15 closed

[2017-02-21 15:33] #44 closed

[2017-02-21 16:09] #22 closed

[2017-02-21 16:09] #25 closed

[2017-02-21 16:09] #31 closed

[2017-02-21 16:15] goanpeca commented on #10
@bemcdonnell are these names attached to anything meaningful `TestModel1_weirSetting.inp`?

I am reorganizing all the tests folder, plus moving them so just making sure the number (testmodel1) can be removed in favor of more standard shorter names?

[2017-02-21 16:17] bemcdonnell commented on #10
@goanpeca Feel free to change any of those files.  They are only used in the tests scripts... We can dump all of those tests..

[2017-02-21 16:21] goanpeca opened #51 "Move code examples from docstrings into module/class docstring"
The problem with having all these detailed examples within the docstring of each method is that:

- They can get outdated easily
- We are changing the api as it settles so updating that is too much work
- Its too repetitive.

I suggest we only add a few examples on the module docstring or the Class docstrings. The methods should only contain the description and what each parameter does.

[2017-02-21 16:27] goanpeca commented on #50
The thing is that master is not currently a stable release... that will only happen when we make the actual release... which should be in a couple of days I guess.

[2017-02-21 16:40] goanpeca opened #52 "Use numpy docstring format instead of the other (I forgot the name)"
NumPy dosctring format is way way way more readable and friendly. It also standard so many auto doc generation tools etc understand it directly or via a plugin.

http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html

[2017-02-22 01:03] bemcdonnell opened #55 "import update bug fix for py2.7"

[2017-02-22 01:51] #55 closed

[2017-02-22 03:36] #48 closed

[2017-02-22 15:38] #8 closed

[2017-02-22 15:38] #10 closed

[2017-02-22 15:39] #46 closed

[2017-02-23 03:13] bemcdonnell opened #63 "updates to Simulation.py"

[2017-02-23 03:18] #63 closed

[2017-02-23 20:47] #47 closed

[2017-02-23 20:48] #20 closed

[2017-02-24 23:17] bemcdonnell opened #65 "Turn off binary reader until updated"

[2017-02-24 23:34] bemcdonnell commented on #33
#65 For now

[2017-02-24 23:34] #33 closed

[2017-02-28 03:23] bemcdonnell opened #71 "Backward Compatibility"
So far the tests check out **fine on Windows 10**.

This Error has been noticed on older versions of windows:
```WindowsError: [Error 126] The specified module could not be found```

It seems prior Windows versions call for a couple support DLLs: including

* msvcp120.dll
* msvcr120.dll
* vccorlib120.dll
* vcomp120.dll

These libraries should sit along side of your main python script

[vcomp120.zi

[2017-02-28 03:26] #19 closed

[2017-02-28 03:27] #65 closed

[2017-02-28 03:52] goanpeca commented on #71
We need to have the corresponding runtime installed for the respective python version (2008, 2014,  2015) we cannot rely on manual compilation of these packages on local machines, this just does not scale and would be error prone, this is where the whole conda/conda-forge toolchain shines.

[2017-03-06 23:16] bemcdonnell opened #72 "Default Save to Bin File"
Updated default Simulation Save Results to Bin File.

[code]

[2017-03-07 00:08] #72 closed

[2017-03-09 18:59] bemcdonnell opened #75 "Set Simulation End Time"
Issue in SWMM5-API - Not PySWMM:

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/15

Need to recompile SWMM to address this issue

[2017-03-10 14:06] #75 closed

[2017-03-10 15:11] bemcdonnell opened #77 "Add SWMM-DLL picker"

[2017-03-10 15:13] dickinsonre commented on #77
This sounds like a very good idea to me, it would be a nice way to have alternate engines.  Would you unload the default dll and then load an alternate dll based on user options?

[2017-03-10 15:19] bemcdonnell commented on #77
We had a simple discussion on this point yesterday in PR #74.

@michaeltryby's idea

[2017-03-10 15:22] bemcdonnell commented on #77
One point to consider is if the user-selected DLL does not contain the *extended* toolkit API functions.  In these cases, the functions to **open** and **run** the simulation will still work.

[2017-03-13 23:48] #77 closed

[2017-03-14 21:30] lmontest opened #79 "Import Error"
[code]

[2017-03-14 21:32] goanpeca commented on #79
Hi @lmontest will look into it

[2017-03-14 22:41] bemcdonnell commented on #79
He is using py2.7.13(win32) on windows 10

[2017-03-18 03:33] bemcdonnell opened #80 "Support for python 3"

[2017-03-28 03:29] rkertesz opened #82 "Anybody else facing issues when using in virtualenv?"
I wanted to set up pyswmm in a virtualenv and have all the prerequisite modules installed in the virtual env (on windows BTW) but am getting a number of errors similar to this:

  File "<_snip_>.py", line 44, in <module>
    Tank<_snip_>            = Links(sim)["Tank<_snip_"]
  File "<_snip_>\virtualenv\virtual_1\lib\site-packages\pyswmm\links.py", line 68, in __init__
    self._nLinks = self._mod

[2017-03-28 03:37] rkertesz commented on #82
Just noting that this runs fine in my normal environment

[2017-03-28 10:13] bemcdonnell commented on #82
If you're are using py2.7 you need to get the enum34 package.

pip install enum34

[2017-03-28 15:53] goanpeca commented on #82
@bemcdonnell that should have been handled by the installer

[2017-03-28 15:54] bemcdonnell commented on #82
@goanpeca - I was noticing for some machines enum34 wasn't getting installed

[2017-03-28 15:55] goanpeca commented on #82
we need to check what machines, OS python version how it was installed, etc

[2017-04-08 00:35] abhiramm7 commented on #34
@bemcdonnell I used networkx for a plotting a storm water network, with radius of each node representing relative volume. I have a adhoc way doing it from .inp file. Networkx seems to be a good way to plot swmm networks, they look visually better and are configurable. I tried using matplotlib and couldnt figure out a good way to do it. Here is a example.
<img width="1307" alt="screen shot 2017-04-

[2017-04-10 17:05] goanpeca commented on #34
Hi @abhiramm7 definitely something worth considering. Maybe post a gist ?

[2017-04-10 17:53] aerispaha commented on #34
@abhiramm7 this is really cool. I'm working on a project [over here](https://github.com/aerispaha/trace) that is making heavy use of Networkx for the purpose of sewer design calculations. One of the outputs from the process is a visualization of the network to a Mapbox interface, that you may find interesting. Here's an example showing the upstream area and time of concentration path for a selecte

[2017-04-11 02:28] abhiramm7 commented on #34
@aerispaha Wow swmmio is amazing ! I can definitely use for some of my stuff.  I had a hard time getting the coordinates from inp to networkx too. Thanks for sharing them.

@goanpeca Sure thing, I'll clean it up and post it.

[2017-04-24 17:05] bemcdonnell commented on #34
@abhiramm7 and @aerispaha,

Sorry for my delay here - I was on vacation.  For network plotting I wonder if a better strategy would be to develop a package that uses `pyswmm` as a dependency.  As for `pyswmm` and plot helpers, I think we should focus on passing simple axis handles that support post-processing as well as plotting results during simulation time.

I think having a network plot utility

[2017-04-30 22:50] #50 closed

[2017-05-02 00:54] #80 closed

[2017-05-03 01:05] bemcdonnell opened #83 "update engine version function"
Since earlier engines behave differently WRT datetime, we need to make this function play nice

[2017-05-03 01:46] bemcdonnell opened #84 "Add routing error functions to sim object"

[2017-05-03 01:53] bemcdonnell opened #85 "support for SWMM 5.1.12"

[2017-05-03 03:42] bemcdonnell opened #87 "incorporate actual swmm_stride in SWMM 5.1.13dev0"

[2017-05-03 06:09] abhiramm7 commented on #34
@goanpeca here is a crude network visualization using networkx and swmmio, with conduits and ponds.
 https://gist.github.com/abhiramm7/3ff0eb3339b49ec17a943bcfe1f79d61.
![figure_1](https://cloud.githubusercontent.com/assets/14915561/25649579/9e051a1c-2fa4-11e7-98ab-4eac046589d7.png)

@bemcdonnell yeah, you are right. It makes more sense to have these as  visualizations as a separate package.

@aer

[2017-05-05 03:36] #83 closed

[2017-05-05 03:36] #84 closed

[2017-05-05 03:36] #85 closed

[2017-05-05 03:36] #87 closed

[2017-05-05 14:45] #79 closed

[2017-05-05 14:46] #71 closed

[2017-05-05 14:46] #82 closed

[2017-05-05 14:47] bemcdonnell commented on #7
Believe this has been addressed - It's now a function of what happens in the SWMM repo

[2017-05-05 14:47] #7 closed

[2017-05-08 15:53] bemcdonnell opened #88 "Add Simulation Percent Complete"
@goanpeca, @michaeltryby,

In addition to providing `Simulation.current_time`, I feel there would be value in a `Simulation.percent_complete`.  Any thoughts before I dive in?

[2017-05-08 17:40] #88 closed

[2017-05-09 12:59] bemcdonnell opened #90 "Add test *.inp files to distribution"

[2017-05-13 00:30] bemcdonnell opened #91 "Wrap new SWMM API Functions System and Runoff Flows"
New Functions Here:

[code]

[2017-05-16 02:48] #91 closed

[2017-05-27 17:51] bemcdonnell opened #95 "MacOS Support"

[2017-05-28 15:45] #95 closed

[2017-05-30 13:34] bemcdonnell opened #99 "Fix lib selector"

[2017-05-30 13:49] #99 closed

[2017-05-31 02:36] goanpeca opened #100 "Update CI systems"

[2017-05-31 02:37] bemcdonnell commented on #100
Thumbs up!

[2017-05-31 03:03] goanpeca opened #102 "Add extra check on library loading"
To make this package work seamlessly with conda (when we finally make the swmm package for it) we need to update the logic that checks for the DLL etc... so that it tries/except first to load what is available on path (which is the way it should work with conda) and then it loads the bundled libraries (which is what is being used now for pip only installs)

[2017-05-31 03:06] bemcdonnell commented on #102
As long as we can still allow the user to "pick" the engine they want to use.

[2017-05-31 03:07] goanpeca commented on #102
@bemcdonnell I was never convinced of this feature really, when using conda and using a dev version of SWMM we need to revamp how your development workflow works. There is no real circumstance when one needs to manually select a DLL.

[2017-05-31 03:14] bemcdonnell commented on #102
The reality is, many of us use proprietary versions of swmm. These versions include a toolkit API but also some nice internal features. In any case, I want to be able to run my proprietary version of swmm within pyswmm. As far as how it is implemented today, I find it very handy. Perhaps there is a better way. In any event, I want to be able to pick and choose.

[2017-05-31 03:16] bemcdonnell commented on #102
Another case for this is if I want to run a simulation with an older version of swmm to post process and compare results.

[2017-05-31 03:16] goanpeca commented on #102
pyswmm is an open package and it should support what is out there in the open, if you want support for your custom tweaked SWMM that is a different story. BEsides, whatever nice things you have implemented on this "closed private swmm" would not be implemented.

[2017-05-31 03:17] goanpeca commented on #102
Then we create conda packages for different versions of swmm, but you dont handle de dll path manually.. that is just not how things normally work

[2017-05-31 03:20] goanpeca commented on #102
I am against adding extra code on pyswmm so it can run some private version of SWMM someone (you?) use out there. That would be a huge turndown for open source users, if there is some code on pyswmm

[code]

Again, that is not how open source works.

[2017-05-31 03:28] bemcdonnell commented on #102
Yes indeed pyswmm is an open source tool. However, I feel that it should be flexible.  The way it's implemented today is vey flexible. All I'm wanting is to point to a different engine - not to build in features that only benefit the proprietary engines. giving users flexibility is helpful. Lew himself, if he didn't agree on an approach or feature to add to swmm, he would make it possible for some

[2017-05-31 03:33] bemcdonnell commented on #102
By the way. You mention handling the pay manually - that is not how it was finally implemented. Today the user does is

Import pyswmm
Pyswmm.lib.use("enginename")

[2017-05-31 03:34] goanpeca commented on #102
I guess ok then.

[2017-05-31 03:35] bemcdonnell commented on #102
We'll find a way! :-)

[2017-05-31 06:44] dickinsonre commented on #102
I agree with @bemcdonnell it would be great to be able to choose an alternative engine for engine development, backward and forward engine versions and feature testing.  I would also be a boon to thesis students around the world who are handicapped by time and a lack of GUI programming skills.  They have an idea to test or a feature they want to add the ability to choose is important to them.

[2017-06-03 21:59] bemcdonnell opened #104 "Rpt file parser"
@aerispaha , do you have a SWMM rpt file parser?

[2017-06-03 22:01] dickinsonre commented on #104
@bemcdonnell a swmm rpt or text file parser is part of the SWMM 5 GUI code in Pascal

[2017-06-03 22:03] bemcdonnell commented on #104
Right, but I'd like to integrate this functionality into pyswmm for post processing analyses. A parser in python would be ideal

[2017-06-05 01:21] aerispaha commented on #104
@bemcdonnell, I do have a rpt parser. It's not complete but I make a lot of use of it for grabbing data from element-wise results tables. I can help port this into pyswmm if it makes sense.

[2017-06-05 01:28] bemcdonnell commented on #104
@aerispaha, awesome! That would be great.  One of my next goals it to get post-processing fully implemented.  I have added the .out file reader but haven't had time to get it working.  The .out reader is compiled C code with a python wrapper around it.  This helps us query results much faster (since compiled code is doing the heavy lifting).

With the .rpt parser we might go through a couple itera

[2017-06-05 01:35] bemcdonnell opened #105 "Update pyswmm tests"
* test_plot_node_inflows.py
* test_plot_pump_setting.py
* test_plot_toolkit_units.py
* test_plot_weir_setting.py

[2017-06-05 16:17] bemcdonnell commented on #104
@aerispaha, Thanks in advance! I set this issue to Milestone v0.5.0

[2017-06-06 14:39] bemcdonnell commented on #104
@aerispaha, Can this be done without any *major* dependencies? I'm in favor of keep pyswmm pretty light weight and robust.

[2017-06-06 16:05] aerispaha commented on #104
@bemcdonnell I was actually contemplating this last night. I make use of Pandas for some of the parsing in swmmio. Basically, I do some manual text parsing ([here](https://github.com/aerispaha/swmmio/blob/master/swmmio/utils/text.py#L156)) to get it to a point where Pandas can make sense of it with a pd.read_table() call. From that point, a lot of the manipulation leverages Pandas (I love pandas).

[2017-06-06 16:54] bemcdonnell commented on #104
Maybe I misinterpreted what @dickinsonre was saying --- Maybe the point was that we could re-write the parser in Python.

[2017-06-06 16:56] bemcdonnell commented on #104
This begs the question - Incorporate the RPT parser in PySWMM or write a separate package?

[2017-06-06 17:08] dickinsonre commented on #104
@bemcdonnell Yes, that was my intention.  I am not sure how transportable PAS code is but you can see how Lew Rossman parses the RPT file in this Delphi routine  Fresults.pas

[2017-06-06 17:40] bemcdonnell commented on #104
I have provided a link to the file (had to change the extension for Github) -> [Fresults.txt](https://github.com/OpenWaterAnalytics/pyswmm/files/1055935/Fresults.txt)

[2017-06-06 17:56] bemcdonnell commented on #104
There might be a clean way to work this straight into the existing infrastructure that PySWMM has today.  For example (the stats functions haven't been incorporated yet but..)

[code]

[2017-06-06 17:59] bemcdonnell commented on #104
So I think functional access into the RPT file is the best strategy.  Calling a function to get a value would be better than parsing out the entire file and storing it into a data model.

[2017-06-06 21:06] aerispaha commented on #104
That makes sense to me. If I understand correctly, I this is similar to the model in swmmio: when data is needed, I call a function that reads the text directly from the .rpt.

After some more thought though, I'm not entirely understanding the end goal of parsing the rpt within the PySWMM project. Doesn't PySWMM already have access to the SWMM data model, and wouldn't it be easier to retrieve resu

[2017-06-06 21:12] bemcdonnell commented on #104
It's a fair question.  Post-processing results is a domain that would fit the *spirit* of pyswmm.  If I have a model that takes 15 hrs to run, and I want to generate some quick plots (assuming I have access to the rpt and out files), I'd rather not run the model again.

[2017-06-06 21:17] bemcdonnell commented on #104
It just seems that if there was a seamless way to get at data, it would be really nice.  If the user initialized a node object, and can then pluck out results from it would be great.  Same point - if the user wants to use pyswmm to simply "load" a model and get parameters out, they can do that without running it.  Results, if available, would be a great addition to this toolbox.

[2017-06-07 14:20] aerispaha commented on #104
Understood - that makes sense to me now after sleeping on it.

In general, I'm interested in being able to model comprehensive suites of scenarios (for a number of reasons). And, being able to store the results of all these scenarios and easily interpret them when needed is definitely something that is useful.

Its a big part of how we're doing flood mitigation planning in Philadelphia. For exampl

[2017-06-11 23:26] goanpeca opened #107 "Create conda packages"
https://github.com/conda-forge/staged-recipes/pull/3116

[2017-07-13 23:57] #105 closed

[2017-07-13 23:57] #102 closed

[2017-07-14 09:23] abhiramm7 opened #108 "Orifice opening limits"
Orifice opening percent beyond 100 percent(>1.0) seems to significantly effect the performance of the hydrograph(below plot). I think we should have the function implement restrictions on the percent opening.
![wier_opening_error](https://user-images.githubusercontent.com/14915561/28206479-a9fdd16e-68a3-11e7-9d23-5e71d2fef098.png)

[code]

[2017-07-14 09:37] dickinsonre commented on #108
@abhiramm7 If you make this change it will change the results for existing models and make it very hard for PID controllers to work.   IMO, if you want to add this it would be better to add another Control Rule to never let the setting go beyond 1.0

[2017-07-14 10:02] abhiramm7 commented on #108
@dickinsonre Oh, I wasn't aware of it. By PID controller being effected, do you mean that we need the flexibility of orifice setting being > 1 ?

I was thinking of a slight change in the current implementation, where the function checks whether the link is an orifice and if the opening is > 1 raises a error. Is that what you meant by adding a control rule ?

[2017-07-14 11:51] bemcdonnell commented on #108
@abhiramm7, do you mind raising this issue on the SWMM REPO? Whether copy or reference this, I don't mind either way. It's worth a discussion for sure.

[2017-07-14 16:12] bemcdonnell commented on #108
@dickinsonre, I feel that for pumps we can have uncapped settings [0, inf).  If we allow an orifice to go "uncapped", it seems to me that it could exhibit unrealistic behavior.  This might be something we could do for PySWMM (and not update in SWMM).

[2017-07-14 16:19] goanpeca commented on #108
@bemcdonnell a first step would be to print a warning!

[code]

[2017-07-14 16:20] dickinsonre commented on #108
I can think this is needed for bendable weirs and in ICM we have a VCWEIR RTC that allows weirs and orifice to grow and shrink.  I think I had this in XP-SWMM as well.   If there is way to do something then people will use that means as a workaround.  Taking away engine capabilities for a one off problem may not be the best option.  IMO, again.

[2017-07-14 16:21] bemcdonnell commented on #108
@dickinsonre, that's an excellent point. It's much hard to take away things than it is to add

[2017-07-16 15:14] dickinsonre commented on #108
@bemcdonnell   @abhiramm7 my example of a PID is bogus as Lew Rossman has code to not allow the setting to be greater than 1 for a non pump is controls.c
    // --- check that new setting lies within feasible limits
    if ( setting < 0.0 ) setting = 0.0;
    if (Link[a->link].type != PUMP && setting > 1.0 ) setting = 1.0;

[2017-07-16 15:19] bemcdonnell commented on #108
@dickinsonre, thanks for pulling tha code out! So the API allows us to bypass this currently and make a setting or an orifice or weir [0, inf). It looks like this needs to be fixed in the API so orifrces and weirs should be limited to [0,1]

[2017-07-18 20:51] bemcdonnell commented on #108
@abhiramm7, are you interested in making this API change in SWMM?

[2017-07-19 03:16] abhiramm7 commented on #108
@bemcdonnell I can give it a shot

[2017-07-31 15:22] ggerber opened #110 "Linux python3 compatibility"
Hi,
Is pyswmm expected to work straight out of the box with python3?
I had to change swmm_run in swmm.py (lines 222-224) to following to make it run
[code]

Otherwise I had this error:
TypeError: bytes or integer address expected instead of str instance

My script:
[code]

[2017-07-31 15:30] bemcdonnell commented on #110
@ggerber, what platform are you working on?  So far we have had limited support for Linux / MacOS.  Windows should be ok

[2017-07-31 15:33] ggerber commented on #110
linux; ubuntu 16.04.

On 31 July 2017 at 17:30, Bryant E. McDonnell <notifications@github.com>
wrote:

[2017-07-31 15:41] bemcdonnell commented on #110
Ok I think I see the issue here.

If you look at the function `swmm5.py` function `swmm_open`, we are actually using the `six` library to encode this:

[code]

Just to satisfy my curiosity, do you mind encoding API function call in `swmm_run` like I have above? I'm interested in see if this works for you.

[2017-07-31 15:51] ggerber commented on #110
Exact code above doesnt appear to start the simulation, unfortunately.
FYI, I am running linux on a windows machine using the free virtualbox,
should you in future think of a linux test environment.

On 31 July 2017 at 17:41, Bryant E. McDonnell <notifications@github.com>
wrote:

[2017-07-31 16:04] bemcdonnell commented on #110
@ggerber,

we have testing for linux but we are working on an automated building strategy for SWMM.

As for my code suggestions above, let me clarify.  I am not suggesting using the `swmm_open` function in place of `swmm_run`. I am suggesting that you use the `six` package to encode the three function arguments. Is this how you incorporated my suggestions? This strategy did not work?

[code]

[2017-07-31 16:13] bemcdonnell commented on #110
@ggerber, I'm also curious - did you build SWMM yourself or are you using the version that was delivered with the package?

[2017-08-01 18:45] bemcdonnell opened #111 "subcatchment Statistics Bug"

[2017-08-01 18:47] goanpeca commented on #111
Whats the bug?

[2017-08-01 18:48] bemcdonnell commented on #111
@goanpeca, I'm glad you asked:

[code]

No function return :-D

[2017-08-01 18:49] bemcdonnell commented on #111
@goanpeca, i'll push these changes later today and release `v0.4.1` tonight

[2017-08-08 23:09] #111 closed

[2017-08-08 23:09] bemcdonnell commented on #110
Addressed this issue.

[2017-08-08 23:09] #110 closed

[2017-08-16 22:33] jmpmcmanus opened #114 "pyswmm on fedora"
I'm trying to use pyswmm on fedora with python 3.6. When I install it using pip the shared object library is not install at pyswmm/lib/linux/swmm5.so. If I download the shared  object library from the pyswmm github site and put it in pyswmm/lib/linux/swmm5.so, I then get the following attribute error:

swmm5.so: undefined symbol: swmm_getVersionInfo

when I run execute. I think I need to compile t

[2017-08-17 02:11] bemcdonnell commented on #114
@jmpmcmanus, pyswmm is fully supported on windows as of today. We are working on upgrading the project so that swmm is built specific for each platform automatically. The builds currently happen "offline" and in the case of Linux, we currently don't have anyone building these regularly as we make improvements to swmm. This explains why when you are calling swmm_getversioninfo it's not working (sin

[2017-08-17 11:49] jmpmcmanus commented on #114
Is there a way I could help?

    On Wednesday, August 16, 2017 10:11 PM, Bryant E. McDonnell <notifications@github.com> wrote:

 @jmpmcmanus, pyswmm is fully supported on windows as of today. We are working on upgrading the project so that swmm is built specific for each platform automatically. The builds currently happen "offline" and in the case of Linux, we currently don't have anyone building

[2017-08-17 13:43] bemcdonnell commented on #114
@jmpmcmanus, Totally. Any help along these lines would be fantastic!

[2017-08-17 20:05] bemcdonnell commented on #114
In continuation:

Can you share the error info?

[2017-08-17 20:09] jmpmcmanus commented on #114
... SWMM Version 5.2.0.dev0... Run Complete*** Error in `python': double free or corruption (!prev): 0x0000000000a9e720 ***======= Backtrace: =========/lib64/libc.so.6(+0x7c8ac)[0x7f52f0ec18ac]/lib64/libc.so.6(+0x87759)[0x7f52f0ecc759]/lib64/libc.so.6(cfree+0x16e)[0x7f52f0ed20be]/lib64/libc.so.6(fclose+0xae)[0x7f52f0eb669e]/home/jmcmanus/anaconda3/lib/python3.6/site-packages/pyswmm-0.5.0.dev0-py3.

[2017-08-17 20:42] bemcdonnell commented on #114
@jmpmcmanus,

What if you try:

[code]

[2017-08-17 20:47] jmpmcmanus commented on #114
It did not crash, but I did not see any output.

    On Thursday, August 17, 2017 4:42 PM, Bryant E. McDonnell <notifications@github.com> wrote:

 @jmpmcmanus,What if you try:>>> from pyswmm import Simulation

...     for ind in sim:
...         pass
...     sim.report()—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-17 20:53] bemcdonnell commented on #114
@jmpmcmanus, output to the screen? or output to files?

If output to screen is what you are looking for you can print the time, for example.

[code]

You can specify a path to the rpt and out files if you want:

[code]

[2017-08-17 21:14] jmpmcmanus commented on #114
That worked when I ran sim.execute() it produced the rpt file and out file, before it did the core dump.

    On Thursday, August 17, 2017 4:53 PM, Bryant E. McDonnell <notifications@github.com> wrote:

 @jmpmcmanus, output to the screen? or output to files?If output to screen is what you are looking for you can print the time, for example.>>> from pyswmm import Simulation

...     for ind in sim:

[2017-08-17 21:15] bemcdonnell commented on #114
@jmpmcmanus, awesome! Sounds like a I have to fix the bug in the `execute()` method.

[2017-08-17 21:16] #114 closed

[2017-08-17 21:17] bemcdonnell opened #115 "execute() method"
I think this function is trying to call the `swmm.swmm_close()` function twice.

Seems to be okay on Windows.  Not Linux/MacOS.

[2017-08-17 21:21] bemcdonnell commented on #114
Bug reported: https://github.com/OpenWaterAnalytics/pyswmm/issues/115

[2017-08-19 01:53] bemcdonnell opened #116 "Add hydraulic initial conditions before simulation starts"
Since we are using the `with` statement to handle the clean up, and since the simulation loop was designed with an iterator (to be clean), I think this solution will be the cleanest.

[code]

so then in the `Simulation` class

[code]

--- and ---

[code]

[2017-08-19 01:53] bemcdonnell commented on #116
@goanpeca, what's your opinion?

[2017-08-19 13:14] goanpeca commented on #116
Looks hood , except I think the more general used term is initial conditions

[2017-08-22 00:08] #115 closed

[2017-08-22 00:08] #116 closed

[2017-08-22 04:45] gandresr opened #118 "Collaboration response"
Hi everybody! I am part of the @water-systems team. I am writing you to answer the message I received from @bemcdonnell a year ago. I apologize for the late answer but I had to abandon the development of MatSWMM in the last year because of the load of work I had in my research job. On the one hand, I have seen what you have done, and I am very impressed! pyswmm is an amazing tool and I definetely

[2017-08-22 11:31] bemcdonnell commented on #118
@gandresr, thanks for reaching out! Glad you're here! My line of work also involves complex control of systems - I'm interested in seeing what you have in mind!

Can you share the pyswmm / swmm / and your system version info? I should have some time to dig into this issue this morning.

[2017-08-22 12:07] bemcdonnell commented on #118
@gandresr, I ran your test locally and found the results to match:

Here was the `test.py` script:

[code]
Results from PySWMM (v0.4.2: SWMM5.2.0.dev1):

![test](https://user-images.githubusercontent.com/6105134/29564638-b42c553a-8710-11e7-991d-29f9a8be0814.png)

Results pulled from SWMM 5.1.11 (Generated using PCSWMM):

![image](https://user-images.githubusercontent.com/6105134/29564698-e9b7165e-

[2017-08-22 18:40] gandresr commented on #118
Great! as I told you before, right now I am working developing functions for parameter estimation to estimate linear state-space models from the information provided by SWMM. In terms of complex control I want to include functions to determine the minimum quantity of sensors and actuators required to control any network modelled with SWMM.

I am using SWMM 5.1.011 and pyswmm 0.4.1.

[2017-08-24 13:06] bemcdonnell opened #119 "Update SWMM Library"

[2017-08-24 13:06] #119 closed

[2017-08-30 15:53] bemcdonnell commented on #104
I Met the illustrious @lucashtnguyen at the EWRI Conference in May and just found his Python-based SWMM rpt file parser on Github: https://github.com/lucashtnguyen/swmmreport.  I'd like to see this utility find its way into PySWMM as part of a post-processing tool if possible.

This can probably use a lot of the infrastructure that we currently have in PySWMM.  So today we have `Simulation` class.

[2017-08-30 15:55] goanpeca commented on #104
Sure @bemcdonnell I think there is value in it!

[2017-08-30 16:07] lucashtnguyen commented on #104
Hi gang, glad to be here! I've checked out PySWMM a few times, but haven't had a deep dive into depths :ocean: of it's code base. I am familiar with Tim Cera's .out parser and have hacked around with that in years past. My .rpt parser has a fairly complete (though light weight) frame work, but it still missing several of the SWMM data streams. Right now it does depth and surcharge.

[2017-08-30 16:15] goanpeca commented on #104
@lucashtnguyen we can take it from there :-) an expand, pyswmm is still young but we have plans to conquer the world 😈

[2017-08-30 16:21] lucashtnguyen commented on #104
I suppose I should give a little introduction:
I'm a scientist at Geosyntec. I work mainly in water resources, but my python and data analysis skills get brought into a lot of different work in different client sectors. These days I deploy and run a lot of models on Amazon Web Services, write internal tools, data wrangle files that make Microsoft (e.g. Excel) products :cry:

[2017-08-30 23:42] bemcdonnell commented on #104
@lucashtnguyen, there is no shame in being a data plumber! :-)

So I'd like for you to get the credit for your work.  Therefore, I think the cleanest way to start this process out would be for you to essentially commit your code directly to the repo (instead of someone else committing it on your behalf).  This way when I run the `update-authors.sh` script, you will be added to the AUTHORS list.

I

[2017-08-31 16:25] lucashtnguyen commented on #104
@bemcdonnell Haha agree! The emoji was signifying MS Excel crying. I'd like to get a better understanding on how you want to mesh this with the current code base so that I can help you integrate my tool as well. I have a project kicking off in about a week that I _need_ to use `swmmreport.py` and will _need_ to build more functionality. Maybe it makes sense for me to build that out first? This wor

[2017-08-31 17:10] bemcdonnell commented on #104
@lucashtnguyen, you raise a really good point.  If you are going to maintain this in a separate repo (for now), then maybe we can take this in a slightly different direction.  Would you be interested in some support over there? Once it reaches a stable place, we can migrate it into pyswmm.  If you want to raise some issues over there as a to-do list, we can begin collaborating there.  How does tha

[2017-08-31 21:52] lucashtnguyen commented on #104
@bemcdonnell I've got project budget to update this tool, but if you have free time on your hands great! I think what would be most helpful is for you to submit an issue to the repo on what you would need to integrate this to pyswmm.

[2017-09-01 13:04] bemcdonnell commented on #104
@lucashtnguyen, I will work on a GithubGist as an example of how this might be integrated.

[2017-09-01 14:12] bemcdonnell commented on #104
@lucashtnguyen, Here is the Gist I put together. It is not ready to drag and drop, but it should illustrate the concept.  The theme of this is to expose iterators for all objects in the report file.  This should touch on almost all items that are stored in the file.

https://gist.github.com/bemcdonnell/a1c1231f1dd81480e0bfb9f8f4d7d951

There are three scripts:

1. `user_script.py`,
2. `report.py`,

[2017-09-02 15:43] lucashtnguyen commented on #104
@bemcdonnell I read through your Gist and the concepts seem clear to me. I should have `swmmreport`  built out to where I need for my current project by Tuesday. Then I'll be able to think more carefully about this integration.

[2017-09-05 13:06] bemcdonnell commented on #104
@lucashtnguyen, Thanks!  Also just to be clear, you might have a better approach once you get into the integration.  Please don't feel any way restricted by my proposed integration strategy.

[2017-09-20 01:16] bemcdonnell opened #120 "Outfall Loading Volume Update"
There was a calculation error in the total outfall volume.

[2017-09-20 01:52] #120 closed

[2017-09-20 01:56] bemcdonnell opened #123 "Correct Link and Node Iterators"

[2017-09-20 01:57] #123 closed

[2017-10-24 20:46] jsadler2 opened #124 "[Error 193] %1 is not a valid Win32 application"
Hi. I just installed pyswmm through pip. When I run this code:
[code]
I get the following error:
`WindowsError: [Error 193] %1 is not a valid Win32 application`
I am running Windows 10 64 bit. Python 2.7 64 bit
I thought maybe the problem is that it can't find the SWMM execution files so I added the directory where I have SWMM on my system to the environmental variable path. But it didn't change a

[2017-10-24 21:42] bemcdonnell commented on #124
@jsadler2, SWMM has not been fully tested on a 64 bit architecture yet which is why we are currently only compatible with py 32-bit.  However, if you want to use it 64bit version of SWMM, get it from here: [OWA Lib SWMM](https://anaconda.org/owa/libswmm ).

If you replace the swmm5.dll with this one `site-packages/pyswmm/lib/windows` with the dll from conda, it should run.  If it doesn't run, let

[2017-10-24 21:44] bemcdonnell commented on #124
@jsadler2, by the way - we are working on 64-bit compatibility for SWMM.  We are building a complete regression testing framework and we're a few weeks out.  You can watch our progress here: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model

[2017-10-25 19:40] jsadler2 commented on #124
That makes sense. Thanks for the help, @bemcdonnell. Switching out the dll file worked. Cool work here, both with the PySWMM and the 64-bit compatibility.

[2017-10-25 21:09] bemcdonnell commented on #124
@jsadler2, glad to hear it worked.  I think the Python error `WindowsError: [Error 193] %1 is not a valid Win32 application` is a bit dated and doesn't reflect 64-bit python.  Anyways - Thanks for using PySWMM!

[2017-10-25 21:09] #124 closed

[2017-11-02 17:58] katmratliff opened #125 "pollutant buildup addition to subcatchment stats"
Proposing to add a new entry to the subcatchment `statistics` dict. Corresponding changes are in the process of being pulled into OWA/SWMM.

[2017-11-02 18:02] katmratliff commented on #125
@bemcdonnell trying to follow your author contributions checklist, albeit a little out of order :)

[2017-11-03 16:39] jsadler2 opened #126 "Add x-coord and y-coord as property to node object"
I would like the node object to include x and y coordinates as object properties. The most straightforward way to do this in my mind is to write a Python parser to extract this info from the .inp file.

Note: I am new to the pyswmm world so I'm not exactly sure what this would involve. I was about to write some code to parse the .inp on my local machine as I need this functionality personally, but

[2017-11-03 16:46] bemcdonnell commented on #126
@jsadler2, I suggest you write a Github Gist with the framework that you have in mind.  I think we will have a lower level input file meta data reader, and the higher level nodes objects will call down and get the coordinates.

The high level API, the coordinates would become a property of a Node object so:

[code]

[2017-11-03 16:47] lucashtnguyen commented on #126
@jsadler2 I've actually just recently written something to do this, see: https://github.com/lucashtnguyen/hymo/blob/master/hymo/swmminp.py#L503

[2017-11-03 16:50] lucashtnguyen commented on #126
@bemcdonnell if this is functionality you guys want in pyswmm, I can see about adding that in with the report parser. My availability will be opening up soon

[2017-11-03 16:56] bemcdonnell commented on #126
@lucashtnguyen, I think coordinates would be nice to support within pyswmm.  One of the things I want to be thinking of is that as time goes on; pyswmm will hopefully touch the entire SWMM5 Data model and have access to `add item` and `remove item`.  I like the functionality you bring to surface the contents of the input file to a user and with such capability, I want to be careful in that the use

[2017-11-03 17:06] lucashtnguyen commented on #126
@bemcdonnell I agree. The reason pyswmm is powerful is because it interacts with the data model opposed to just viewing it.

@jsadler2 if you need a quick fix, hymo should let you query the coordinates pretty easily by doing something like:

[code]

[2017-11-03 17:56] jsadler2 commented on #126
@lucashtnguyen that's great. That's pretty much exactly what I was looking for. I cloned your repo and instantiated the `SWMMInpFile` object, but when I try to access the coordinates property, it threw an error:
![image](https://user-images.githubusercontent.com/6943441/32388645-b640f7be-c09e-11e7-8230-0df57933b321.png)

Any idea what I could have done wrong or if there is a fix?

[2017-11-03 18:05] bemcdonnell commented on #126
@jsadler2, i raised an issue related to that on @lucashtnguyen's project https://github.com/lucashtnguyen/hymo/issues/24

[2017-11-03 18:11] jsadler2 commented on #126
Thanks, @bemcdonnell that makes more sense to have it there. I'm fine moving the whole comment to keep things cleaner if you prefer.

[2017-11-03 18:38] lucashtnguyen commented on #126
@jsadler2 let's move the conversation over there. Thanks @bemcdonnell

[2017-11-03 21:47] bemcdonnell opened #127 "Set Outfall Stage"
https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/95

[2017-11-03 21:49] bemcdonnell commented on #108
Addressed this issue in SWMM. Closing it here.

[2017-11-03 21:49] #108 closed

[2017-11-09 02:38] katmratliff commented on #125
@bemcdonnell for the purposes of adding additional for subcatchment buildup, would you rather me create a separate test script or include it as part of test_subcatchments.py?

I have a test model and script that I've been using myself, but it uses both matplotlib and numpy. If I were to add my own buildups test script, would it be better to strip the extra libraries?

[2017-11-09 02:47] bemcdonnell commented on #125
@katmratliff, I suggest a new test script for pollutnats `test_pollutants.py`

[2017-11-09 02:49] bemcdonnell commented on #125
@katmratliff, and I would keep the plotting dependencies out for now. Simple tests are good using `assert`

[2017-11-14 12:17] #125 closed

[2017-11-15 02:15] #100 closed

[2017-11-15 02:16] #90 closed

[2017-11-16 13:46] bemcdonnell opened #131 "Add Object-Specific iterators"
Add functionality to iterate over the specific types:

**Nodes**: `junctions`, `outfalls`, `dividers`, `storage`

in `nodes.py`
[code]

**Links**: `pumps`, `outlets`, `conduits`, `weirs`, `orifices`

in `links.py`
[code]

[2017-12-03 14:44] lrntct opened #133 "linux swmm5.so no included in pypi package"
When installing pyswmm with pip, *pyswmm/lib/linux/swmm5.so* is not included, resulting in an OSError "cannot open shared object file: No such file or directory".

[2017-12-03 14:52] bemcdonnell commented on #133
@lrntct, this should be addressed very soon:

https://github.com/OpenWaterAnalytics/pyswmm/pull/132

We are in the process of migrating to building swmm as a python extension. Pretty soon we will no longer need to provide prebuilt binaries inside of the repo

[2017-12-03 14:54] bemcdonnell commented on #133
The project will soon fully support all platforms and architectures. USEPA swmm has been exclusively built on windows with visual studio 32bit. Once we finish the regression testing, this project will formally endorse support on other platforms. We’re very very close!!!

[2017-12-03 14:59] lrntct commented on #133
I missed #132, sorry.
Those are very good news! I just spent some hours trying to build swmm as a python extension, and it is only partially working:
https://travis-ci.org/lrntct/pyswmm/builds/310743125

[2017-12-03 15:26] bemcdonnell commented on #133
@lrntct, We have an issue here on the SWMM repo for Adding SWIG support to SWMM.
https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/71

Would you like to share some of your experience over there?

[2017-12-03 15:28] bemcdonnell commented on #133
We are going to keep the interface files inside that repo.  I believe our plan is to use pip to fetch the "release" from OWA/SWMM github page, and build with SWIG.

[2017-12-03 15:52] bemcdonnell commented on #133
@lrntct, actually, based on what I am seeing - the work you are doing will be a much cleaner implementation than #132 since your work is going to build swmm.  If you want to continue it and submit it in a PR, I think it will be a nice addition

[2017-12-03 17:47] lrntct commented on #133
If I understand well, this SWIG interface will by part of OWA-SWMM and swmm will then be packaged and distributed by pypi and/or anaconda? Then pyswmm will depends on it? Is that the objective?

If that so, my current work might be redundant quickly.

[2017-12-03 19:58] bemcdonnell commented on #133
@lrntct, @michaeltryby has done quite a bit with SWIG. The interface file will live with OWA-swmm but as far as I can tell, it will not be packaged independently from pyswmm. To be honest, there is a difficult line between the two repositories. Swmm we’d like it to be python agnostic as much as possible.  Do you have any suggestions with the approach? We want to keep these projects simple and sepa

[2017-12-03 19:58] bemcdonnell commented on #133
So to answer your question; you have a great point that those contributors could be deprecated quickly.

[2017-12-04 02:39] RudyFrom3 opened #134 "Dynamically Calculated Pit Energy Loss Coefficients"
In 1980 Clive Hare wrote his thesis that culminated in an approach to calculate the Loss Coefficients for Nodes (Pits) in a pipe network model. It utilises the flow in each pipe (LINK) and the flow rate entering the pit from the surface and also accounts for the angle of incoming pipes (LINKS) to determine the Loss Coefficient. In this way the loss coefficient can be update at each time step to ac

[2017-12-04 02:52] RudyFrom3 commented on #134
Here are reference papers to the method initially described by Hare... (Full Thesis is 10Mb..)
But I would think that coding it would not be particularly difficult?
However does require the Flow into the pit from the surface to be identiified hence requires at least a Rating Curve, or perhaps a combined, Weir/Orifice Type Equation allocated to a Node ??

[Drains_PIT_Losses.pdf](https://github.com/

[2017-12-04 02:56] bemcdonnell commented on #134
@RudyFrom3, I think we should have this discussion start in the SWMM repo: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model. If there is a cleaner implementation directly in the engine, it would seem like a path of least resistance. Do you mind raising the issue there first?

[2017-12-04 05:49] lrntct commented on #133
It might be possible to create a directory in the SWMM repo with just the necessary files to create a python package (setup.py etc.). Having a separate python package for just SWMM, with pyswmm depending on it, might be the easiest and most *separate* way to go. This would add minimal python code to the swmm repo.

On the other hand, if you manage the build inside the pyswmm repo, you'll need to i

[2017-12-04 10:18] dickinsonre commented on #134
I will just comment that using Python to calculate engine parameters will make the model probably take weeks to run?   At each and every iteration of a time step for each link you will have to pass information to the Python code, do the Hare calculations, pass the result back to SWMM5 and then proceed onwards to another stopping point to wait for Python.  i cannot imagine how this would work with

[2017-12-04 12:08] RudyFrom3 commented on #134
When linking to a 2D code like ANUGA the swmm time step will be considerably larger than the ANUGA time step so potentially it may not be such a burden, however it would be the aim to eventual code it directly in swmm in C I would think. The point is to dynamically allocate variable values of loss coefficients.
With regard to the Lateral Inflow.... I think the difference is that this does at the m

[2017-12-04 12:28] dickinsonre commented on #134
I may not be completely understanding your idea Rudy but you should not have different solutions at each time step / time step iteration and the connection time to your 2D ANGUA model.  The model solution will be horribly unstable.   The engine would be using one solution for 5 minutes and another at the 5 minute interval, for example, or whatever time you want to connect to the 2D engine.

The on

[2017-12-04 14:04] RudyFrom3 commented on #134
Yes ANUGA uses adaptive time step as it captures shocks so usually sub second. SWMM will use much larger time steps. The idea is is that ANUGA will pass Depth to SWMM over a inlet Pit, some (new) code in SWMM will calculate the flow into the pit, confirm it can be accepted into the pipe system. Update the losses and calculate pipe system dynamics including any surcharge or outflow back to the 2D d

[2017-12-04 14:06] RudyFrom3 commented on #134
The new code I imagine will be an inlet routine for a node (or more accurately possibly a {small} storage) to transform depth over pit to flow into pit. Adjusted for pipe capacity and losses in the pit ?

[2017-12-04 14:30] dickinsonre commented on #134
My final (hopefully) comment on this topic is that you need a new SWMM5 solution to properly implement these admittedly nice ideas.  A Link/Node network with the depth of the node a function of the surface area of the connecting links is step too far.  See also Ming Jin's comments on the SWMM List server as well about SewerGems.

[2017-12-04 15:44] dickinsonre opened #135 "Can you use fabric files with PySWMM?"
Can you use fabric files with PySWMM?

**Fabric is a Python (2.5-2.7) library and command-line tool for streamlining the use of SSH for application deployment or systems administration tasks.**

[2017-12-04 17:27] lrntct commented on #134
I opened an [issue](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/111) in the SWMM tracker for the inclusion of a linking code inside SWMM, and the ideas I have about the implementation. I already did something similar in [Itzï](https://bitbucket.org/itzi-model/itzi/overview). I believe that implementing it in SWMM would make it much cleaner.

[2017-12-08 17:47] lrntct opened #136 "broken doctests"
It seems that various doctests are broken. For example, in `nodes.py`, the doctests point to an unknown file. They say:
`with Simulation('../test/TestModel1_weirSetting.inp') as sim:`
While it should be:
`with Simulation('tests/data/model_weir_setting.inp') as sim:`

It seems that `links.py` has the same issue, and maybe other files as well.

[2017-12-26 07:27] #135 closed

[2017-12-27 14:52] bemcdonnell opened #139 "Update SWMM5 Lib Windows - Linking Issue"

[2017-12-27 14:52] #139 closed

[2017-12-27 14:55] #136 closed

[2017-12-29 23:24] bemcdonnell opened #140 "Add simulation_end function hook for callbacks"
in `simulation.py`

we currently have a function the is called to set initial H&H conditions which is called before `swmm_start()`.

After the simulation it would be nice to have a post_simulation functional hook for callbacks:

[code]

So before exiting the `with` block, it could call the functions.

[code]

[2017-12-30 14:41] bemcdonnell opened #141 "Restructure Error Handlers."
Seems that when the simulation errors out (like fails to start), pyswmm will keep trying to run it.  Need to update the exception handling and warnings.

[2017-12-30 19:42] bemcdonnell opened #143 "Remove bare exceptions"

[2017-12-31 17:20] #140 closed

[2017-12-31 17:20] #143 closed

[2017-12-31 18:40] bemcdonnell opened #145 "user-specified SWMM Library path"
Support added for

[code]
and
[code]

[2017-12-31 19:03] bemcdonnell opened #146 "Fix linux / osx CI"
Fetch SWMM from OWA and build it.  We can discuss packaging later

[2017-12-31 19:07] bemcdonnell commented on #146
@goanpeca, i'm going to work on this right now.  I'm not sure if you have already started this?

[2017-12-31 19:08] #145 closed

[2018-01-04 23:24] bemcdonnell opened #147 "Add before_end simulation hook."
To compliment #140

[2018-01-04 23:41] #147 closed

[2018-01-25 14:24] jsadler2 opened #149 "Time series at node"
Hi @bemcdonnell , does pyswmm currently have the ability to get a time series of results for a given node or conduit? For example, if I wanted the time series at node "j1" currently the only way I know how to do that is to append `j1.depth` and `sim.current_time` at every time step to a list. I've noticed that the generated '.rpt' file has the time series, but I don't see a way to read that throug

[2018-01-26 16:40] bemcdonnell commented on #149
@jsadler2, It sounds like you are interested in doing post-processing type analyses with a full timeseries.  At the moment, PySWMM does not build any timeseries array for you. However, we are going to migrate the OutputAPI into pyswmm so that you will have the option to read the binary output files.  If you're interested in using it in its low-level api form, go here:

https://github.com/OpenWater

[2018-01-26 16:43] bemcdonnell opened #150 "Update Tests with Assertions"

[2018-03-04 20:14] gregjewi opened #153 "Pyswmm on Windows, OSError [WinError 126]"
Hey All,

I'm having trouble using pyswmm on Windows. I've tried running it outside of Anaconda with 64bit python 3.6, inside Anaconda (64 bit, 3.6), with a 32 bit python 3.6 build in an environment. I even downloaded and am running a separate Anaconda 32bit as well. (For all attempts I used pip install pyswmm.)

When I am using either of the 32 bit python builds (my 32 bit env or the standalone A

[2018-03-04 20:37] bemcdonnell commented on #153
Search the web for VCOMP120.DLL. This is the multithreadinng library. Depending on your platform, you might need this dll placed in your working directory.  This dependency issue will be going away in a couple weeks (I promise). If that doesn’t work, there are a few more tricks to solve it.

[2018-03-04 20:38] bemcdonnell commented on #153
Ok any event, pyswmm only works with 32bit python

[2018-03-04 20:44] gregjewi commented on #153
Perfect! Working now. Thanks for the quick fix.

[2018-03-04 21:04] bemcdonnell commented on #153
No prob!

[2018-03-15 20:12] #133 closed

[2018-04-13 15:32] #150 closed

[2018-05-24 13:36] katmratliff opened #156 "ctypes LP_c_double question"
Hi PySWMMers, I am hoping someone can clarify a ctypes question... when passing arrays of pollutant values (e.g., totalLoad in the outfall statistics) from SWMM, there are many more values than I would have expected. For example, in swmm5.py:

https://github.com/OpenWaterAnalytics/pyswmm/blob/fe33a3f289dd29ba17dc75db7eb908b466469370/pyswmm/swmm5.py#L1234-L1251

The LP_c_double object pol_stats_arr

[2018-05-24 13:55] dickinsonre commented on #156
Is the array for the number of landuses per Subcatchment>  Each landuse has its own pollutant buildup/washoff options.

[2018-05-24 14:00] katmratliff commented on #156
@dickinsonre there are many many more values in this array than the number of landuses

[2018-05-24 14:10] dickinsonre commented on #156
Okay, i will try to help these weekend.  Lew did have a programmers guide at one time (2004?) to SWMM5 but LID changes post 2008 made everything more complex in subcatch.c

[2018-05-24 14:20] jennwuu commented on #156
Is the array for the number of pollutants? The stats I see from outfall_statistics are average_flowrate (value), peak_flowrate (value), pollutant_loadings (another dictionary for pollutants), total_periods (value).

[2018-05-24 14:27] dickinsonre commented on #156
totalload is for all of the pollutants so it is an array

            // --- print load of each pollutant for outfall
            for (p=0; p<Nobjects[POLLUT]; p++)
            {
                x = OutfallStats[k].totalLoad[p] * LperFT3 * Pollut[p].mcf;

[2018-05-24 15:00] bemcdonnell commented on #156
We don’t need to be too comfortable with ctypes for much longer. In a couple weeks we will deprecate out SWMM5.py and toolkitAPI.py completely when we integrate SWIG support.  :-)

[2018-05-24 15:04] katmratliff commented on #156
@bemcdonnell what I'm testing with currently has one pollutant

[2018-05-24 15:09] bemcdonnell commented on #156
What is the name of it? And how many items is it iterator unpacking?

For fun, try adding another pollutant and see what happens. Should be two. I wonder if it is iterating over the number of characters in the string array of your first pollutant. Then it seg faults.

(Full disclosure; I am on an iPhone so I didn’t dig into the code before coming up with this hair brained idea so if it sounds stup

[2018-05-24 15:27] jennwuu commented on #156
@katmratliff I'd happy to look at your test model too to check out the pollutant arrays if you want!

[2018-05-24 16:13] katmratliff commented on #156
@jennwuu yes, the intention is to print these values at every timestep (so you can make a timeseries, for example). It's working if you only print the subc stats at the end of a run. The crashing issue comes when you call for the subcatchment stats to be printed at every timestep, which is why I think those pollutant arrays are blowing up for some reason that I can't identify.

[2018-05-25 15:56] ngg-osu commented on #153
Thanks to Bryant. Another way that seems to work is to install  Visual C++ Redistributable Packages for Visual Studio 2013, directly from Microsoft website. Choose "vcredist_x86.exe" version.

[2018-06-05 15:38] Argantonio65 opened #157 "Changing conduit roughness"
Thanks for the very nice package @bemcdonnell,

I was wondering whether it is possible to change the Manning's roughness parameter in a given conduit directly using pyswmm.

As far as I see, this is not included in the link get and change parameters.

[2018-06-05 15:51] mdbartos opened #158 "Built-in GIS functionality?"
Hey @bemcdonnell, just wanted to check and see if there is any desire for integrated GIS-like functionality in pyswmm.

Some functionality that could be convenient to have:

- Find links/nodes upstream of a given node/link.
- Clip rasters to a subcatchment (to estimate impervious area, etc.)
- Find links lying within a particular polygon

Doing these efficiently would probably require introducing

[2018-06-05 16:32] lrntct commented on #158
This might be achieved by having a networkx (or similar) representation. IMHO, it could be interesting.

[2018-06-05 19:46] bemcdonnell commented on #157
@Argantonio65, Thanks!

I have a version of PySWMM that allows you to set the Manning's roughness of a conduit.  How soon do you need this? I can merge in when I get some time.

[2018-06-05 20:05] mdbartos commented on #158
I have an implementation of upstream area delineation for DEMs here:
https://github.com/mdbartos/pysheds/blob/master/pysheds/grid.py#L634

It ended up being a lot faster than explicitly constructing a graph. The only dependency is numpy (basically just used for fancy indexing). You could do it without numpy but it would probably be quite a bit slower.

[2018-06-05 20:13] bemcdonnell commented on #158
@mdbartos, I wonder if it would make sense to have this inside SWMM itself.  What do you think?

[2018-06-05 21:58] bemcdonnell opened #159 "PySWMM Logo"

[2018-06-06 07:55] Argantonio65 commented on #157
Thanks for the fast reply. I would like to be able to change roughness values within a week time. But I would not like to put any kind of pressure on you to take time for the implementation. I think adding that functionality is very interesting for pyswmm so I would encourage you to do it eventually.

However if you do not have the time to commit in this. I could try to do it myself patching my ve

[2018-06-06 09:38] dickinsonre commented on #157
Hello @Argantonio65 in the C code LINK.c the Manning's n for a link is read and then used to make the value for roughness - see these lines.  If you change the roughness you need to go back and change the parameters calculated from the roughness (Manning's n) as well...

    Conduit[k].roughFactor = GRAVITY * SQR(roughness/PHI);

    // --- compute full flow through cross section
    if ( Link[j].

[2018-06-06 23:34] bemcdonnell commented on #157
@dickinsonre, in my initial testing, this seems to be working.

[code]

[2018-06-07 02:47] rkertesz opened #160 "Pass friendly error message to user when SWMM engine halts with error"
This is the error message that I occasionally get in pyswmm:

`Warning (from warnings module):
  File "c:\projectcode\pyswmm\pyswmm\swmm5.py", line 167
    warnings.warn(self._error_message(errcode))
UserWarning: `

On more than one occasion (actually, on two occasions to be exact), I try to figure out what is wrong with my script. Then I realize that there is a problem with my input file and I ru

[2018-06-07 04:03] dickinsonre commented on #160
That would be nice, but the error messages from the SWMM5 engine can come from many places.  Most fatally when reading  or parsing a line of data. Is it possible to have the whole RPT file come back to the user of PySWMM?

[2018-06-07 11:51] bemcdonnell commented on #160
Great ideas! Yes and yes

[2018-06-07 12:44] bemcdonnell commented on #160
We have some error handling functions in swmm already that pipe the error number and error message. The problem is is how I filter errors and warnings now. Take a look at SWMM5.py. The error handling checks the error index from swmms enumerated error type... then I fetches the message. It wasn’t thoughtful from the beginning. Truth be told, if something precludes the simulation from starting, and

[2018-06-07 12:44] lrntct commented on #160
I do not know exactly how pyswmm does it now, but there is a way to translate the C error codes into a python exception. See this [example](https://bitbucket.org/itzi-model/itzi/src/master/itzi/swmm/swmm_error.py).

[2018-06-07 12:48] bemcdonnell commented on #160
@ltntct, we will soon start working on SWIG which incorporates a nice workflow for throwing a python error.  when this is done, it will be much cleaner to throw exceptions!!!

[2018-06-07 12:54] bemcdonnell commented on #160
Here’s the error throwing landscape right now for pyswmm
https://github.com/OpenWaterAnalytics/pyswmm/blob/master/pyswmm/swmm5.py#L142-L167

[2018-06-07 13:58] bemcdonnell commented on #153
I think this approach will solve our dependency issue. We can distribute VCOMP120.dll with SWMM5.dll in the next release and update the system path from Python.

https://stackoverflow.com/a/35403780

[2018-06-08 18:33] mdbartos commented on #158
Do you know if the SWMM repo contains other preprocessing utilities like this one?

Are there any other owa repos that provide preprocessing plugins for SWMM/pyswmm?

If you want to avoid dependencies, I could add a module to digest pyswmm datastructures within pysheds or some other preprocessing repo. However, this would make the preprocessing features less discoverable to users of pyswmm.

[2018-06-08 18:42] lrntct commented on #158
I believe there is a plan to add an API for the input/output of SWMM (can't find the issue, though). The original SWMM is heavily reliant on the text input file. When this change in API is done, it will be much easier to interface SWMM with a GIS, where the network functionalities exist.

[2018-06-11 17:18] katmratliff commented on #156
Since I've got this getter working at the end of a simulation, but things crash after a few time steps if I'm trying to extract SubcatchStats repeatedly throughout a simulation, I'm thinking (although could be totally wrong here) that the issue lies with the swmm_freeSubcatchStats() function in SWMM's toolkitAPI.c. After seeing the addition of this function to the API:

https://github.com/OpenWate

[2018-06-11 17:32] bemcdonnell commented on #156
@katmratliff, so I suspect we are seg faulting with this.  Currently we are allocating the memory for the struct in PySWMM, then we are allocating the rest of the memory for the Pollutant array within SWMM.  The helper functions are then created to free the pollutant array.  The original idea of allocating the memory within pyswmm and passing the struct by reference worked well before we were deal

[2018-06-11 17:55] bemcdonnell commented on #156
Cross Referencing Issue from SWMM:
https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/182

[2018-06-11 18:32] katmratliff commented on #156
@bemcdonnell makes sense! I'll get to work on restructuring the subcatchment loading/ponding getters and then add others moving forward. Seems I've made a mess of the issues related to this, so feel free to reorganize however makes the best sense or let me know what you'd prefer :)

[2018-06-12 11:22] #156 closed

[2018-06-14 16:03] jennwuu commented on #158
Not sure if this has been suggested before, what about a qGIS plugin for PySwmm for GIS functionality?

[2018-06-14 16:23] bemcdonnell commented on #158
@mdbartos et al., my thoughts at this point are that we keep pyswmm as the light-weight low level Python api. But that we continue to enable a plugin architecture such that someone could maintain a separate package for other tools.  The question then becomes, what functions are **base** functionality, and what functions are **specific-application-feature-driven**.  If we loosen the scope of the pr

[2018-06-14 16:24] lrntct commented on #158
@jennwuu It would be nice, but I think the first step is to get the I/O API to work. If not the plugin would be similar to [this one](https://github.com/Oslandia/qgis-swmm).

[2018-06-14 19:08] dickinsonre commented on #158
Hello @aerispaha wouldn't this be a better function or addition to the SWMMUI or EPANETUI PyQT Gui?  https://github.com/USEPA/SWMM-EPANET_User_Interface

[2018-06-14 19:29] aerispaha commented on #158
Hi @dickinsonre, that could be a good addition there. I think it makes sense to maintain this sewergraph project for folks that want to programmatically work with sewer network graphs though. I think sewergraph could be a dependency of GUI software.

As a shout out to a quiet repo: I've used [jsnetworkx](https://github.com/fkling/JSNetworkX) to create graph-enabled UIs in browsers with success.

[2018-06-15 09:42] dickinsonre commented on #158
Thank for the Felix and React lead, @aerispaha

[2018-07-02 02:47] Jiadalee opened #162 "Typo in System.py Module"
Two errors in System.py module:

In line 22, pyswmm package doesn't include the SystemFlowRouting. In this way,  the syntax of "from pyswmm import Simulation,  SystemFlowRouting" is suggested to be "from pyswmm import Simulation, SystemStats" if we want to extract system statistics.

In line 27,‘’Simulation' has been demonstrated as ‘’sim”. Thus,  the syntax of  "for step in simulation" should be

[2018-07-02 02:53] bemcdonnell commented on #162
@Jiadalee, thanks for spotting the issues in the docs!

[2018-07-02 16:56] bemcdonnell commented on #153
Reference #124

[2018-07-02 17:52] #162 closed

[2018-07-10 16:31] mehmetbercan opened #164 "pump_statistics['max_flowrate'] gives zero division error"

[2018-07-10 16:32] mehmetbercan commented on #164
MaxFlowRate = link.pump_statistics['max_flowrate']
  File "c:\projectcode\pyswmm\pyswmm\links.py", line 960, in pump_statistics
    return self._model.pump_statistics(self.linkid)
  File "c:\projectcode\pyswmm\pyswmm\swmm5.py", line 1334, in pump_statistics
    object_stats, attr) / object_stats.totalPeriods
ZeroDivisionError: float division by zero

[2018-07-10 16:36] bemcdonnell commented on #164
Thanks @mehmetbercan.  We can circle back to this bug before making out next release

[2018-07-23 16:38] bemcdonnell opened #166 "Fix Appveyor CI"

[2018-07-23 17:37] #166 closed

[2018-07-23 18:41] joaolponciano opened #167 "Setting functional curve coefficient at pyswmm"
First I would like to thank you for pyswmm @bemcdonnell,

I was wondering if it's possible to set the coefficient of the functional curve or any other parameter related to the capacity of the storage units.

Thanks.

[2018-07-23 18:46] dickinsonre commented on #167
ditto on the thanks for pyswmm @bemcdonnell,

[2018-07-23 22:55] bemcdonnell commented on #167
@joaolponciano, I think this would be a nice feature.  PySWMM supports basic node interfacing but nothing specific to storage properties.  I think you could expose a nice API for the storage nodes that would let you get/set those properties:

in OWA-SWMM: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/src/node.c#L648-L734

Here is what the parser does.
[code]

You c

[2018-07-24 17:57] joaolponciano commented on #167
@bemcdonnell, yeah, it's sounds like something I would be interested in working on, with your guidance I think I can do it.

 I should just add a parameter at the nodes code (like it's in the https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/src/node.c#L112-L186)  or should I do a new routine for the storage units?

Do you think this will take too much time? Actually,

[2018-07-24 18:03] bemcdonnell commented on #167
@joaolponciano - let's talk about this over here: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/189

[2018-07-25 18:47] ngg-osu opened #168 "Building a getter for "StartDryDays" -"
Hi all, I'm new to Git, and this C-Python ctypes wrapper concept

I'm trying to make a getter for the antecedent dry weather period "StartDryDays". Right now, I'm setting up my workflow,  Here are the steps I took.

- Forked my own repository.
- Did "pip uninstall pyswmm" (as advised).
- download locally onto my laptop (using Github Desktop) into my python folder \lib\site-packages
- Ran "python s

[2018-07-25 18:52] katmratliff commented on #168
Hi @ngg-osu, did you check to be sure hat the correct version of pyswmm is in your path?

[2018-07-25 22:39] ngg-osu commented on #168
so, i uninstalled everything and stick to Python 2.7.15 (32bits) on my laptop. Finally worked after I went to window's System Properties > Advanced tab > Environment Variables > Paths for User and system , and entered C:\Python27\ for both. The repository is simply in my C:\Python27\Github...  Now, even a test script on an external USB drive works. Seems like path is the issue. Thanks @katmratliff

[2018-07-26 00:14] bemcdonnell commented on #168
Just so you know, we are not going to guarantee support for py2.7 much longer. Most people are using py3.6 today

[2018-07-26 16:36] ngg-osu commented on #168
@bemcdonnell Thanks for the notice. I re-do everything with Python 3.7-32 bits now. With 3.7 installer, there was an option for setting Python into system path , which wasn't available with 2.7 installer. So, I guess that was the issue.

[2018-07-26 23:15] bemcdonnell commented on #168
@ngg-osu, I think the steps are documented pretty well in the wiki for contributing:

For running tests locally:
https://github.com/OpenWaterAnalytics/pyswmm/wiki/Author-Contribution-Checklist

For submitting your code for review:
https://github.com/OpenWaterAnalytics/pyswmm/wiki/Dev-Github-Workflow

You'll need to push to your fork and submit a pull request back to here

[2018-07-27 18:54] ngg-osu opened #169 "Building getter / setter for pollutant buildup of multi pollutants for subcatchments"
Hi, like to ask if it's possible to build a getter / setter in subcatchment.py for pollutant buildup, before and during a run?

From my limited understanding, the pollutants is stored in an array called "PollutArray" in toolkitapi.py.
Is this where one can get / set?

Also, in toolkitapi.py, the line "initBuildup = 5" is commented out. Is there a reason? Thanks!

[2018-07-30 12:30] katmratliff commented on #169
hi @ngg-osu, I have already written a getter for pollutant buildup. It currently resides in the subcatchment statistics dict, but I've done some re-working of the code to make a separate dict of subcatchment-related pollutant values. I'm planning to submit a pull request to the repository today.

[2018-07-30 12:31] katmratliff commented on #169
I should also note that I haven't worked on making a setter yet, but that's on my to-do list for down the road.

[2018-07-30 17:15] ngg-osu commented on #169
thanks @katmratliff , I did manage to get the subcatchment pollutant buildup values during a simulation run. It's like a nested dictionary. I'm just wondering how the returned array works in the first place.  Is it  a pointer to the first element of the PollutArray?   With prior knowledge of number of pollutants in simulation,  could one use the pointer (to memory address of 1st element) and "set"

[2018-07-30 18:26] katmratliff commented on #169
@ngg-osu the dictionary will be built with all of the pollutant values (not just the first one). It's a little bit trickier to handle than a regular getter/setter because the number of pollutants can vary, so the code needs to work for all potential cases. I think it should be straightforward to set the values, but I haven't had a chance to look into that myself. I'm working on testing and debuggi

[2018-08-03 02:07] RudyFrom3 commented on #134
This topic is obviously complex and inter-related to several topics when discussing links to a 2D surface model. However i feel there is real benefits in being able to dynamically adjust energy loss parameters based on comparative flows in various pipes and the inflow from the surface inlet pit. https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/124 is now closed... but i m won

[2018-08-03 13:01] lrntct commented on #134
I believe any computation should be done in the SWMM code base. Then pyswmm will provide an interface.See [there](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/111) for relevant discussion on the matter.

I modified the pyswmm code to match the changes made to SWMM for surface coupling. Unfortunately, I haven't had much time to work on that matter since last December (8

[2018-08-09 15:07] NikoZHAI opened #171 "Is the C source code for compiling SWMM executables available ?"
Hello people,

I am using the pyswmm api recently. I wonder how the `swmm_getNodeStats` method works in the api. It appears to me that you wrote this method in your own version of C source code and compiled it for the executable. Because I cannot find this method in the latest dev brunch of SWMM on [GitHub](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model). And your swmm executabl

[2018-08-09 15:25] michaeltryby commented on #171
@NikoZHAI  The source code is available you just need to know where to look 😄

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/src/toolkitAPI.c#L1019

[2018-08-09 15:34] NikoZHAI commented on #171
@michaeltryby Thx! Sorry for the trouble! I got retarded!

[2018-08-09 15:34] #171 closed

[2018-08-09 15:45] michaeltryby commented on #171
No problem! Happy to help :smile:

[2018-08-17 01:41] DJHostetler commented on #158
Late to the party on this one and far from an expert with this crowd, but I agree wholeheartedly with @bemcdonnell on the proposal. You could create a separate companion library that does the geospatial analysis/calculations that will undoubtedly have several additional dependencies, and separately expose the setters/getters of the shape and geometry functions in this project.

[2018-08-17 19:37] lucashtnguyen commented on #158
Also late to the party. My colleague Austin Orr and I figured out the network tracing of SWMM with networkx (https://github.com/austinorr/swmmnetwork) and I'm currently working on a class to get shapefiles to swmm inps (https://github.com/lucashtnguyen/shmm).

`swmmnetwork` is complete whereas I am hacking together `shmm` as we speak (and expect to have it more developed with tests, etc, later nex

[2018-08-21 14:32] dmcdougall opened #172 "`error_check` swallows exceptions and converts them to warnings"
I ran across an issue working with a user at the Texas Advanced Computing Centre who was trying to run PySWMM on Stampede2.

The `swmm_open` function emitted a warning.  The warning corresponded to an error code of 337 returned by `SWMMlibobj.swmm_open` in `swmm5.py`.  According to [this](https://www.openswmm.org/SWMM51912/error-c) page, the error corresponds to a missing input file.  The actual w

[2018-08-21 15:37] dmcdougall commented on #172
Fixed in #173.

[2018-08-28 17:33] bemcdonnell commented on #159
@stroutm @abhiramm7

Do you like this as a logo? :-D

![image](https://user-images.githubusercontent.com/6105134/44739821-b656b500-aaad-11e8-9328-de75baebd955.png)

[2018-08-28 18:05] michaeltryby commented on #159
The snake coming out of the toilet is a definite possibility.

-Michael

From: Bryant E. McDonnell [mailto:notifications@github.com]
Sent: Tuesday, August 28, 2018 1:33 PM
To: OpenWaterAnalytics/pyswmm <pyswmm@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [OpenWaterAnalytics/pyswmm] PySWMM Logo (#159)

@stroutm<https://github.com/stroutm> @abhiramm7<https://github

[2018-08-29 17:34] aerispaha commented on #159
Spent a few months crafting this, one of my best works:

![pyswmm_logo](https://user-images.githubusercontent.com/6521360/44804567-aa432400-ab8f-11e8-9ac1-d047657f84eb.png)
_"py or die swmm" mspaint / mixed media on canvas_

[2018-08-29 17:39] bemcdonnell commented on #159
Hahaha!!!!

@stroutm and @abhiramm7, we might have a winner here!

[2018-08-29 18:03] stroutm commented on #159
Perfect! How long til we can get this circulating?

[2018-08-29 18:50] bemcdonnell commented on #159
![image](https://user-images.githubusercontent.com/6105134/44808683-b7591680-ab81-11e8-8886-fcac5e36fd27.png)
![image](https://user-images.githubusercontent.com/6105134/44808690-bf18bb00-ab81-11e8-8ace-9a41626d7fa5.png)

[2018-08-29 19:04] bemcdonnell commented on #159
Does anyone have anymore ridiculous non-professional ideas for this? :-) (I'm looking at you @michaeltryby and @katmratliff )

[2018-08-29 19:14] katmratliff commented on #159
![image](https://user-images.githubusercontent.com/12630578/44809953-36f4de80-ab9e-11e8-8e50-684c71f2d1d7.png)

[2018-08-30 03:11] jennwuu commented on #159
![img_0196](https://user-images.githubusercontent.com/28812156/44827378-daff7980-abe0-11e8-8770-566f1f4db628.JPG)

[2018-09-10 18:34] tuuliina opened #174 "Conduit length and max depth"
Thank you for your efforts in making pyswmm!

I would like to be able to get and set conduit length and max depth (diameter) with pyswmm. Are you planning to create Link attributes for them?

[2018-09-11 15:43] bemcdonnell commented on #174
@tuuliina, yes we are going to expose all of these options.  We need a lot of help - would you be interested in making this contributions?

[2018-09-11 16:01] dickinsonre commented on #174
this is one of my favorite parts of SWMM,  you might want to consider changing the loss coefficients, shape, width and roughness as well  Inverts?  Ie Slope as well which can be a quasi design tool

[2018-09-18 01:58] rkertesz commented on #160
Just bumping to keep the thread alive. I can't say that I have any solutions however

[2018-09-18 02:11] bemcdonnell commented on #160
It’s coming :-) you just wait!!!

[2018-09-18 06:51] dickinsonre commented on #160
Friendly error messages are very important, especially the parser errors which commonly confuse newer users of SWMM5.

[2018-10-20 23:10] #172 closed

[2018-10-20 23:44] #153 closed

[2018-10-20 23:44] #146 closed

[2018-10-20 23:45] bemcdonnell commented on #159
@stroutm, What's the logo looking like?!?! :-) I'm dying to know!

[2018-11-07 12:16] AnmaTech commented on #157
HEllo;

I wonder whether it is possible to change the Manning's roughness parameter in a given conduit using last version of pyswmm?

Did you put these changes in library?

Thanks

[2018-11-07 13:49] bemcdonnell commented on #157
@anmatech, let me see what I can do. I have these changes in my private fork of pyswmm. Let me see what I can do to bring them in

[2018-11-14 13:12] maeehart commented on #164
I also ran into this problem. Are there any suggested workarounds?

What I currently did was just to add a check if `object_stats.totalPeriods > 0` on line 1334 before dividing by this value and assigning a 0 value to the out_dict if this happens. I do not know if this breaks the whole logic, but at least this does not crash any more.

[2018-11-14 19:48] bemcdonnell commented on #164
@maeehart, you proposed a good work around for now. It shouldn't break the logic either.  We're working on the SWMM-API again so I think this problem will be addressed very soon

[2018-11-16 19:20] anneliesesytsma commented on #124
@bemcdonnell

I am having this same issue; can you describe what dll to replace the swmm5.dll with? I found the swmm5.dll in my site-packages/pyswmm/lib/windows folder but I'm not sure what to replace it with.

Thanks!

[2018-11-16 19:44] bemcdonnell commented on #124
@anneliesesytsma check this link out: https://github.com/OpenWaterAnalytics/pyswmm/issues/153

[2018-11-16 19:46] bemcdonnell commented on #124
@anneliesesytsma you just need to have VCOMP120.DLL either installed to your machine or sitting in your working directory

[2018-11-16 20:06] anneliesesytsma commented on #124
@bemcdonnell It looks like I do already have that on my machine, but am still getting the error. I get the error with Windows 10 64 bit Python 2.7 64 bit but have also tried using Python 2.7 32 bit environment.

[2018-11-16 20:10] bemcdonnell commented on #124
Try copying the VCOMP120.DLL into your working directory (next to your script).  pyswmm works on any 32-bit python > 2.5... I use py3.6-x86

[2018-11-16 22:12] anneliesesytsma commented on #124
Ok, I think that worked (I am no longer getting this error) but now I'm not sure if it's running simulations at all...

`sim = Simulation(r'C:\Users\annel\Desktop\SWMMModel\square.inp','C:\Users\annel\Desktop\SWMMModel\square.rpt')
sim.execute()`
`... SWMM Version 5.2.0.dev1
... Run Complete`

But I don't see a report file or anything in the folder, and it executed so quickly I don't think it actu

[2018-11-18 21:53] anneliesesytsma opened #176 "set area"
I am using PySWMM to look at run-on/ run-off patterns of impervious to pervious catchments. I'm trying to write code that loops through different catchment areas and reports the runoff stats for each combination of catchment areas.

I'm working on just updating the area for one catchment:
[code]

Which gives the following error:

When I 'read' the file in, it works, but obviously doesn't update th

[2018-11-19 00:52] bemcdonnell commented on #176
@jennwuu, can you take a look and see if you get the “access violation error”?

@anneliesesytsma, I’m not sure if it is clear- pyswmm doesn’t update the INP file itself. It only updates a parameter in swmms data model

[2018-11-19 14:55] jennwuu commented on #176
@bemcdonnell I tested with python 3.7 and v0.4.9dev and I wasn't able to replicate the access violation error.
[code]

[2018-11-19 20:01] jennwuu commented on #176
@anneliesesytsma you should see the updated area in the .rpt file that SWMM generates. thanks!

[2018-11-20 20:54] anneliesesytsma commented on #176
@jennwuu Got it! Yes, it's updating. Just didn't realize it wasn't updating the inp file...:) Thanks!

[2018-11-20 20:55] #176 closed

[2018-11-27 18:34] #168 closed

[2018-11-27 18:34] #169 closed

[2019-01-28 18:22] Jiadalee opened #177 "Cannot import name DLL_SELECTION"
Hi:

I'm running the entire Pyswmm simulation by using outside control approach. However,  the error shows that the 'line 26' of swmm5.py cannot import name DLL_SELECTION. Does anyone know how to fix it?

![image](https://user-images.githubusercontent.com/30839207/51857157-cf7ac080-22ee-11e9-98c7-bf7c7efa8000.png)

[2019-01-28 18:23] abhiramm7 commented on #177
Hey can you open a issue in the storm swarm repo.

[2019-01-28 18:39] Jiadalee commented on #177
I thought this might be a problem because of Pyswmm engine code. I have posted another specific problem describing it in the swarm repo. Thanks

[2019-01-28 18:48] abhiramm7 commented on #177
No, it is an error with how I've set up the import. @bemcdonnell can you close this issue.

[2019-01-28 19:40] #177 closed

[2019-02-01 18:33] DJHostetler commented on #159
Here is the start of an idea for a logo... I am far from a graphic artist. The idea of using the seasnake as a logo ticks both boxes of merging python and swmm.

[2019-02-01 18:36] DJHostetler commented on #159
Here is a possible idea for a logo (warning - not a graphic artist). I like the idea of the sea snake logo that merges both python and swmm into one...

![pyswmm_possiblelogo2](https://user-images.githubusercontent.com/6156981/52142245-2c93b080-2626-11e9-97bc-edb98dbd28f1.png)

[2019-02-03 01:04] Jiadalee opened #178 "Save orifice setting as txt file"
I used the target_setting function to adjust the orifice. I can also print the orifice setting for each simulation step. However, when I used np.savetxt function to save setting value, I found there is nothing in the txt file. I'm wondering how to get the orifice setting time-series data and how to save it as txt or excel file? How should I do to extract these data after simulation?

[2019-02-04 15:41] bemcdonnell commented on #178
@Jiadalee, this doesn't seem like a pyswmm issue.  It seems more like an issue with `np.savetxt`.  But if I were to try to save a timeseries of settings to a file I might do something like this:

[code]

[2019-02-04 15:41] #178 closed

[2019-02-04 17:05] adriariu opened #179 "How to use conduit_statistics?"
Please anybody can tell how to use this feature, I spend all day and only getting a warning and 0 in all parameters.

This is my code:

[code]
And the result is:

[code]

Anybody can show me an example or tell what I'm doing wrong?

Thanks

[2019-02-04 18:19] Jiadalee commented on #179
'for stem in sim:' should be 'for step in sim:'

Also,  can you try'print link.statistics' ?

[2019-02-04 18:21] Jiadalee commented on #178
Thanks!

On Mon, Feb 4, 2019 at 8:41 AM Bryant E. McDonnell <notifications@github.com>
wrote:

--
Jiada Li, Research Assistant  Urban Water Group
Department of Civil and Environmental Engineering
University of  Utah
201 Presidents Cir, Salt Lake City, UT 84112, U.S
Email: jiada.li@utah.edu   jiadali2017@gmail.com

[2019-02-04 22:53] michaeltryby opened #182 "Simulation Object should throw exception if the input file fails to open"
Assuming pswmm v0.4.8. User did no confirm what version they were using.

A pyswmm user tried opening the attached SWMM input file  and received the following exception:

[code]
[code]

It appears that the error occurs because their code attempted to query pyswmm for a node id when the input file failed to open. It would be more user friendly for the `Simulation` object to check and throw an excep

[2019-02-06 21:50] bemcdonnell commented on #179
@adriariu, what version of pyswmm are you using?

[2019-02-06 21:53] bemcdonnell commented on #179
@adriariu, also..

What Platform and Arch are you running this on?

could you please zip your project files and drop them in this issue? I'd like to recreate your issue

[2019-02-11 09:26] adriariu commented on #179
Hi @bemcdonnell,

The versión of pyswmm is:
`pyswmm==0.4.8`
I'm dev Platform and Arch is macOS x64 but it must be deployed on a Ubuntut x64.

Sorry but I'm not allowed to share the data of the project, safty rules...
If you can share any test file, I will check the difference and tell.

Thanks!

[2019-02-19 01:10] morecfd opened #186 "OSError: [WinError 193] %1 is not a valid Win32 application"
Hey

Would you mind please letting me know how to start using Pyswmm?
I am a new python user.
Seems like pyswmm only works on python 32 bit. So, I just installed python 3.8 32-bit, downloaded Pyswmm, created a python file "ok.py", put an INP file "testmodel.inp" in the same folder, and tried to run this:
from pyswmm import Simulation

sim = Simulation('./testmodel.inp')
sim.execute()

But it is gi

[2019-02-19 12:38] bemcdonnell commented on #186
See issue #153. And comment

https://github.com/OpenWaterAnalytics/pyswmm/issues/153#issuecomment-392102847

It’s a SWMM openMP dependency issue

[2019-02-19 23:37] morecfd commented on #186
**Thank you very much for your reply.**
This is how things went on:
Try 1. installed Visual C++ Redistributable Packages for Visual Studio 2013: not working
Try 2. installed Visual C++ Redistributable Packages for Visual Studio 2017: not working
Try 3: put vcomp120.dll in my working directory, works fine.

[2019-03-01 14:04] katmratliff opened #187 "updated linux binary"
I'm trying to get PySWMM running on linux and have been attempting to recompile the latest version of [OWA SWMM](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model) to incorporate changes since @rkertesz last updated the binary with #154. I'm running into trouble trying to figure out how to use CMake for this and was just curious if anyone had any tips/advice. My next steps were to

[2019-03-02 01:28] Jiadalee commented on #149
I have the same question for getting the time-series output. What is the best way to accomplishing this now?

[2019-03-02 01:38] Jiadalee opened #188 "Water quality simulation output"
Is there any way like 'J1.water quality' to get the water quality simulation results for each node? I didn't find any variable for water quality in PySWMM.

[2019-03-02 22:23] katmratliff commented on #188
HI @Jiadalee, you can currently access pollutant loading as part of the `outfall_statistics` dict (see [here](https://pyswmm.readthedocs.io/en/stable/reference/nodes.html) for more information. I am planning to write getters/setters for the pollutant load at junctions in the future, if someone doesn't beat me to it!

[2019-03-02 22:31] dickinsonre commented on #188
SWMM5 does have pollutant load node and link tables as well.  How are summary tables used in the very useful PySWMM?

[2019-03-02 22:45] dickinsonre commented on #188
Hello @Jiadalee is my summary of your main complaint on the SWMM list server the fact that SWMM5 does not have a nice summary OUTFLOW output variable for Storage Nodes as we do for Total Inflow?

Here for reference is my List Server comment

Hello JIada,
You can graph and make a table of the node water quality and link water quality in SWMM5 by just clicking on the element  Now back to you overflo

[2019-03-02 22:48] Jiadalee commented on #188
Hi @katmratliff Thanks for your guidance. I tried 'outfall_statistics' but this function doesn't fit want I need. What I need is the TSS time-series data of storage units.

I'm very interested in writing getters/setters for pollutant load at junctions and storage. Can I learn from you and do this work with you together?

[2019-03-02 22:52] Jiadalee commented on #188
Hi @dickinsonre Gotta! Thank you for your updates. I appreciate it.

[2019-03-04 11:56] katmratliff commented on #188
Hi @Jiadalee, that is great! To give you a sense of how to get started, take a look at these PR's: #170 for PySWMM, and https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/191 for OWA SWMM.

@michaeltryby has been working on developing a new SWIG wrapper for SWMM, which you can take a look at [here](https://github.com/OpenWaterAnalytics/swmm-python). This is the direction where

[2019-03-04 12:00] katmratliff commented on #188
@dickinsonre the [node](https://pyswmm.readthedocs.io/en/stable/reference/nodes.html#pyswmm.nodes.Node.statistics) and [link](https://pyswmm.readthedocs.io/en/stable/reference/links.html#pyswmm.links.Conduit.conduit_statistics) statistics contain a lot of useful information, but no pollutant load/water quality reporting at the moment.

[2019-03-04 12:05] dickinsonre commented on #188
Okay, @katmratliff I may try my hand at the other tables in the near future after listening to a good PySWMM demo by @Jennifer Wu last week.

[2019-03-04 16:07] Jiadalee commented on #188
Thanks, I will take a look.

[2019-03-05 01:28] mebiusvista commented on #124
Hi, I ran into the same problem as people previously reported, and following your suggestion I'm looking up the SWMM5.dll but can't locate it. I'm running on a Win64 laptop with SWMM and PySWMM installed. I also tried put the line **pyswmm.lib.use("swmm5")** into my code but still not working. Any specific guidance would be appreciated!

[2019-03-05 05:01] mebiusvista opened #189 "Final Water Level"
Hi, I have a question about whether we can acquire data about the final water level after each round of simulation.
I see there are commands for accessing the initial volume and average volume after running
`sim.execute()`, is that possible that we can access the final volume as well? I'm trying to use the final volume after each round of simulation as the initial volume for the next iteration, su

[2019-03-05 14:33] jennwuu commented on #189
Hi @mebiusvista, you can step through the simulation in a for loop and access the node depth information each simulation time step.

Check out this example: https://pyswmm.readthedocs.io/en/latest/tutorial/tutorial.html#nodes

[2019-03-05 18:29] Jiadalee commented on #189
It seems your goal is not to use the volume of the last step as the input to the next step. so you want to use use the final volume of the last simulation as the input to next simulation?

If so, just use `with simulation as sim` to run your model and then, save your first simulation volume as a np.array. and then call this np.array to run you next round simulation.

[2019-03-06 19:45] #187 closed

[2019-03-06 21:14] bemcdonnell commented on #186
@morecfd This dependency problem will go away in a future version of PySWMM.

[2019-03-10 06:25] sjhabedin commented on #182
I ma having the same issue. I am using SWMM 5.1.012. I don't know exactly where the problem lies. Any idea would be appreciated.

	node_object=Nodes(sim)
	J1=node_object["J1"]
	print(J1.invert_elevation)
	for step in sim:
		print(J1.total_inflow)
	sim.report()

Traceback (most recent call last):
  File "<pyshell#11>", line 3, in <module>
    J1=node_object["J1"]
  File "C:\Users\JOY\AppData\Local\

[2019-03-10 14:21] dickinsonre opened #190 "LID Detailed Report File should be a single file"
An issue with the very nice LID detailed report file is the fact that it is for one LID Only in SWMM5.  It would be nice and more flexible for PySWMM to have ONLY one LID detailed report file (with ALL rows of data, including zero flow rows).  This is done in 3rd party software and makes life and LID modeling much more useful to the modeller or modeler.

[2019-03-11 13:59] jennwuu commented on #190
@dickinsonre Interesting issue. I wonder what happens if multiple LIDs have the same textfile path? Do the textfiles override each other? If they do, it would be nice to keep both options of individual lid report file and combined lids report like you propose (if the user put the same textfile path to multiple LIDs)

Alternatively, at the moment PySWMM allows access to all the LID flows data (incl

[2019-03-11 14:11] dickinsonre commented on #190
![image2656](https://user-images.githubusercontent.com/5599939/54129967-d6b0e600-43e5-11e9-86df-bd24223072aa.gif)

Each LID has it own name for each LID in a Subcatchment,  they can all be posted or created to the same directory.  I am pretty sure you cannot have the same text file get all LID data from all LID's though I have not tested it.

[2019-04-22 16:37] arashtavakoli commented on #182
Has anyone found a solution for this? I am having the same problem

[2019-04-22 16:40] bemcdonnell commented on #182
What does your RPT file say?

[2019-04-22 16:42] arashtavakoli commented on #182
you mean the title of it? cause it does not even run. Also something funny, if I run the whole thing at once I get the error for the dll missing file too but if I run it in two separate section (before the while loop and after the while loop) then I get the access violation error

[2019-04-22 16:43] arashtavakoli commented on #182
this is the error

  File "<input>", line 13, in <module>
  File "C:\Users\Arsalan\Anaconda3\envs\RL_Project_S19\lib\site-packages\pyswmm\nodes.py", line 94, in __getitem__
    if self.__contains__(nodeid):
  File "C:\Users\Arsalan\Anaconda3\envs\RL_Project_S19\lib\site-packages\pyswmm\nodes.py", line 91, in __contains__
    return self._model.ObjectIDexist(ObjectType.NODE.value, nodeid)
  File "C

[2019-04-22 17:19] bemcdonnell commented on #182
So no rpt file is created? The issue you’re seeing here depends on the fact that your model isn’t opening. Usually the rpt file says what the error is. The access warning is due to the fact that the error wasn’t caught and thrown. Since it wasn’t caught, the node object tried to access node information that didn’t exist in memory.

[2019-04-22 19:47] arashtavakoli commented on #182
Would it be a problem to use this code on 64 bit Python? i have already copied that DLL file but I guess that is the issue and why I am not able to run it

[2019-04-22 20:10] bemcdonnell commented on #182
Yes. Pyswmm is currently only compatible with 32bit python.

[2019-04-22 20:26] arashtavakoli commented on #182
Cause there is not a tensorflow pip for 32 bit python...or maybe I am horribly confused. Thanks a lot for all the answers

[2019-05-01 18:37] sjhabedin commented on #182
its working for me now.

[2019-05-01 19:46] bemcdonnell commented on #182
@sjhabedin, glad to hear. There is going to be a big release coming out soon that we hope to rectify all these issues.  Stay tuned :-)

[2019-05-01 19:46] #182 closed

[2019-07-07 01:52] jennwuu opened #192 "latest version of v0.4.9.dev0 seems unstable"
I tried a SWMM model run and it produced a very large high routing error. More info to follow.

[2019-07-07 08:24] dickinsonre commented on #192
do you have a copy of the model that you can show @jennwuu here?

[2019-07-09 15:19] BrianN92 opened #193 "Flooding volume value is not consistent with SWMM5 simulation result"
Hi guys, I used pyswmm to run the simulation from SWMM. I found that the 'flooding_volume' value of a node is different from the 'Total Flood Volume' value I got from SWMM5 summary results. I kept every setting in pyswmm as same as in SWMM5, but still got different flooding volume results. Did anyone run into this issue?

[2019-07-09 15:27] bemcdonnell commented on #193
@BrianN92, can you provide a table that shows the

a) total node flooding integrated from the binary output volume
b) total node flooding from from the RPT file
c) total flooding (and how you calculated it) with pyswmm?

Also, if you share your inp/rpt/out/py files we can run them too.  Are you using pyswmm-v0.4.8?

[2019-07-09 15:50] BrianN92 commented on #193
@bemcdonnell Thanks for replying soon!
Total node flooding in RPT file:
![image](https://user-images.githubusercontent.com/21299740/60903487-686b1b80-a23f-11e9-83b4-2b29f06a050e.png)

Total flooding with pyswmm:

![image](https://user-images.githubusercontent.com/21299740/60903534-86388080-a23f-11e9-8263-e0cb44d825ff.png)

I used the 'flooding_volume' method in pyswmm from [here](https://pyswmm.re

[2019-07-09 16:06] dickinsonre commented on #193
the internal units of SWMM are messy USA units, so it makes sense for PySWMM to show the internal numbers rather than converting them.

[2019-07-09 16:08] BrianN92 commented on #193
@bemcdonnell That makes sense!
However, I got different values from SWMM summary results. I still dont understand.
![image](https://user-images.githubusercontent.com/21299740/60904968-14ae0180-a242-11e9-9390-8752edb03fad.png)

[2019-07-09 16:12] bemcdonnell commented on #193
@BrianN92, so it sounds like the UI is not linking to the new results in your RPT file. @dickinsonre, does that seem like what's happening? Does the UI need to actually run the model to get the Summary Results updated?

[2019-07-09 16:13] BrianN92 commented on #193
Thank you! That makes sense.
However, I still got different value from SWMM5 summary result.
![image](https://user-images.githubusercontent.com/21299740/60905378-f1d01d00-a242-11e9-8d13-f4952800bf10.png)

[2019-07-09 17:18] Jiadalee commented on #193
Can you type syntax below in pyswmm:

    print("System units: {}".format(sim.system_units))

to check your unit again?

[2019-07-09 17:22] bemcdonnell commented on #193
@BrianN92, It seems more like an issue with the UI and how the results are refreshed (not an issue with pyswmm).  If you use pyswmm to run the model (and delete the UI files - so everything except your INP/RPT/OUT files), then reopen it with the UI.  See if it maps to the updated values. I suspect it will not.  I think the UI needs to actually run the model to update the in those summary results t

[2019-07-09 17:24] BrianN92 commented on #193
Hi, @Jiadalee The result shows 'System units: US'

[2019-07-09 17:26] BrianN92 commented on #193
@bemcdonnell Great thanks! I understand.

[2019-07-12 12:39] jennwuu commented on #192
@dickinsonre It seems like the simulation setters for start_time and end_time are not being set properly
[pyswmm_testing_july12_2019.zip](https://github.com/OpenWaterAnalytics/pyswmm/files/3386432/pyswmm_testing_july12_2019.zip)

[2019-07-12 12:40] bemcdonnell commented on #192
@jennwuu I have the fix for this!
![image](https://user-images.githubusercontent.com/6105134/61128701-4a3c3000-a478-11e9-86f2-351dc869e149.png)

[2019-07-25 14:22] jennwuu opened #194 "Add LID support to pyswmm"
- Add programmatic access to LID objects in SWMM engine (before/during/after simulations)
- LID Objects include: LID control layer parameters, LID usage parameters, LID group (subcatchment) parameters
- Some LID parameter setters are enabled during model simulations such drain layer parameter and LID usage drain to parameter.

[2019-07-25 20:13] jennwuu opened #196 "Dropping python 2.7 support"

[2019-07-25 20:14] jennwuu opened #197 "Adding support for python 64-bit"

[2019-07-25 20:16] bemcdonnell commented on #196
https://pythonclock.org/

[2019-07-25 20:17] bemcdonnell commented on #196
![image](https://user-images.githubusercontent.com/6105134/61905683-489a4f80-aeef-11e9-898a-6a3e942744bf.png)

[2019-07-25 20:18] bemcdonnell commented on #197
![image](https://user-images.githubusercontent.com/6105134/61905769-7c757500-aeef-11e9-9575-34ded7381c3c.png)

[2019-07-26 14:29] #192 closed

[2019-07-26 14:29] #197 closed

[2019-07-26 14:29] #196 closed

[2019-07-26 14:30] #194 closed

[2019-07-26 17:26] #160 closed

[2019-07-26 17:26] #149 closed

[2019-07-26 17:27] bemcdonnell opened #199 "Add support to RainGage API"

[2019-07-26 18:51] #199 closed

[2019-07-26 18:52] bemcdonnell opened #200 "add LID API Documentation to docs files"

[2019-07-26 18:52] bemcdonnell opened #201 "add RainGage API Documentation to docs files"

[2019-07-26 18:57] jennwuu commented on #200
@bemcdonnell are there any docs where I can use as reference

[2019-07-26 21:58] #200 closed

[2019-07-26 21:58] #201 closed

[2019-07-26 22:36] #164 closed

[2019-07-26 22:43] #126 closed

[2019-07-26 23:15] #189 closed

[2019-07-26 23:16] #131 closed

[2019-07-26 23:39] #52 closed

[2019-08-06 08:16] antviro opened #205 "Library crashes when INP file has the option RULE_STEP defined as 00:00:00"
**Describe the bug**
I was having crashes (segmentation fault) in inp files which were running in SWMM without problems. And I have detected that the option RULE_STEP was the one causing the segmentation faults. That option was added as default value by the SWMM and it was defined as 00:00:00
RULE_STEP 00:00:00

Removing or commenting it (with ;;) makes the library work without any problem.

**To

[2019-08-06 11:23] bemcdonnell commented on #205
Pyswmm-0.4.8 uses SWMM 5.1.12. SWMM 5.1.12 did not have support for RULESTEP. Try upgrading to pyswmm-0.5.0.

[2019-08-06 11:24] bemcdonnell commented on #205
Also, @antviro, we are no longer guaranteeing support for python 2!

[2019-08-08 16:46] #205 closed

[2019-08-19 13:22] katmratliff opened #206 "Node and link water quality features"
Build out the node and link access to pollutant/water quality values. I am actively working on this.

[2019-08-20 12:20] katmratliff commented on #188
@Jiadalee, I have this (tentatively) working in [my branch](https://github.com/katmratliff/pyswmm).

You can access current node quality values using, e.g.,
`J1.quality`
and current link quality values with
`C1.quality`

Cumulative link load also accessible with
`C1.totalLoad`

I need to do some additional testing/add documentation/add unit tests before submitting a PR but wanted to share this wit

[2019-08-20 12:35] katmratliff opened #207 "pollutant_loading in outfall_stats returns non Log10 value when units are #/L"
When pollutant units are `COUNT`, `pollutant_loading` in `outfall_statistics` returns the true value, not Log10(value). This is in spite of [these lines](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/6924fcd04c1cc6c21ecf6b4bef33d9f0dd8fddfa/src/toolkitAPI.c#L2063-L2066) in toolkitAPI.c for OWA/SWMM.

example:
[code]
In this example, conduit C1 is directly upstream of Out1,

[2019-08-20 13:09] dickinsonre commented on #188
It might be also nice to have J1.Load for node loads and the treatment values for each node.

[2019-08-20 13:17] dickinsonre commented on #207
Keeping track of coliform counts has been a decades long pain in all versions of SWMM.

[2019-08-20 13:22] katmratliff commented on #188
@dickinsonre agreed.

[2019-08-20 14:14] bemcdonnell commented on #188
@katmratliff,

CamelCase is not the most pythonic. Also, “Load” carries other meaning is software. How about something like:

.total_loading
.pollut_quality

I know I’m late to the game here and I’m sure you’re using this code in your workflow so take my suggestions with a grain of salt. :-)

[2019-08-20 14:43] katmratliff commented on #188
@bemcdonnell nope, not too late! Just developing this now so I can use it in my workflows, so now is the perfect time to suggest any and all changes.

[2019-08-20 20:34] Jiadalee commented on #188
@katmratliff  Thanks!  I'm working on a new swmm5.dll library which can be used to get the node and link quality for PySWMM. It meets my requirements now but this work looks more complex than what you did.  I'd like to test yours as well.

[2019-08-20 20:41] Jiadalee commented on #188
I prefer:
.pollut_loading
.pollut_concentration

[2019-08-21 04:35] sjhabedin commented on #186
I am also having the issue. Previously I successfully ran Pyswmm couple of months back. Later I uninstalled Python 3.6 32 bit. Two to three weeks back I reinstalled Python 3.6 32 bit and Pyswmm 0.5 (latest) version. But now I am having the following error while trying to execute an inp file. Any help would be really appreciated. Thanks

Traceback (most recent call last):
  File "C:\Research_SWMM\s

[2019-08-21 12:58] bemcdonnell commented on #186
@sjhabedin   Well darn! I thought we fixed this. Let me look into it today when I have a minute. Sorry for the bug. Do you want to try With python 3.7 64bit?

[2019-08-22 18:36] sjhabedin commented on #186
@bemcdonnell I haven't tried with Python 3.7 64 bit. Also I don't want to at this moment. If the problem is with Python version or bit size then definitely I will try. So please let me know after you check on the problem. Many thanks for your time

[2019-08-26 19:52] jennwuu opened #209 "Update SWMM libraries to v5.2.1"

[2019-08-26 19:52] #209 closed, assigned to jennwuu

[2019-09-19 21:04] bemcdonnell commented on #186
@sjhabedin

Sorry for the delay here: Install this the Visual C++ Redistributable for Visual Studio 2015.

https://www.microsoft.com/en-ca/download/details.aspx?id=48145

[2019-09-19 21:50] Jiadalee opened #210 "files share same names"
Hi, I'm running over 10-year continuous simulation by using pyswmm on Colab.  I  simply typed the codes below:

with Simulation("gdrive/My Drive/SH Models/Model.INP") as sim:
    print("System units: {}".format(sim.system_units))
    for step in sim:
      pass
    sim.report()

However, it always gives me an error showing 'files share the same names'. Does anyone know how to fix it? thanks

[2019-09-19 22:30] bemcdonnell commented on #210
@jiadalee, please post the trace back error so we can see it

[2019-09-19 22:55] Jiadalee commented on #210
here is the screenshot for error
![image](https://user-images.githubusercontent.com/30839207/65286843-41ae4880-dafe-11e9-80f9-460002380d12.png)

[2019-09-21 17:40] Jiadalee commented on #210
I copied the same codes to Pycharm and run it on Pycharm. This still gives me an error. My model has 10-year precipitation inputs. I can run my model in SWMM GUI but doesn't work on PySWMM. I'm wondering if PySWMM can run a long-term continuous simulation or not. Does anyone have the same issue? Or, anyone has tried long-term continuous simulation by using PySWMM? I will appreciate your comments

[2019-09-21 19:10] bemcdonnell commented on #210
What version of python / pyswmm are you using on what platform?

[2019-09-22 00:40] Jiadalee commented on #210
I'm using pyswmm 5.0.1 on Win 10 @bemcdonnell

[2019-09-23 14:11] bemcdonnell commented on #210
[code]
@Jiadalee, try this

[2019-09-23 14:49] bemcdonnell commented on #210
@Jiadalee, it looks like you have the RPT/OUT files open already in write mode and SWMM can't re-open them.

[2019-10-02 21:37] anneliesesytsma opened #211 "subcatchment.statistics not giving cumulative results"
**Issue**

I have been using the PySWMM subcatchment.statistics function for over a year now to get results from individual subcatchments, but recently it stopped providing cumulative  (or reasonable) output. I'm running a very simply model consisting of (S1) impervious subcatchment routed to (S2) pervious subcatchment. I am interested in the % of runon to the pervious area that infiltrates. For t

[2019-10-03 13:57] bemcdonnell commented on #211
@anneliesesytsma, Sorry for the bug! Let me take a look at SWMM's code to see if maybe we mangled something in the latest release of SWMM.  Two sets of eyes are better than one set if you'd like to investigate too

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/854df626b32f74e5cfb3a07fbea3f51b5d7855bb/src/toolkitAPI.c#L2157-L2207

[2019-10-03 14:00] katmratliff commented on #211
@bemcdonnell @anneliesesytsma I am looking at this too and have the same issue on my machine.

[2019-10-03 14:18] katmratliff commented on #211
@anneliesesytsma do you recall the version of PySWMM (or the date downloaded/installed) you were last using when the subcatchment statistics was working as it should?

@bemcdonnell I wonder if something with how the SubcatchStats got refactored is causing problems with PySWMM if we did not update the wrapper accordingly, see [here](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/

[2019-10-03 15:17] anneliesesytsma commented on #211
@katmratliff Unfortunately I don't recall..however I do update the PySWMM software pretty frequently (using !pip install) and the subcatchment statistics were working when I ran my code less than a month ago.

[2019-10-03 15:50] barrc commented on #211
Maybe the addition of `impervRunoff` and `pervRunoff` to `SubcatchStats` in SWMM 5.1.13?

[2019-10-03 21:12] Jiadalee commented on #210
Can you close this issue? I already fixed it. Thanks @bemcdonnell

[2019-10-03 21:13] #210 closed

[2019-10-04 13:55] anneliesesytsma commented on #211
@bemcdonnell I don't see anything that looks off in the code but I don't know what exactly to look for either..

[2019-10-04 14:35] dickinsonre commented on #211
This is the way the stats for runoff are now defined in SWMM 5.1.013+   impervVol  and  PervVol have now been inserted in the list

//  Input:   j = subcatchment index
//           rainVol   = rainfall + snowfall volume (ft3)
//           runonVol  = runon volume from other subcatchments (ft3)
//           evapVol   = evaporation volume (ft3)
//           infilVol  = infiltration volume (ft3)
//

[2019-10-04 16:26] bemcdonnell commented on #211
@barrc and @dickinsonre,

Thanks for the catch:

Yes SWMM 5.1.12 has the subcatchment statistics struct as:

[code]
and 5.1.13 has it as:
[code]
Looks like we need to update SWMM and PySWMM.

SWMM should be updated in this function:

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/854df626b32f74e5cfb3a07fbea3f51b5d7855bb/src/toolkitAPI.c#L2157-L2204

and PySWMM should be upd

[2019-10-04 16:29] bemcdonnell commented on #211
@katmratliff, you also might be onto something with the double pointer.  How are we handling this with the other stats functions?

[2019-10-04 22:34] anneliesesytsma commented on #211
@bemcdonnell I'd be happy to but I admit that while I know how to edit the pyswmm code, I don't know how to edit the swmm code. where does the swmm code get edited?

[2019-10-07 13:58] katmratliff commented on #211
The `swmm_getSubcatchStats` is the only stats function configured to use a double pointer. This is, however, how I've written the water quality info getters. So I think PySWMM does need to be updated accordingly to account for the double pointer.

[2019-10-07 14:24] katmratliff commented on #211
@bemcdonnell it does seem more complicated than the water quality API though, and I'm not sure how to go about handling the double pointer with a structure.

[2019-10-08 14:24] bemcdonnell commented on #211
@katmratliff, I wonder why we handled this stat different than the others..

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/854df626b32f74e5cfb3a07fbea3f51b5d7855bb/src/stats.c#L793-L1023

Starting to think that we should comb through this and make some of these approaches more consistent

[2019-10-08 14:28] katmratliff commented on #211
@bemcdonnell it wasn't originally written that way - it got changed around in [this ](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/202/commits/f13e4ea75f6e8ed0ce2733f56b2cb77bb5d6848a) commit. My guess is that it got changed for SWIG but not sure...

[2019-10-08 18:03] jennwuu commented on #211
`    def subcatch_statistics(self, ID):
        """
        Get stats for a Subcatchment.

        :param str ID: Subcatchment ID
        :return: Group Stats
        :rtype: dict
        """
        index = self.getObjectIDIndex(tka.ObjectType.SUBCATCH.value, ID)

        # SWMM function handle.
        swmm_stats_func = self.SWMMlibobj.swmm_getSubcatchStats
        # SWMM function handle argumen

[2019-10-08 18:18] bemcdonnell commented on #211
@jennwuu, values aside (whether volume or depth) I think it's fair to say that we're getting random memory garbage out of this function

[2019-10-08 18:19] jennwuu commented on #211
@bemcdonnell I think if you convert the python code to use double pointer for the struct (to match the api) and fix the unit conversion in the SWMM toolkitapi function, then it should work

[2019-10-08 18:24] bemcdonnell commented on #211
@jennwuu, if you fix it I will help pay for food for your sloths :-)

[2019-10-08 18:28] anneliesesytsma commented on #211
@jennwuu @bemcdonnell I will also help pay for sloth food if you fix this!!

[2019-10-08 19:25] jennwuu commented on #211
I will leave the unit conversion alone so we don't have to update the swmm.dll @bemcdonnell @anneliesesytsma

This means runoff, runon, and infiltration will be in volume [ft3/m3] instead of volume depth [in/mm].

Check out PR #212.

[2019-10-08 20:06] katmratliff commented on #211
@bemcdonnell @jennwuu I was getting similar garbage values when I was testing and trying to figure out how to deal with the double pointers in the rest of the WQ API.

[2019-10-08 20:10] #211 closed

[2019-10-08 20:11] bemcdonnell commented on #211
@katmratliff, did it get resolved?

[2019-10-08 20:30] jennwuu commented on #211
@katmratliff

I think you deal with double pointers by passing the address of ctype.pointer(structure).
https://github.com/OpenWaterAnalytics/pyswmm/blob/24651d377832198b895ee0fa41ecfe23c0d0c954/pyswmm/swmm5.py#L1805-L1807

The arg of double pointer should ctype.pointer(ctype.pointer(structure))
https://github.com/OpenWaterAnalytics/pyswmm/blob/24651d377832198b895ee0fa41ecfe23c0d0c954/pyswmm/swmm5

[2019-10-09 11:00] katmratliff commented on #211
@bemcdonnell @jennwuu yes yes it's not a problem now, was just recalling that the values I was getting while trying to troubleshoot to get the double pointers working last year were similar to the values that @anneliesesytsma was getting before the fix (zero's and tiny numbers)

[2019-10-09 13:52] bemcdonnell commented on #211
@anneliesesytsma, Looks like @jennwuu has just released v0.5.2 to PyPI.  Let us know if you have any other problems

[2019-10-18 16:59] bemcdonnell opened #213 "Simulation method to request simulation termination"
Looking to add a basic function to terminate a simulation through using a method that requests a simulation to end with the Simulation object.    Right now if you want to cleanly end a simulation early you need to exit the iterator within the simulation for loop like this:

[code]

So if we have a callback set for `before_step` that could have some basic functionality to end a simulation (like if

[2019-10-18 17:07] bemcdonnell commented on #206
@katmratliff, how is this going? Should we try to couple this into a new pyswmm release?

[2019-10-19 21:16] katmratliff commented on #206
@bemcdonnell that sounds great. I've got the code working and ready to go in my [branch](https://github.com/katmratliff/pyswmm), just need to add some tests. I was waiting to submit a PR until this SWMM [PR](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/262) was merged. Also, how are you an @jennwuu building the x64 binaries?

[2019-10-21 02:36] jennwuu commented on #206
@katmratliff the x64 and x32 binaries for mac and linux are uploaded under draft release for successful build on the develop branch. The x64 and x32 binaries for windows are under artifacts on appveyor.

[2019-10-21 10:43] katmratliff commented on #206
@jennwuu cool, as in I don't need to compile them locally? I'll just need to pull out what gets built and stick them in my pyswmm branch?

[2019-10-21 13:30] jennwuu commented on #206
@katmratliff exactly! :D

[2019-10-22 15:56] BrianN92 opened #216 "python 64-bit still not working"
I was excited to hear your announcement of pyswmm [0.5.0](https://www.openswmm.org/Topic/19798/pyswmm-0-5-0-released-owa-swmm-5-2-0-dev5-released) so I went to download the latest version. However, after I ran the code with 64-bit python, the same problem was still there: "%1 is not a valid Win32 application". What do I need to do to fix it?

Thank you!

Desktop :
 - OS:  Windows
 - Python 3.6-x86

[2019-10-22 16:04] bemcdonnell commented on #216
@BrianN92 https://github.com/OpenWaterAnalytics/pyswmm/issues/186

[2019-10-22 18:51] BrianN92 commented on #216
Thanks for replying. I don't think the vcomp140.dll works for me. I still ran into the same issue after downloading the dll file...

[2019-10-22 18:59] BrianN92 commented on #216
Well I think I have solved this issue after placing vcomp140.dll in the same work directory and changing the pyswmm engine to 'swmm5-x64'. Thanks for help! :)

[2019-10-22 19:00] #216 closed

[2019-10-22 19:38] jennwuu commented on #216
@BrianN92 out of curiosity, is there a reason why you're using v0.5.0 instead of v0.6.0?

[2019-11-07 16:04] kmmacro opened #218 "Cumulative inflow only available for outfalls"
This function is a property of outfalls, but node_inflow could be applied to any type of node https://github.com/OpenWaterAnalytics/pyswmm/blob/028fc9a2c731bed4129ee100e295900d989867fd/pyswmm/nodes.py#L756-L767

[2019-11-07 17:20] dickinsonre commented on #218
Cumulative flow at any node would be a very useful graph or statistic.  Outfalls are not the only important component of a network - except for loading to creeks, rivers or lakes.

[2019-11-10 02:15] wujinshi opened #220 "For rewriting swmm inp files"
Hi, all
I'm a new user of pyswmm, I want to know if pyswmm can rewrite inp files by a template file.

[2019-11-10 05:11] bemcdonnell commented on #220
Pyswmm is used mostly for communicating with a running simulation and talking to SWMM’s data model directly. You can update parameters before a simulation is started but it doesn’t save results back to the file. If you want to save an INP file, check out the SWMMIO project.

[2019-11-10 05:11] #220 closed

[2019-11-17 13:15] wujinshi opened #221 "Automate running multiple EPA SWMM input files"
Hey guys, Does anybody know of a way to automate running multiple EPA SWMM Input files use pyswmm?  Cause I want to do some sensitvie analysis, so I need to creat mutiple inp files by a template inp files? How to do it ? Any suggestions would be helpful. Thank you!

[2019-11-17 13:16] #221 closed

[2019-11-17 13:18] wujinshi opened #222 "Automate running multiple EPA SWMM Input files ?"
Hey guys, Does anybody know of a way to automate running multiple EPA SWMM Input files use pyswmm?  Cause I want to do some sensitvie analysis, so I need to creat mutiple inp files by a template inp files? How to do it ? Any suggestions would be helpful. Thank you!

[2019-11-17 14:10] #222 closed

[2019-11-17 14:28] bemcdonnell commented on #222
@wujinshi, I am assuming you’re asking about running simulations in parallel. Today SWMM is not thread safe / re-entrant. Therefore if you try to open multiple files up in one instance of Python, the second file will walk on top of the first files memory space. You can work around this by using python Subprocess combined with Threading library.  This will enable you to run any number of simulation

[2019-12-20 13:56] bdb3m opened #223 "Get current timeseries value"
Is there a way to get the current/past/future values from timeseries (e.g. rainfall) while stepping through a simulation? For background, I'm using pyswmm as an environment for reinforcement learning and would like to pass values from the timeseries as part of the model state. Right now I'm using the current timestamp to get the timeseries value from a separate csv file, but would like to get that

[2019-12-21 01:58] Jiadalee commented on #223
@bdb3m When you step through your simulation, what about temporarily storing time-series data as an array and then passing them to your agent?

[2019-12-30 15:08] bdb3m commented on #223
Thanks @Jiadalee. That works for something like the current depth of a node but not for input time series values. As far as I know, time series values from the input table are not available through pyswmm. There may not be a clean way to get them from pyswmm. In that case my work around is ok. I think it would be convenient/useful to have some pyswmm functionality like raingage.current_value which

[2019-12-30 22:11] bemcdonnell commented on #223
@bdb3m, this sounds like a really cool application using pyswmm combined with reinforcement learning. I’d love to learn more!

At the moment there are no getters for the SWMM timeseries objects in SWMM’s data model. I might encourage you at this time to parse the timeseries from the INP and store them in your own data model for now. This way you could access past/present/future values by means of

[2019-12-31 13:36] bdb3m commented on #223
Thanks for the reply @bemcdonnell! pyswmm has been working really well as a custom openai gym environment for reinforcement learning because of the ability to run a simulation step-by-step. The overall idea is to get an RL agent to learn how to control the orifices, pumps, etc. in a SWMM model in order to manage flows, flooding, or water quality.

I like the idea of parsing and storing the timeser

[2020-01-07 13:59] bemcdonnell commented on #223
@bdb3m, awesome! I am going to close this issue.  If you feel compelled to share more in the domain of RL, feel free to send me an email at bemcdonnell(aaattt)gmail.com.  I think this field is fascinating!

[2020-01-07 13:59] #223 closed

[2020-02-07 13:25] zxyzmbc1030 opened #224 "How to change Build 5.3.0.dev0 to 5.1.013 to make it consistant with SWMM GUI"
Hi everyone,

I run the simulation in pyswmm environment and in EPA SWMM GUI. The results (e.g., flow routing error, volume, etc) are somehow different. I check the .rpt files for both and find that the first line in one is "EPA STORM WATER MANAGEMENT MODEL - VERSION 5.1 (Build 5.3.0.dev0)" for pyswmm and the other is "EPA STORM WATER MANAGEMENT MODEL - VERSION 5.1 (Build 5.1.013)".
Do you think i

[2020-02-07 13:28] bemcdonnell commented on #224
@zxyzmbc1030, do you mind zipping your files you and sharing there here in the issue?

[2020-02-10 10:11] zxyzmbc1030 commented on #224
Hi bemcdonnell, thanks for the reply. Sorry I now cannot provide the data source due to some privacy issues. But I test it again and find the differences become small as the model errors get  the same (to say, below 2%). Also, the time step is somewhat strange in pyswmm. I set the sim.step_advance as 60 and I print sim.current_time. It shows that the simulation step is not exactly 60 sec.

Thank y

[2020-02-10 13:22] katmratliff commented on #224
@zxyzmbc1030, what platform are you using to run pyswmm?

[2020-02-10 13:33] zxyzmbc1030 commented on #224
Spyder for Python 3.7.4

[2020-02-10 14:21] katmratliff commented on #224
@zxyzmbc1030 on Windows?

[2020-02-10 14:30] bemcdonnell commented on #224
@zxyzmbc1030,

I'm assuming you are allowing a variable time step.  At this time PySWMM does not "add" timesteps to the process. Therefore, if you use `sim.step_advance(...)` it will intervene on or just after the next overlapping routing step.  If you step advance is set to 300 seconds and your routing step is 30 seconds (but you are allowing variable step) your model might not be solving on a 13

[2020-02-10 14:37] zxyzmbc1030 commented on #224
Yes

[2020-02-10 14:47] zxyzmbc1030 commented on #224
Sorry, I did not get your idea. I also find that for 13 hours' duration with 1 min time step, I only got a series of 728 records (depth, volume, etc) in pyswmm. However, in SWMM we should get 13h*60min=780 records for a node.

[2020-02-16 21:22] Jiadalee opened #225 "get the system flooding volume and total infow"
Hi, does anyone know how to get the system flooding volume and system total inflow?

[2020-02-18 02:05] Jiadalee commented on #225
Sorry, I already fixed this problem. However, I got a new question. I'm wondering about the difference between the 'external_inflow' and  'II_inflow' in the stats output?

[2020-02-18 12:41] dickinsonre commented on #225
RDII flow is called I and I or Infiltration and Inflow.  External Inflow comes from a Time Series or External inflow to a node.  It is not Dry Weather flow, runoff or RDII flow.

[2020-02-18 16:07] Jiadalee commented on #225
Thanks. I found the 'external_inflow' variable is from the system routing_stats in pyswmm, but not from the node statistics . Does this mean the  'external_inflow' of pyswmm is the same as the system inflow?

[2020-03-02 21:50] Jiadalee opened #226 "set-up the LID catchment area"
Hi:

My SWMM model has over 1000 catchment. I wanna assign the LID area to each catchment as an iterative step-wise. However, I found there is no LID area in the control parameters of pyswmm.  Can anyone direct me to fix this issue? Thanks

[2020-03-03 02:54] jennwuu commented on #226
@Jiadalee are you modifying lid unit area for existing predefined lids? If so, you can update unit_area within LidGroup. https://pyswmm.readthedocs.io/en/stable/reference/lidgroups.html

[2020-03-03 15:59] Jiadalee commented on #226
@Jiadalee Not really. I just want to use the setter and getter functions for lid unit area. They seem enabled in this link. Thank you for sharing.

[2020-03-03 16:29] #226 closed

[2020-03-09 05:17] tscheuch opened #228 "Get Unit of Measurement of results and statistics"
Hi! Does anyone know how to get the units of results values? Specially the ones that are cumulative (statistics)!

Thanks a lot,

[2020-03-09 11:44] katmratliff commented on #228
hi @tscheuch, values are reported from pyswmm are the measurement units as defined in the .inp file. You can also use the Simulation module to retrieve flow units and system units. See the following examples below.

[code]
and
[code]

[2020-03-14 00:03] #206 closed

[2020-03-15 13:29] bemason opened #230 "Pollutant treatment enhancements"
Currently in SWMM you are limited by the math functions, treatment equation format, hydraulic parameters, etc. when you want to run treatment in a simulation. I want to create a new toolbox that will allow more flexibility and options when running treatment. For example, allowing you to use whatever treatment equation you want and then perhaps providing different Python solvers to solve those equa

[2020-03-15 17:47] bemcdonnell commented on #230
@bemason, great idea! Can you imagine up a flow diagram that shows how your propose to interact with the running simulation? Are you proposing to manage mass balances outside of swmm?

[2020-03-15 18:17] bemason commented on #230
@bemcdonnell @katmratliff No, I plan to let SWMM do mass balances and routing. Talking with @jennwuu, she suggested we create an API function to do something similar to treatment_treat function call where one of the parameter input is user specified removal rate. Setting this removal rate would be similar to the target_setting function.

To help me follow this potential option, I wrote some exampl

[2020-03-15 20:03] dickinsonre commented on #230
Great ideas @bemason However, I would caution against going against the mass balance routines of SWMM5 - it is very easy to get the wrong masses if you do not follow LAR's mass balance recipes.

There are already 31math expressions in the code in MATHEXPR.C though some of the trig functions seem less than useful.  You can actually add functions to MATHEXPR.C so IMO, starting from scratch is not

W

[2020-03-15 20:38] bemason commented on #230
@dickinsonre I understand that. I did not plan to bypass SWMM's mass balance or routing. I just want to be able to do other treatment equations, like differential equations (which I do not think would work in mathexpr.c nor does SWMM have the solvers to solve them to my knowledge) , and more complex treatment that is not supported currently. So the thought is that that will run in Python and then

[2020-03-15 21:13] dickinsonre commented on #230
Yes, that will work.  Good luck.  You might need more hydraulic information to go to your external gerRemoval.  Volume, velocity?

[2020-03-24 14:48] Argantonio65 commented on #157
@bemcdonnell I was wondering if this was finally merged into pyswmm?

[2020-03-24 19:40] Argantonio65 opened #231 "Swmm5.py update example in docs"
When using the pyswmm5 simulation routine from pyswmm, the simulation seems to be successful, and provides the same report file as running directly with the SWMM gui. However, when trying to open the binary output file with swmmtoolbox, the following error appears:

[code]
See the code here with attached exp1.inp
[code]

On the contrary, when using:
[code]
The generated binary output file exp1.out

[2020-03-25 21:01] bemcdonnell commented on #231
@Argantonio65, I don't typically suggest people run PySWMM with the lower-level api (by importing swmm5).

I suggest one of the methods found in the Simulation: https://pyswmm.readthedocs.io/en/stable/reference/simulation.html

But if you want to, what happens if you comment out

[code]

[2020-03-26 08:11] Argantonio65 commented on #231
@bemcdonnell Thanks for the answer. With the .swmm_report() commented the same error is generated. Also, I could check that the file .rpt is still generated.

[2020-03-26 08:16] Argantonio65 commented on #157
@bemcdonnell Was this finally merged into pyswmm? I saw that the link parameter pointers do not show roughness as an option.

Thanks a lot

[2020-03-26 14:06] bemcdonnell commented on #231
@Argantonio65, i wonder if the OUT file is being closed properly.  Just for a quick test - can you run it with the swmmtoolbox reader in a separate script?

[2020-03-26 14:45] Argantonio65 commented on #231
Running the swmmtoolbox from a different script does not change the issue.

Only, when running the swmm model from the Simulation approach, the .out can be successfully accessed.

Nevertheless, I think you are right, the .out and .rpt files are not being closed properly with ```swmm_model.swmm_close()```
If I try to delete the files with the Ipython console (spyder) still open I get a: "files are

[2020-03-26 14:50] bemcdonnell commented on #231
Here are the lines of code called when you instantiate the Simulation object (either using the `with` context manager or as normal.  When you start an iterator on the simulation object, it starts and ends your sim.  It does the cleanup for you as well so the user does not need to.  Is it possible for you to simply use the context manager?

https://github.com/OpenWaterAnalytics/pyswmm/blob/d3b7e79d

[2020-03-26 14:52] michaeltryby commented on #231
@Argantonio65 Have you tried this?

`swmm_start(true);`

[2020-03-26 14:55] bemcdonnell commented on #231
@michaeltryby I think that will do it... That's how the `Simulation` object manages it itself:

https://github.com/OpenWaterAnalytics/pyswmm/blob/d3b7e79d97e68dc35ab828e135152ff569d0fc8a/pyswmm/simulation.py#L114

[2020-03-26 15:06] Argantonio65 commented on #231
Indeed, the use of

``` .swmm_start(True) ```

made it work. I see that this is shown in the context manager of simulation.py, apologies.

We can then close the issue. @bemcdonnell mentioned that the use of swmm5.py is discouraged in favor of simulation.py, so people might not use it. However, I think it would be better if the small description at swmm5.py for the PySWMM class is updated with .swm

[2020-03-26 17:32] bemcdonnell commented on #231
@Argantonio65, we can update the docs to have True. I’ll leave this issue open until then

[2020-03-26 19:44] bemcdonnell commented on #157
@Argantonio65, circling back to your question - I haven't merged it in but if you want to take over that pull request, we can help you through the process!

[2020-04-07 13:24] rudyvandrie commented on #134
Hi all, Ole Nielsen (previous Co-author of the ANUGA model) is considering trying to crowd fund the ongoing development of the required Linking object between PySwmm and ANUGA. If this is done in a generic way I would guess it would more easily allow linking any other surface model to Pyswmm also.

[2020-04-08 17:51] bemason commented on #230
With the help of @jennwuu and @abhiramm7, I have developed a method to provide enhanced pollutant treatment capabilities for utilization in PySWMM. Now, in PySWMM, users can run their own external treatment and set the pollutant concentration in SWMM for SWMM to do mass balance and route the pollutant. This method allows the user to do that during any timestep or for the entire simulation.

This m

[2020-04-30 20:19] tscheuch opened #234 "Differences on Final Stored (Routing Continuity)"
Hi!
I am working on two SWMM models, one with groundwater and one without.
When I study the continuity analysis I obtain different values for the Final Stored from those reported by the .rpt file than those obtained using system_routing.routing_stats.

Does anyone have the same problem or know why I get different values?

[2020-04-30 20:24] bemcdonnell commented on #234
@tscheuch Could  you post some numbers for us to look at?  I'm interested in knowing what kind of magnitude difference there could be.

[2020-04-30 20:38] tscheuch commented on #234
**For the model without groundwater:**

On the .rpt file:

**************************        Volume         Depth
  Runoff Quantity Continuity     hectare-m            mm
  **************************     ---------       -------
  Total Precipitation ......         0.293       266.000
  Evaporation Loss .........         0.012        10.614
  Infiltration Loss ........         0.067        60.455

[2020-04-30 20:52] tscheuch commented on #234
For the model with groundwater:

The .rpt file:

**************************        Volume         Depth
  Runoff Quantity Continuity     hectare-m            mm
  **************************     ---------       -------
  Total Precipitation ......         0.293       266.000
  Evaporation Loss .........         0.012        10.579
  Infiltration Loss ........         0.067        60.455
  Surface R

[2020-04-30 22:41] bemcdonnell commented on #234
@tscheuch, I believe the `system_routing.runoff_stats` is showing you the final volume on your subcatchments.  The `system_routing.routing_stats` is showing you the final volume within your hydraulic network.

[2020-04-30 22:42] bemcdonnell commented on #234
@dickinsonbob, can you confirm?

[2020-04-30 23:49] dickinsonre commented on #234
@bemcdonnell The final volume on the sub-catchments is from the area and final runoff depth of the sub-catchments.  The final routing volume is the volume in storage nodes, nodes, and links so they are not the same.

[2020-05-01 16:10] tscheuch commented on #234
Quite so!
The problem is that studying in both cases the final routing volume, different values are obtained in the .rpt file (1.100 10^6 ltr) and using the pyswmm command system_routing.routing_stats (67601.63 (I am not sure of the measurement units, I supose that is m3 like the rest of the variables)).

[2020-05-01 16:16] bemason commented on #230
@bemcdonnell which branch should I make a pull request on? Thanks!

[2020-05-01 16:21] bemcdonnell commented on #230
@bemason `develop` please!

[2020-05-05 02:22] dokzai commented on #159
Hey guys! Here's me and my friend Philip's (@micropipette) attempt at the logos
![Pyswmm Text logo](https://user-images.githubusercontent.com/38355190/81030094-88666e00-8e55-11ea-99d4-99626b3c2262.png)
![Pyswmm Logo](https://user-images.githubusercontent.com/38355190/81030132-aa5ff080-8e55-11ea-8d14-b0fa4c3c1566.png)
![Pyswmm Artboard](https://user-images.githubusercontent.com/38355190/81030134-ac

[2020-05-05 12:25] michaeltryby commented on #159
Wow! Nice work!

[2020-05-05 12:36] bemcdonnell commented on #159
@dokzai, Nice work! I like the versions that explicitly say "PySWMM" a lot.  I wonder what it would look like if some details were added to show simple aspects of the water cycle.  Maybe rain, then runoff, then pipe networks? :-) Just an idea

[2020-05-14 15:46] xiang3874264 opened #235 "subcatchment percent_impervious couldn't be reset."
**Describe the bug**
When you want to reset the subcatchment's precent_impervious,  the `s1.percent_impervious = xx` does not work. However, the resets of other parameters like area and slope may work well.

**To Reproduce**
`sim=Simulation("D:\\Downloads\\pyswmm-master\\pyswmm-master\\docs\\source\\examples\\swmm_example.inp")`
`s1 = Subcatchments(sim)["S1"]`

[In]: s1.percent_impervious
[Out]: 0

[2020-05-14 16:07] jennwuu commented on #235
thanks for reporting this.

i don't think setter function exists in the OWA/swmm yet. i think pyswmm setter function for percent_impervious should be commented out until the setter is available in OWA/swmm. @bemcdonnell

[2020-05-14 16:47] bemcdonnell commented on #235
https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/4ce7352511157bd4b635ee80a005e47ff21cd23d/src/toolkitAPI.c#L739-L788

To confirm @jennwuu, yes. There is a validation step required to make this work. Sorry that I opened up that function before finishing it! @xiang3874264, Do you have the ability to dive into SWMM and update this API call?

[2020-05-15 00:23] xiang3874264 commented on #235
I see, thank you. Sorry that updating the API call exceeds my ability @jennwuu.

[2020-05-26 08:19] Nils-TalTech opened #236 "Flow_routing_error & runoff_error"
**Describe the bug**
Functions flow_routing_error and runoff_error seem to yield no result (output = 0.0)

**To Reproduce**
this code is not returning relevant errors:
sim = Simulation(file)
    sim.execute()
    print(sim.flow_routing_error)
    print(sim.runoff_error)

although error numbers can be obtained with lower level API:

mod = PySWMM(input_file)
    mod.swmm_open()
    mod.swmm_start()

[2020-05-26 14:17] bemcdonnell commented on #236
@Nils-TalTech,

When you use:
[code]
`sim.execute()` closes and clear the swmm data model

However, I believe if you use

[code]

Try this and let me know if it works

[2020-05-26 19:07] Nils-TalTech commented on #236
@bemcdonnell thank you for the hint. Sounds logical. Unfortunately this method returns 0.0 value for both routing and runoff. Checking from SWMM GUI these should be -1.15% and -12.73% respectively.

Maybe there is an issue with new release of SWMM? I'm using the version 5.1.014. I don't know if also DLL have been updated with this release.

[2020-06-11 00:41] tscheuch opened #238 "Rain Gage total precipitation can´t be set correctly"
**Describe the bug**
I was trying to reset the the Rain Gage precipitation while the simulation is running and I have problems when the amount is not an integer.

**To Reproduce**
I have two subcatchments (S1, S2) with a diferent Rain Gage (RG1, RG2) for each one. At the begining the precipitation time series are equal. The idea is that durning the simulation i need to reincorporate the evaporatio

[2020-06-11 01:15] bemcdonnell commented on #238
@tscheuch, we solved this issue recently but I don’t believe it has been merged back in. The issue is that behind the scenes in SWMM the value holding the rainfall rate is an int, not float.  Let me check where the code is. Maybe we can get it merged in tomorrow!

[2020-06-11 07:58] Nils-TalTech commented on #236
@abhiramm7 thank you for the hint! This solution works!

[2020-06-11 07:58] #236 closed

[2020-06-14 02:02] lrntct commented on #107
I've created a conda package for swmm:
https://github.com/conda-forge/staged-recipes/pull/11903

Now that it's all in the green, I'd like to add pyswmm to the PR. I wonder what would be the best approach for using the dll from the swmm conda package and not the one from the pyswmm package.
I would propose to change the dll discovery code as follows:
- First, use the dll from the user
- If not, sea

[2020-06-15 19:58] bemcdonnell commented on #238
@tscheuch, just so you are aware, this bug fix has been made here: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/278. Let me see what we can do about getting a patch release over there so we can release PySWMM with that binary.

[2020-06-16 02:04] lrntct opened #239 "swmm5.so: undefined symbol: __pow_finite"
**Describe the bug**
On 0.6.0 installed from pypi, pyswmm fails with an error from the SWMM binary:

[code]

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.4
 - Python Version 3.8.2 [GCC 9.3.0]
 - PySWMM Version pyswmm-0.6.0-py2.py3-none-any.whl

**Additional context**
Compiling the swmm binary from source solves the issue.

[2020-06-16 02:06] lrntct commented on #239
Possibly related: #186 #216

[2020-06-16 18:56] lrntct commented on #158
@bemcdonnell I also believe that having the coordinates as object properties could be considered a basic feature.
I have somewhere a piece of code that parses the INP for links vertices and nodes coordinates. If there is an interest, I could try to adapt it for pyswmm and open a PR. I think it should be easy to do the same for catchment polygons.

[2020-06-16 19:15] dickinsonre commented on #158
So you are saying that currently PySWMM does not store the geometry features and does not export any coordinates to the SWMM5 engine?  Not that the engine currently uses and GIS-related information but in the future, it might be nice to have rain gages cover the Subcatchment polygons for example to extract area-weighted rainfall.

[2020-06-16 19:27] bemcdonnell commented on #158
@dickinsonre, PySWMM doesn't really do anything with the INP directly.  The API on SWMM exposes the SWMM data model once the INP is parsed and read in.  SWMM does not read many sections of the INP including `[COORDINATES]`, `[VERTICES]`, or `[POLYGONS]`.  I am open to talking about exposing these through PySWMM properties but I am not overly excited about it.  @aerispaha's `swmmio` is a great tool

[2020-06-16 19:52] lrntct commented on #158
@bemcdonnell As a use case example, coupling a surface model requires knowing the node coordinates. That is why itzi currently includes a swmm inp parser.
More generally, whether or not the coordinates are part of the swmm data model is debatable, but I believe it is reasonable to consider that a pyswmm user will expect to have access to every information present in the SWMM INP. This includes the

[2020-06-16 20:11] bemcdonnell commented on #158
Thanks @lrntct. I understand your use case better.  Ok! @jennwuu / @katmratliff / @abhiramm7 what do you think?  Final concerns are around coordinate systems - do we need to think about this (@aerispaha)?

[2020-06-16 20:19] lrntct commented on #158
@bemcdonnell I would consider the management of CRS out of scope.

See Shapely as a example: no support for CRS. There is geopandas for that.

[2020-06-16 20:35] abhiramm7 commented on #158
@bemcdonnell I agree with you, adding GIS functionality to pyswmm would be out of scope, but having an add on module that provides GIS functionality would be cool.

I really like @lrntct idea of incorporating a _lite_ INP parser into pyswmm. I have been swmmio to do that and having it as a feature of pyswmm would be good. This parser also can be repurposed to generate/update input files, which cou

[2020-06-16 20:46] jennwuu commented on #158
@lrntct I agree that we should be able to get coordinates from swmm datamodel. Can you explain what functionalities will be provided by Python INP parser? Will this parser be outside of swmm data model?

Can we use functions from swmmio? I know swmmio has functionality to get/modify data from SWMM inp/out/rpt file. @aerispaha

[2020-06-16 21:32] michaeltryby commented on #158
I actually have a more radical idea. I think we should migrate SWMM input data to a geospatial database format. Then develop modules around it to provide the interfaces and services we want. This is what I’m considering for the UI project.

[2020-06-16 21:35] dickinsonre commented on #158
If you do that @michaeltryby then you lose the universal value of the SWMM5 inp file format to so may vendors, Matlab users, and Python programmers in general.  Not to mention that the simplicity of the inp file makes it easy to edit and understand.

[2020-06-16 21:41] michaeltryby commented on #158
@dickinsonre i understand the appeal of the input file format. We would still support it with import and export functionality. I encourage you to think instead about what would be gained  by using a database to manage data and conforming with OGC standards. It would create exciting new data workflow possibilities.

[2020-06-16 22:28] lrntct commented on #158
@abhiramm7 The embedded lite parser is fine to just expose the coordinates as object properties.
If we want a more generic parser / writer, then maybe a separate, generic inp_parser module would be more adequate. Then pyswmm could rely on that module.

I really like the idea of @michaeltryby, for the long term. For the time being, I believe that a light, embedded parser is a "low hanging fruit" ap

[2020-06-17 16:54] aerispaha commented on #158
The [swmmio ](https://github.com/aerispaha/swmmio/) project covers parsing the INP file and exposes getters/setters for most of the typically used sections. I'd recommend folks consider that before rewriting another parser.

For example:

[code]
It also provides a means to deal with coordinate reference systems, and easy export of nodes, links and subcacthments as geosjon (or whatever spatial form

[2020-06-17 19:12] DJHostetler commented on #158
I agree @aerispaha that swmmio would be the answer if not for the pandas dependency. One of the things I like about libraries like shapely and pyswmm is the lack of dependencies (along with a well thought out design).

@michaeltryby On the other front of changing the SWMM input file to a geodatabase, as a user I have mixed feelings. What file type would you use? If you go with shapefiles you are g

[2020-06-17 19:18] dickinsonre commented on #158
There is a version number for SWMM5 in the OUT binary file which gives you a clue as to when the INP was last used/run.  I agree the lack of version number in the input file is a real drawback for those of us with thousands of inp files or even a decades-long list of input files.

[2020-06-17 23:25] abhiramm7 commented on #158
@gregjewi can `swmmWrangler` be used as a INP file parser? I am not sure if you had pandas as a dependency or not.

[2020-06-18 01:18] lrntct commented on #158
As an example, here is the basic INP parser that I wrote for getting the nodes and links coordinates:

https://github.com/ItziModel/itzi/blob/2785fbb5e0c041ed4367eb1634d4d1f93bea67c6/itzi/drainage.py#L195

It does not rely on any dependency and I believe it could be easily integrated in pyswmm.

[2020-06-18 04:58] gregjewi commented on #158
@abhiramm7 no, the parser and the data structures do not rely on pandas. The parser in `swmmWrangler` has the capability to import sections not listed in the above link, namely: map, polygon, and symbols. (I wanted to do affine transformations with the geo data and needed all the geo data in the inp files I was processing.) As a side, I never found/searched for a canonical INP file to base my pars

[2020-06-18 23:30] michaeltryby commented on #158
This topic has generated some great discussion! Thanks to everyone for sharing their ideas! I've been giving this some thought and perhaps there is an alternative we haven't considered.

The philosophy of pyswmm, which I have discussed many times with @bemcdonnell was to do things that other Python wrappers weren't doing by building out SWMM's C API. This turned out to be a serviceable idea that u

[2020-06-19 00:13] DJHostetler commented on #158
@michaeltryby Are you referring to this effort in the OWA SWMM repository? [https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/47](url)

Unfortunately I wasn't able to get clearance at my firm to contribute to that effort, but hopefully someone else can find the time and resources to contribute. What might help get the group effort going is for someone who is more C literate

[2020-06-19 17:56] bemcdonnell commented on #158
Thanks everyone who has contributed into this discussion.  I think integrating the coordinate features `[coordinates] [vertices] [polygons]` into SWMM's data model and exposing these through an API will centralize "parsing" to a single parser down at the lowest level.  I believe it will be a better building block for ALL potential higher-level wrapping languages (Python, R, MATLAB, ...).  So I am

[2020-06-19 17:56] #158 closed

[2020-06-22 23:16] zxyzmbc1030 commented on #224
Hi, I can use the cumulative_inflow for the total volume, so avoid the time step problem. But I still have no solution for changing the engine version in pyswmm. When I change the swmm5.dll file in pyswmm package, it gives the error as:
OSError: [WinError 126] The specified module could not be found.
I think it's because the useful module is the swmm5-x64.dll, but I don't have the one with 5.1.013

[2020-06-23 11:11] bemcdonnell commented on #224
You upgraded pyswmm and it’s looming for VCOMP*.dll

Try this https://github.com/OpenWaterAnalytics/pyswmm/issues/186

[2020-06-23 12:29] zxyzmbc1030 commented on #224
I think the version I use is the latest one: pyswmm 0.6.0.
So which part should I update? Thanks

[2020-06-23 12:35] zxyzmbc1030 commented on #224
Also, where can I download vcomp.dll. Thanks.

[2020-06-23 17:58] bemcdonnell commented on #224
@zxyzmbc1030 https://github.com/OpenWaterAnalytics/pyswmm/issues/186#issuecomment-533308936

[2020-06-24 01:16] tscheuch commented on #238
Thank you so much @bemcdonnell! In the meantime...is there any way  that I can work locally with pyswmm with the last Stormwater-Management-Model binary?

[2020-06-24 03:37] bemcdonnell commented on #238
Which binary are you wanting to run?

[2020-06-25 05:28] lrntct opened #240 "Line endings is CRLF in pypi"
**Describe the bug**
The line endings in the pyswmm pacjage on PyPI are CRLF (the Windows format). This is a source of headaches when trying to patch a file installed from PyPI. (See for example https://github.com/conda/conda-build/issues/1973)

**To Reproduce**
1. Clone the repository
2. Modify a file
3. Create a patch
4. Try to patch the file from PyPI

**Expected behavior**
All source files sho

[2020-06-25 17:21] bemcdonnell commented on #240
@lrntct, after the next release I will update all project files to `LF`.  Can this wait until the next release?

[2020-06-25 17:55] lrntct commented on #240
@bemcdonnell For now, this issue is blocking the pyswmm conda package. If it waits for another release, I can simply make a PR to integrate the changes upstream instead of patching from PyPI.
This is the patch I struggle to apply:
https://github.com/conda-forge/pyswmm-feedstock/blob/master/recipe/__init__.py.patch
Please let me know if you would consider a PR on the matter.

[2020-06-25 17:57] bemcdonnell commented on #240
Ok Good to know! I'll do it right now ;-)

[2020-06-25 18:31] michaeltryby commented on #240
There is a setting in git that automatically handles line endings for you. Here is a link to an article about it. https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings

[2020-06-25 19:18] lrntct commented on #240
@michaeltryby Surprisingly, if I git clone the repository, the lines endings are LF. But the line endings in the PyPI package are CRLF. That is why a patch which work on my computer based on the git repository no longer works on the PyPI package.

[2020-06-25 19:19] bemcdonnell commented on #240
This command "git config --global core.autocrlf input" i think fixed it.. i should have a PR in a second.

[2020-06-25 19:32] bemcdonnell commented on #240
@lrntct, when i started the project I was doing dev on Windows and therefore committed the first batch of files as CRLF. I am trying to fix that now.. believe it or not, it's not straightforward!

[2020-06-25 19:34] lrntct commented on #240
@bemcdonnell I reported the issue exactly because it is a pain in the neck ;)
Thank you for paying attention.

[2020-06-29 04:18] nickrsan opened #242 "(JOSS Paper) Missing Contributor Information"
Hi all,

I'm one of the reviewers for the pyswmm paper with JOSS (https://github.com/openjournals/joss-reviews/issues/2292) - I've almost completed my review and everything seems great, but one thing that seems to be missing that's on the JOSS checklist is contributor guidelines in the documentation - I see the code of conduct in the repository, but JOSS requires the following:

[code]

[2020-06-29 12:58] bemcdonnell commented on #242
@nickrsan

Thanks for taking time to review! We have put a lot of this info in our wiki - would it make more sense to canonicalize these in the repo itself?

- Contribute to the software

https://github.com/OpenWaterAnalytics/pyswmm/wiki/Author-Contribution-Checklist
https://github.com/OpenWaterAnalytics/pyswmm/wiki/Dev-Github-Workflow

- Report issues or problems with the software / Seek support

[2020-06-29 18:27] nickrsan commented on #242
Hi @bemcdonnell - thanks for the details! I'm sorry I missed it in the wiki - I should have thought to check there, but maybe a link from the README would help?

The info in the wiki is sufficient for the paper, as far as I'm concerned. I had been looking for a link in the documentation (which I don't think it needs), in the README, or for a [CONTRIBUTING.md file](https://help.github.com/en/github

[2020-06-30 06:26] pdim21 opened #243 "Setting the CN parameter in every time step"
Is there any way to set a new Curve Number in a subbasin in every simulation step (when utilizing the SCS Curve Number infiltration method)?

If this is the case, is it possible to give an example?

[2020-06-30 12:52] bemcdonnell commented on #243
@pdim21, at the moment this is not possible.  Can you describe your use case? I'm not sure such a feature will be in super high demand.  However, I can think of a couple of ways that you might want to build your hydrologic engine in Python.

[2020-06-30 13:03] pdim21 commented on #243
@bemcdonnell : I was thinking that in most cases the CN parameter is fixed. But in case you run a long simulation with a precipitation times series as input you could possibly correlate your CN value with the precipitation of -a- previous time step/s (e.g. multiple high intensity rainfall events foreshadow a larger value of CN) and, thus, update your CN estimation.

[2020-06-30 14:15] jennwuu commented on #243
Is it possible to replicate what you described above with drying time parameter where you can control how long it takes for your soil to dry?

[2020-06-30 14:19] cbuahin commented on #243
I like @jennwuu's suggestion because you can incorporate not only rainfall but also atmospheric conditions influence rainfall excess.  I am not sure if the drying time is a parameter that can be modified through pyswmm though.

[2020-06-30 14:44] katmratliff commented on #242
@nickrsan thank you for the suggestion! I opened up a PR #244 to add the link to the Wiki in the README.

[2020-06-30 15:00] bemcdonnell commented on #243
Ok so your use-case is more event-by-event.  One option could be to run a storm, stop/save a hot start file, adjust a parameter then start your next model.  You can automate that workflow with PySWMM for sure

[2020-07-01 02:12] #242 closed

[2020-07-13 03:55] bjamali opened #246 "setting Subcatchment Parameters for calibration purposes"
It seems that Subcatchment parameters that can be set by user are limited to width,  area,  fracImperv, slope  and curbLength (see class SubcParams(Enum) in toolkitapi.py).

For calibration of  a SWMM model it is usually necessary to change parameters such as previous and impervious roughness, infiltration rates, depression storage, etc. Is this functionality already available?

[2020-07-13 13:48] jennwuu commented on #246
Are you looking to change these parameters before simulation starts?

[2020-07-13 14:07] lrntct commented on #240
@bemcdonnell Do you plan to update the 0.6.0 packages on PyPI?
If not, I think of hosting a patched package for the conda package to depend on, but it is not ideal.

[2020-07-13 14:12] bemcdonnell commented on #240
I tried to fix this the other day.  It's not straightforward to do so.  I'm curious @goanpeca, have you dealt with this before?

[2020-07-13 14:15] goanpeca commented on #240
I have, but proceed as you suggested, changing the git config but also changing all files "manually"

[2020-07-13 14:18] bemcdonnell commented on #240
@goanpeca, it seems like when i try to do this, the files changes do not have any results with GitHub. I believe when this repo was setup originally i pushed Windows line endings (this is almost 8 years ago now).  So as I understand this, when we check in the files, the endings are always converted to `CRLF`.

[2020-07-13 14:20] goanpeca commented on #240
See https://docs.github.com/en/github/using-git/configuring-git-to-handle-line-endings

[2020-07-13 15:23] bjamali commented on #246
Yes, thats correct.

Sent from my iPhone

[2020-07-13 16:14] jennwuu commented on #246
I don't think this feature is available in the SWMM toolkitapi, which is what pyswmm use. I would make the request here: https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues

[2020-07-13 16:54] michaeltryby commented on #240
@bemcdonnell and @lrntct I think the solution is to prepare two packages. With each having appropriate line endings for the intended platform. Github does this when you create a tag it creates .zip and a .tar.gz archives. Likewise, we should have a version of PySWMM for Windows and a version for Linux/Unix.

Anyhow, this is one potential solution.

[2020-07-13 17:13] lrntct commented on #240
@michaeltryby the Windows version does not need to have Windows line endings in the git repo.

[2020-07-14 15:06] tscheuch opened #247 "Conduits seepage and xsection_area"
Hi everyone!
I am trying to get the seepage loss on conduits. When I use the .seepage_rate I get the following error:

![image](https://user-images.githubusercontent.com/61126547/87440413-f18a0080-c5bf-11ea-8974-b227691f3ed5.png)

Do you know what happens?
Also, is this seepage_rate the user supplied one or the real seepage loss as a function of the width of the water surface?

Trying to calculate

[2020-07-14 15:33] bemcdonnell commented on #247
@tscheuch,

this is super interesting that this property is provided in pyswmm. looking at the SWMM function that PySWMM calls, i don't even see seepage rate therein:

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/419e406abc19173fc42be40d2cfccd3348f4c641/src/toolkitAPI.c#L615-L657

So the error pyswmm is throwing makes sense but the fact that we opened up this feature in t

[2020-07-14 19:15] katmratliff commented on #247
@bemcdonnell it looks like the last time the seepage rate getter/setter was touched was 3 and 4 years ago, so before my time :)

[2020-07-14 19:17] jennwuu commented on #247
I think it was before my time as well. But it would be great feature to add. :o

[2020-07-14 19:18] katmratliff commented on #247
agreed, it looks pretty straightforward to do so on the SWMM API side.

[2020-07-14 22:12] bemcdonnell commented on #247
Yup! I'm totally responsible for this bug. @tscheuch, would you be open to helping us fix this?

[2020-07-15 14:52] tscheuch commented on #247
For sure!
I have no idea how pyswmm interacts with SWMM codes. The thing is that the seepage rate of a conduit is calculated with a user supplied rate. I imagine that getting/setting this parameter shouldn't be difficult.
It would be interesting to report the real seepage loss of the conduit in every step (that is calculated on link.c and depends on the the width of the water surface). The losses

[2020-07-15 15:03] dickinsonre commented on #247
Some 3rd party software do report the time step seepage for each link and it is often useful.

[2020-07-22 07:38] yangdong963 commented on #246
Hello, I am studying pyswmm recently, and I have a question to ask you. The parameter of changing the impervious area of the subcatchment cannot be modified. Is it my code problem? ‘’‘S1.percent_impervious = 10’

[2020-07-22 07:39] yangdong963 commented on #246
code:print(s1.percent_impervious)
    s1.percent_impervious = 10
    print(s1.percent_impervious)
output:
0.29
0.29

[2020-07-22 12:40] katmratliff commented on #246
Hi @yangdong963, can you please post a larger portion of your code? Thanks!

[2020-07-22 12:44] yangdong963 commented on #246
from pyswmm import Simulation, Subcatchments
with Simulation('./C1C2.inp') as sim:
    s1 = Subcatchments(sim)['S1']
    s1.slope = 100
    s1.percent_impervious = 0
    s1.percent_impervious = 0.22
    print(sub.percent_impervious)

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-07-22 12:52] yangdong963 commented on #246
from pyswmm import Simulation, Subcatchments
with Simulation('./C1C2.inp') as sim:
    s1 = Subcatchments(sim)['S1']
    s1.slope = 100
    print(s1.percent_impervious)
    s1.percent_impervious = 0.22
    print(s1.percent_impervious)
Hello, when I tried to modify the percent_impervious parameter in subcatchments, I found that this parameter cannot be modified, and parameters such as slope can be

[2020-07-22 13:04] katmratliff commented on #246
thanks @yangdong963. As @bemcdonnell pointed out [here](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/298#issuecomment-662435305), this feature is not yet available. From the comments in the code, it looks like this may be a more challenging setter to implement, as it will require recalculation of other parameters after setting. I believe @jennwuu is working on some of t

[2020-07-22 13:15] yangdong963 commented on #246
Thank you for answering my question. In the process of calibrating the model, the parameters in subcatchments such as N-Imperv, N-perv, Dstore-imperv and other parameters are also empirical parameters that can be adjusted. I don’t know if you will consider them in the next development process. Yet?
One last word, thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-07-22 13:18] bemcdonnell commented on #246
@yangdong963, would you be interested in contributing these features?

[2020-07-22 13:30] yangdong963 commented on #246
Thank you, I'm just new to programming and I still don't have the ability to contribute

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "OpenWaterAnalytics/pyswmm"                                                                                    <notifications@github.c

[2020-07-22 16:39] jennwuu commented on #246
@yangdong963 yes, N-Imperv, N-perv, Dstore-imperv, and Dstore-perv are parameters I am planning to expand in subcatchment getters and setters.

[2020-08-07 21:30] tscheuch commented on #238
Hi! I just upgraded pyswmm to the 0.6.2 version and I got the same problem!

[2020-08-10 11:50] katmratliff commented on #238
@bemcdonnell @jennwuu what do you all think about a patch release of OWA-SWMM so we can incorporate those binaries? I know there's been a lot of hard work over there over the past few months, but I'm not sure what the status is in terms of being close to a release to incorporate this fix.

[2020-08-10 11:55] bemcdonnell commented on #238
@katmratliff, I’m in favor of it! @tscheuch, sorry about the bug still!

[2020-08-19 11:58] stoiver opened #253 "Missing tutorial file testmodel.inp"
Just checking out the online documentation for [pyswmm](https://pyswmm.readthedocs.io/en/stable/tutorial/tutorial.html)  which uses the file `testmodel.inp`. I can't find this file. It would be great if the file could be added to this repository.

[2020-08-19 16:33] katmratliff commented on #253
@bemcdonnell do you have this file, or is this something we need to generate and post to the documentation?

@stoiver in the meantime, please check out the [Examples](https://pyswmm.readthedocs.io/en/stable/examples/examples.html) part of the documentation - that section does have a downloadable input file and some python code examples!

[2020-08-19 17:21] bemcdonnell commented on #253
I do not have this file. I wonder if I just arbitrarily plopped that file name in for the documentation

[2020-08-19 19:10] katmratliff commented on #253
@bemcdonnell ok thanks. When I get a chance, I'll make an actual `testmodel.inp` file that can be downloaded from the tutorial page and works with all the snippets of python code in the tutorial - or let me know if you have any other ideas!

[2020-08-19 22:19] stoiver commented on #253
@katmratliff thanks for the pointer to the examples part of the documentation.

[2020-08-20 21:10] zxyzmbc1030 opened #254 "PID control in PySWMM"
Hi,

Does anyone have experience on how to use PID control in pyswmm? Or to say, is it possible to use PID rules in changing weir or orifice setting dynamically?

thx.

[2020-08-20 23:09] jennwuu commented on #254
Hello @zxyzmbc1030,

Check out this section https://pyswmm.readthedocs.io/en/latest/tutorial/tutorial.html#pyswmm-controls for example of changing target setting of a link.

[2020-08-26 04:30] lrntct commented on #107
The package at https://anaconda.org/conda-forge/pyswmm/files should now work. You are welcome to try.
Because of #240 , the changes proposed in #241 are integrated via a forked package. Hopefully, in the future either #241 is merged or #240 is solved, so the conda package can rely directly on the pyswmm package.

[2020-08-26 12:00] bemcdonnell commented on #254
@zxyzmbc1030, is this question resolved?

[2020-08-27 07:23] #254 closed

[2020-08-27 07:24] zxyzmbc1030 commented on #254
Yes, thanks

[2020-09-07 08:36] pdim21 opened #255 "Retrieve links' results (Froude, DS & US XS Flow area)"
Hi to everyone!

I have written a script to run simulations in multiple inp files (corresponding to different precipitation time series) and store the results in an excel file utilising xlswriter.

When I am trying to store the values for the Froude number and DS & US XS Flow area I always get a zero value.

My code is the following one:

[code]

In the zip file you can access one of my inp instan

[2020-10-02 15:39] s154024 opened #257 "Interacting with a storage unit"
Hi, I'm trying to automate some simulations for different detention ponds using SWMM and pySWMM.

Therefore, the storage curve is crucial to my project. I've created a code which automatically creates
storage curves as .dat files, which is then imported into SWMM. The idea was that the generated storage curve should overwrite the previous (same file name) between simulations, however, this is not

[2020-10-02 15:42] bemcdonnell commented on #257
@s154024, could you provide more detail on the scripted process you are using? PySWMM doesn't "save" or edit an INP file.

[2020-10-02 16:17] s154024 commented on #257
I’m trying to run a loop where I change the volume of a storage unit in a simple system created in SWMM (containing a subcatchment and a storage unit with an outlet link and weir).

The storage unit is created in SWMM and the volume is depended on a tabular curve. This curve is defined under the storage curve tab and is then loaded from a data file. For this purpose, I’ve created the beforemention

[2020-10-02 16:32] dickinsonre commented on #257
in native SWMM5 you can graph or make a table of the volume in a storage unit - do the graphs make sense.

[2020-10-02 16:35] s154024 commented on #257
I've copied some of my code (no loop here):

#Initiates simulation
sim = Simulation(r"./SWMM_System.inp")

#Defines start and end time of simulation and reporting
sim.start_time = data['Date_Time'].iloc[1710000-1600] #start of the event of interest
sim.report_start = data['Date_Time'].iloc[1710000-1600] #start of the event of interest
sim.end_time = data['Date_Time'].iloc[1710000-1400]+timedelta(m

[2020-10-02 16:38] bemcdonnell commented on #257
@s154024 how are you ending/closing your simulation?  I normally suggest people use the context manager:

[code]

[2020-10-02 16:44] s154024 commented on #257
Thanks @dickinsonre - Though, I do know that I can load the curve directly in SWMM, but I'm trying to do it through pySWMM as I want do run a simulation of lots (!) of different storage curves (I'm trying to assess how the shape and size of detention ponds affects the overflow frequency). The above script will be put inside a few for loops, which modifies the shape of the pond depended on e.g. the

[2020-10-02 16:45] s154024 commented on #257
And @bemcdonnell thanks, I just forgot the "pass" statement.

[2020-10-02 16:51] bemcdonnell commented on #257
@s154024 i just want to be totally clear - so you are are manually calling `sim.close()`?  The `with` context manager does this for you.  I'm curious about how you have embedded pyswmm in your loop.

[2020-10-02 17:15] s154024 commented on #257
@bemcdonnell I  just double checked the code - and I don't have a pass or close statement. The relevant pySWMM results  from one simulation are stored in a sql database, which is updated after each iteration (sorry, I just assumed I forgot to copy some code when you asked).

[2020-10-02 17:24] s154024 commented on #257
But back to the topic: Does anybody know if it is somehow possible to manipulate the volume of a storage unit through pySWMM (... by defining the wanted storage curve?)

[2020-10-09 12:37] pdim21 commented on #255
I have modified my code in order to save in csv files. Meanwhile, I have changed the solution method to Dynamic Wave instead of Kinematic Wave and the aforementioned values are stored properly.

It would be great to hear your opinion on the topic: Has this problem to do with the choice of an inappropriate calculation method ?

My script is the following one:

[code]

[2020-10-09 14:40] dickinsonre commented on #255
The KW solution is much simpler than the dynamic wave solution so many of those output parameters are not used in the KW solution.

[2020-10-09 16:49] bemcdonnell commented on #255
@dickinsonre, Thanks for that answer.  I was going to mine the OWA/SWMM code to show "why" but I got distracted :-)

[2020-10-09 17:36] pdim21 commented on #255
@bemcdonnell I would love to see that code.

[2020-10-12 09:05] pdim21 opened #258 "Nodes & Conduit stats' documentation"
Hi, I was wondering if there is any available documentation describing the [node](https://pyswmm.readthedocs.io/en/stable/reference/nodes.html#pyswmm.nodes.Node.statistics) and [links](https://pyswmm.readthedocs.io/en/stable/reference/links.html#pyswmm.links.Conduit) statistics?

[2020-10-12 12:09] dickinsonre commented on #258
There are three types of statistics:  maximums. volumes and solution summaries (hours surcharged, area classification, and percent of the time in normal flow.  Are you asking about the last category?   Lew Rossman covers the classification in the EPA SWMM Hydraulics Reference Manual.

[2020-10-12 12:22] pdim21 commented on #258
Most of them are self-explanatory, but I still have some blind spots regarding the following stats:
Nodes:
- courant_crit_duration
- max_depth vs max_report_depth
Conduits:
- time_normal_flow
- time_inlet_control
- time_full_upstream & time_full_downstream
- time_surcharged vs time_full_flow vs time_capacity_limited
- time_in_flow_class
- time_courant_crit
- flow_turns
- flow_turn_sign

[2020-10-12 13:26] dickinsonre commented on #258
Some of those names are not the same as in EPA SWMM5 and EPA SWMM5 has different headers in the Link Surcharge and Link Summary Tabless but here is **A** explanation of each:

courant_crit_duration   **Normal Flow Limited in SWMM5?**
max_depth vs max_report_depth   **The maximum depth in the OUT file may be different than the maximum depth in the summary table as the summary table is the TRUE maxi

[2020-10-13 15:09] floriandorre commented on #238
Hi, does someone have a temporary fix for this issue while it is not deployed ?

[2020-10-14 12:25] katmratliff commented on #238
@jennwuu @bemcdonnell @cbuahin what do you all think about a patch release of OWA-SWMM so we can incorporate this fix into pyswmm?

[2020-10-14 12:38] katmratliff commented on #238
Hi @floriandorre a work-around for the meantime would be to to compile the current version of OWA-SWMM and use that binary with pyswmm. What operating system are you currently using?

[2020-10-14 15:13] cbuahin commented on #238
@katmratliff , I don't see why not but I will leave it to Bryant and Jenn.

[2020-10-14 17:10] bemcdonnell commented on #238
@katmratliff, I suggesting making the release of pyswmm-v0.6.3 (or are we on 0.6.4).  We are almost done with pyswmm-v1 but that will be in Beta for a few months

[2020-10-14 17:16] bemcdonnell commented on #255
@pdim21 here is C code in the api.  you can trace it to the Links.c file to see how the kinematic wave and dynamic wave manage these structure properties

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/c351f07713ae130f765b4e4a63def42dbc05998f/src/toolkitAPI.c#L1835-L1880

[2020-10-14 17:41] katmratliff commented on #238
Thanks @bemcdonnell. When you all make a patch release of OWA-SWMM, I can pull the binaries from that over to pyswmm and make a release here. Or let me know if you all think there's a better way to proceed. I'll be on the on the lookout at the SWMM repo, @bemcdonnell @jennwuu @cbuahin!

[2020-10-19 02:46] nantekoto opened #259 "How can I edit the time series of rainfall?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.  Good to place code here with support files.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [

[2020-10-19 02:49] bemcdonnell commented on #259
@nantekoto, you’re reporting a bug?

[2020-10-19 03:07] nantekoto commented on #259
the system module offer the stats of rainfall time series, however how should I edit the data and rerun the model

[2020-10-20 08:19] floriandorre commented on #186
Is there any solution for this issue ? I would like to open results generated using pyswmm 0.6.2 but when I load the INP file the flag at the bottom of EPA SWMM software is not green so I can't visualise the results with it. Not sure if my problem is linked to this issue but the difference with both .rpt files is the engine used to execute the simulation

EPA SWMM .rpt file : EPA STORM WATER MANAG

[2020-10-20 13:26] bemcdonnell commented on #186
@floriandorre I think your comment belongs here: https://github.com/OpenWaterAnalytics/pyswmm/issues/224

[2020-10-20 13:29] bemcdonnell commented on #224
@dickinsonre Do you think there are any options for releasing the EPA-GUI with a drop down box allowing people to open their results in the UI from a different model?  We aren't maintaining that here at all so @floriandorre, I'm not sure what to tell you at the moment.  There are some libraries available to open your results in Python if those would be helpful.

[2020-10-20 13:32] floriandorre commented on #224
Thanks @bemcdonnell, for now, I will just use the python solution since there is no way to open the results with EPA GUI but this improvement could be really useful

[2020-10-20 13:51] michaeltryby commented on #224
@bemcdonnell The general consensus is that users want their results to be compatible with the "EPA" version of SWMM. I would argue that numbering OWA SWMM "5.3.0.dev0" is aspirational on your part. You and I both know all about semantic versioning. Users don't seem to understand what your version numbering is indicating.

For better or worse, the body of work here is more of a patch to EPA SWMM th

[2020-10-20 14:01] michaeltryby commented on #259
Seem to be some confusion. Issues are being used for support requests. Upside is that we have users! So perhaps we need to setup a better support channel and "communicate" it to them.

[2020-10-21 14:12] bemcdonnell commented on #259
@nantekoto, you should just write a process to edit your INP file if you want to adjust a timeseries there.

[2020-10-21 14:12] #259 closed

[2020-10-21 18:59] bemcdonnell commented on #238
@jennwuu, if I buy some food for your sloth, could you make a quick patch release with this minor bug fix?

[2020-10-21 19:04] jennwuu commented on #238
This is fixed in pyswmm v1.0 release.

[2020-12-11 00:12] BrianN92 opened #260 "Does pyswmm support multiprocessing?"
Hello,

I was implementing reinforcement learning on SWMM5 models with the help of pyswmm. Everything worked fine until I try to run multiple SWMM input files in parallel. The errors popped out as "API Key Error: Simulation Not Running." Then I found this issue #222 which seemed to be an answer to me. So I  am wondering if pyswmm supports multiprocessing at this moment?  Is there another way to do

[2020-12-15 21:26] BrianN92 opened #261 "ERROR 307: cannot open binary results file."
**Describe the bug**
The inp file was able to be run without issue for several times until it suddenly broke. I did not modify the inp file. Does anyone ever run into this error?

**Screenshots**
![image](https://user-images.githubusercontent.com/21299740/102274196-78396580-3ef1-11eb-91b9-cd331753ce01.png)

**Desktop (please complete the following information):**
 - OS: [Linux]
 - Python Version [

[2020-12-16 14:59] bemcdonnell commented on #261
@BrianN92 did you by chance have the OUT file open in something else at the same time?

[2020-12-16 17:07] BrianN92 commented on #261
@bemcdonnell Thanks for replying! Unfortunately, I am not sure. I have a script which automatically and randomly runs swmm inp files one by one in a folder. Before the error occurred, that inp file had been ran by the script twice or more successfully.

[2020-12-17 14:53] bemcdonnell commented on #261
@BrianN92 so this problem isn't consistent?

[2020-12-18 18:25] BrianN92 commented on #261
@bemcdonnell So far what seems to me is the same file is able to be opened twice but will report error at the third time. It could be the reason I did not close it properly.

[2020-12-18 18:44] BrianN92 commented on #261
@bemcdonnell Sorry I just found this error is not caused by opening a file multiple times. The script will crash after running about 4 mins every time.

[2020-12-18 20:33] michaeltryby commented on #261
Hey @BrianN92 is the path to the binary file the same or different for each call?